/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}
p {margin: 0px;}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}
textarea {
  display: block;
  outline: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
/* [ Scroll bar ] */
.js-pscroll {
  position: relative;
  overflow: hidden;
}
.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}
.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}
.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}
.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}
/* [ Table ] */
.limiter {
  width: 100%;
  margin: auto;
}
.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  margin: auto;
  border-radius: 5px;
}
.container-table100 h1{
  color: #00ad5f;
  font-weight: 700;
  font-size: 30px;
  font-family: tahoma;
}
.wrap-table100 {
  width: 100%;
}
/* [ Table ] */
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}
tr{
  border-radius: 5px;
}
th, td {
  font-weight: 600;
}
td img{
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.column1 {
  width: 20%;
}
.column2 {
  width: 15%;
}
.column3 {
  width: 10%;
}
.column4 {
  width: 10%;
}

.column5 {
  width: 15%;
}
.column6 {
  width: 20%;
}
.column7{
  width: 10%;
}
 .column7 a{
   margin-top: 20px;
    color: black;
    width: 90%;
    height: 40px;
    font-size: 15px;
    text-align: center;
    font-family: tahoma;
    font-weight: 600;
 }
 .column7 a i {
   margin-top: 8px;
   font-size: 15px;
 }
.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}
.table100-head table thead tr th {
  color: #00ad5f;
  font-family: tahoma;
  text-align: center;
}
.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
/* [ Fix header ] */
.table100 {
  position: relative;
  padding-top: 60px;
}
.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.table100-body {
  max-height: 585px;
  overflow: auto;
}
/* [ Ver1 ] */
.table100.ver1 th {
  font-family: tahoma;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
}
.table100.ver1 td {
  font-family: tahoma;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}
.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}
/*---------------------------------------------*/
.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.table100.ver1 .ps__rail-y {
  right: 5px;
}
.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}
.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
/* [ Ver2 ] */
.table100.ver2 .table100-head {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.table100.ver2 th {
  font-family: tahoma;
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;
  background-color: transparent;
}
.table100.ver2 td {
  font-family: tahoma;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}
.table100.ver2 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}
/*---------------------------------------------*/
.table100.ver2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.table100.ver2 .ps__rail-y {
  right: 5px;
}
.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}
.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
/* [ Ver3 ] */
.table100.ver3 {
  background-color: #393939;
}
.table100.ver3 th {
  font-family: tahoma;
  font-size: 15px;
  color: #00ad5f;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}
.table100.ver3 td {
  font-family: tahoma;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}
/*---------------------------------------------*/
.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.table100.ver3 .ps__rail-y {
  right: 5px;
}
.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}
.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}
/* [ Ver4 ] */
.table100.ver4 {
  margin-right: -20px;
}
.table100.ver4 .table100-head {
  padding-right: 20px;
}
.table100.ver4 th {
  font-family: tahoma;
  font-size: 18px;
  color: #4272d7;
  line-height: 1.4;

  background-color: transparent;
  border-bottom: 2px solid #f2f2f2;
}

.table100.ver4 .column1 {
  padding-left: 7px;
}

.table100.ver4 td {
  /* font-family: Lato-Regular; */
  font-family: tahoma;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver4 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/
.table100.ver4 {
  overflow: hidden;
}
.table100.ver4 .table100-body{
  padding-right: 20px;
}
.table100.ver4 .ps__rail-y {
  right: 0px;
}
.table100.ver4 .ps__rail-y::before {
  background-color: #ebebeb;
}
.table100.ver4 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
/* [ Ver5 ] */
.table100.ver5 {
  margin-right: -30px;
}
.table100.ver5 .table100-head {
  padding-right: 30px;
}
.table100.ver5 th {
  font-family: tahoma;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: transparent;
}
.table100.ver5 td {
  font-family: tahoma;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;

  background-color: #f7f7f7;
}
.table100.ver5 .table100-body tr {
  overflow: hidden;
  border-bottom: 10px solid #fff;
  border-radius: 10px;
}
.table100.ver5 .table100-body table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table100.ver5 .table100-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table100.ver5 .table100-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table100.ver5 .table100-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.table100.ver5 tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}
.table100.ver5 .table100-head th {
  padding-top: 25px;
  padding-bottom: 25px;
}
/*---------------------------------------------*/
.table100.ver5 {
  overflow: hidden;
}
.table100.ver5 .table100-body{
  padding-right: 30px;
}
.table100.ver5 .ps__rail-y {
  right: 0px;
}
.table100.ver5 .ps__rail-y::before {
  background-color: #ebebeb;
}
.table100.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
  border-radius: 5px;
}
/* search  */
.form-control-borderless {
  border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* slide product image  */
.carousel-inner{
  border-radius: 0px 5px 5px 0px;
}
.carousel-indicators {
bottom: 0px;
}
.carousel-indicators li {
border-radius: 10px;
width: 10px;
height: 10px;
background: #ccc;
border: 1px solid #ccc;
}
.carousel-indicators .active {
width: 12px;
height: 12px;
background: #3276b1;
border-color: #3276b1;
}
/* button  */
.custom-btn {
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: tahoma;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.btn-3 {
  /* background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 100%); */
  background-color: #00ad5f;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-1 {
  /* background: rgb(238, 222, 0);
  background: linear-gradient(0deg, rgb(238, 222, 0) 0%, rgb(251, 234, 2) 100%); */
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background-color: #00ad5f;
}
.btn-2 {
  /* background: rgb(238, 0, 0);
  background: linear-gradient(0deg, rgb(238, 8, 0) 0%, rgb(251, 2, 2) 100%); */
  background-color: #00ad5f;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}
.btn-3 span ,.btn-2 span, .btn-1 span{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #00ad5f; */
}
.btn-3:before,.btn-2:before,.btn-1:before,
.btn-3:after,.btn-2:after,.btn-1:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   /* background: rgb(8, 8, 8); */
   background: #00ad5f;
  transition: all 0.3s ease;
}
.btn-3:before,.btn-2:before,.btn-1:before {
  height: 0%;
  width: 2px;
}
.btn-3:after,.btn-2:after,.btn-1:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover,.btn-2:hover,.btn-1:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before,.btn-2:hover:before,.btn-1:hover:before {
  height: 100%;
}
.btn-3:hover:after,.btn-2:hover:after,.btn-1:hover:after {
  width: 100%;
}
.btn-3 span:hover,.btn-2 span:hover,.btn-1 span:hover{
   /* color: rgb(3, 119, 109); */
   color:  #00ad5f;
}
.btn-3 span:before,.btn-2 span:before,.btn-1 span:before,
.btn-3 span:after,.btn-2 span:after,.btn-1 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   /* background: rgb(12, 12, 12); */
  background: #00ad5f;
  transition: all 0.3s ease;
}
.btn-3 span:before,.btn-2 span:before,.btn-1 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after ,.btn-2 span:after,.btn-1 span:after{
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before,.btn-2 span:hover:before,.btn-1 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after,.btn-2 span:hover:after,.btn-1 span:hover:after {
  width: 100%;
}
