<div class="container-fluid mt-5">

  <div class="limiter col-md-12">
    <div class="container-table100">
      <div class="row w-100 pb-3">
        <div class="col-md-7 w-100 justify">
          <h1 style="margin-left: 350px;" > Danh sách sản phẩm</h1>
        </div>
        <div class="col-md-5">

          <form class="card card-sm" style="width: 50%; float: right;">
            <div class="card-body row no-gutters align-items-center" >
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Nhập để tìm kiếm">
                </div>
                <div class="col-auto" >
                    <button class="btn btn-lg btn-success" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>

        </div>
      </div>
      <div class="wrap-table100">
        <div class="table100 ver4 ">
          <div class="table100-head">
            <table>
              <thead >
                <tr class="row100 head">
                  <th class="cell100 column1">Tên hàng</th>
                  <th class="cell100 column2">Xuất sứ</th>
                  <th class="cell100 column3">Giá</th>
                  <th class="cell100 column4">Trạng thái</th>
                  <th class="cell100 column5">Thời hạn</th>
                  <th class="cell100 column6">Hình ảnh</th>
                  <th class="cell100 column7"></th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table class="table table-hover">
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">Like a butterfly</td>
                  <td class="cell100 column2">Boxing</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6"><img src="https://minhancomputer.com/media/news/1506_dan-pc-gaming.jpg" alt=""></td>
                  <td class="cell100 column7">
                    <a class="btn btn-success">
                      <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a class="btn btn-danger">
                        <i class="fas fa-times"></i> Xóa
                    </a>
                    <a class="btn btn-warning">
                      <i class="fas fa-clock"></i> Gia hạn
                    </a>
                  </td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Mind & Body</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Adam Stewart</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6"><img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Gaming_PC_set_up.jpg" alt=""></td>
                  <td class="cell100 column7">
                    <a class="btn btn-success">
                      <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a class="btn btn-danger">
                        <i class="fas fa-times"></i> Xóa
                    </a>
                    <a class="btn btn-warning">
                      <i class="fas fa-times"></i> Xóa
                    </a>
                  </td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Crit Cardio</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Wheel Pose Full Posture</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Playful Dancer's Flow</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Zumba Dance</td>
                  <td class="cell100 column2">Dance</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Cardio Blast</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Pilates Reformer</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Supple Spine and Shoulders</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Yoga for Divas</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Virtual Cycle</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Like a butterfly</td>
                  <td class="cell100 column2">Boxing</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Mind & Body</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Adam Stewart</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Crit Cardio</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Wheel Pose Full Posture</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Playful Dancer's Flow</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Zumba Dance</td>
                  <td class="cell100 column2">Dance</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Cardio Blast</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Pilates Reformer</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Supple Spine and Shoulders</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">15</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Yoga for Divas</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Virtual Cycle</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">20</td>
                  <td class="cell100 column6">Aaron Chapman</td>
                  <td class="cell100 column7">10</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
