<div class="container-fluid mt-5">

  <div class="limiter col-md-12">
    <div class="container-table100">


      <div class="row w-100 pb-3">
        <div class="col-md-7 w-100 justify">
          <h1 style="margin-left: 350px;" > Danh sách sản phẩm</h1>
        </div>
        <div class="col-md-5">

          <form class="card card-sm" style="width: 50%; float: right;">
            <div class="card-body row no-gutters align-items-center" >
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Nhập để tìm kiếm">
                </div>
                <div class="col-auto" >
                    <button class="btn btn-lg btn-success" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>

        </div>
      </div>
      <div class="wrap-table100">
        <div class="table100 ver4 ">
          <div class="table100-head">
            <table>
              <thead >
                <tr class="row100 head">
                  <th class="cell100 column1">Tên hàng</th>
                  <th class="cell100 column2">Xuất sứ</th>
                  <th class="cell100 column3">Giá</th>
                  <th class="cell100 column4">Trạng thái</th>
                  <th class="cell100 column5">Thời hạn</th>
                  <th class="cell100 column6">Hình ảnh</th>
                  <th class="cell100 column7"></th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table class="table table-hover">
              <tbody>
                <tr class="row100 body" *ngFor=" let item of product">
                  <td class="cell100 column1">{{item.tenHang}}</td>
                  <td class="cell100 column2">{{item.xuatXu}}</td>
                  <td class="cell100 column3">{{item.gia}}</td>
                  <td class="cell100 column4">{{item.trangThai}}</td>
                  <td class="cell100 column5">{{item.thoiHan}}</td>

                  <td class="cell100 column6">
                    <div id="carousel-simple" class="carousel slide" data-ride="carousel" style="width: 100%;">
                      <!-- Indicators -->
                      <!-- <ol class="carousel-indicators">
                        <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-simple" data-slide-to="1"></li>
                        <li data-target="#carousel-simple" data-slide-to="2"></li>
                        <li data-target="#carousel-simple" data-slide-to="3"></li>
                      </ol> -->
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img
                            src="{{item.hinh0}}"
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src="{{item.hinh1}}"
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src="{{item.hinh2}}"
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src="{{item.hinh3}}"
                            alt="" class="d-block w-100" />
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="cell100 column7" id="edit">
                    <button class="custom-btn btn-3 mb-5 mt-2" (click)="updateproduct(item.id)">
                      <span><i class="fas fa-edit"></i> Sửa</span>
                    </button>
                    <button class="custom-btn btn-2 mb-5" (click)="deleteProduct(item.id)">
                      <span><i class="fas fa-times"></i> Xóa</span>
                    </button>
                    <button class="custom-btn btn-1">
                      <span><i class="fas fa-clock"></i> Gia hạn</span>
                    </button>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

