
<div class="container mt-5 mb-5">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-justify">
      <div class="text justify pl-5 pr-5"  >
        <p class="tieude mb-4"> GREEN MARKET - RAO VẶT TRỰC TUYẾN HÀNG ĐẦU CỦA NGƯỜI VIỆT </p>
        <br>Green Market chính thức gia nhập thị trường Việt Nam vào đầu năm 2020, với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.

        <br>Đến nay, Green Market tự hào là Website rao vặt được ưa chuộng hàng đầu Việt Nam. Hàng ngàn món hời từ Bất động sản, Nhà cửa, Xe cộ, Đồ điện tử, Thú cưng, Vật dụng cá nhân... đến tìm việc làm, thông tin tuyển dụng, các dịch vụ - du lịch được đăng tin, rao bán trên Green Market.

        <br>Với Green Market, bạn có thể dễ dàng mua bán, trao đổi bất cứ một loại mặt hàng nào, dù đó là đồ cũ hay đồ mới với nhiều lĩnh vực:

        <br>Bất động sản: Cho thuê, Mua bán nhà đất, căn hộ chung cư, văn phòng mặt bằng kinh doanh, phòng trọ đa dạng về diện tích, vị trí

        <br>Phương tiện đi lại: xe ô tô, xe máy có độ bền cao, giá cả hợp lý.

        <br>Đồ dùng cá nhân: quần áo, giày dép, túi xách, đồng hồ... đa phong cách, hợp thời trang.

        <br>Đồ điện tử: điện thoại di động, máy tính bảng, laptop, tivi, loa, amply...; đồ điện gia dụng: máy giặt, tủ lạnh, máy lạnh điều hòa... với rất nhiều nhãn hiệu, kích thước khác nhau.

        <br>﻿Vật nuôi, thú cưng đa chủng loại: gà, chó, chim, mèo, cá, hamster giá cực tốt.

        <br>Tuyển dụng, việc làm với hàng triệu công việc hấp dẫn, phù hợp.

        <br>﻿Dịch vụ, du lịch: khách sạn, vé máy bay, vé tàu, vé xe, tour du lịch và các voucher du lịch... uy tín, chất lượng.

        <br>﻿Đồ ăn, thực phẩm: các món ăn được chế biến thơm ngon, hấp dẫn, thực phẩm tươi sống, an toàn & giá cả hợp lý.

        <br>Và còn rất nhiều mặt hàng khác nữa đã và đang được rao bán tại Green Market.

        <br>Mỗi người trong chúng ta đều có những sản phẩm đã qua sử dụng và không cần dùng tới nữa. Vậy còn chần chừ gì nữa mà không để nó trở nên giá trị hơn với người khác. Rất đơn giản, bạn chỉ cần chụp hình lại, mô tả cụ thể về sản phẩm và sử dụng ứng dụng Đăng tin miễn phí của Green Market là đã có thể đến gần hơn với người cần nó.

        <br>Không những thế, Green Market còn cung cấp cho bạn thông tin về giá cả các mặt hàng để bạn có thể tham khảo. Đồng thời, thông qua Blog kinh nghiệm, Green Market sẽ tư vấn, chia sẻ cho bạn những thông tin bổ ích, bí quyết, mẹo vặt giúp bạn có những giao dịch mua bán an toàn, đảm bảo. Green Market cũng sẵn sàng hỗ trợ bạn trong mọi trường hợp cần thiết.

        <br>Chúc các bạn có những trải nghiệm mua bán tuyệt vời trên Green Market.
      </div>
    </div>
  </div>
  <div class="row mb-4 pl-5 pr-5">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.71596684535!2d108.21865621468434!3d16.0802223888741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183bf027977d%3A0x6e907bc08380188b!2zTMO9IFRoxrDhu51uZyBLaeG7h3QsIFRo4bqhY2ggVGhhbmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1604475338785!5m2!1svi!2s"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="_3ZDC1p _19YebX _1N9Ocu">
          <img width="invalid-value" height="invalid-value" class="_3XaILN" style="object-fit: contain"
            src="https://drive.google.com/uc?export=download&id=1esCte0GllXVR0jiPEdH_yfEigX_9ThW-" />
          <h2 class="_3ZDC1p _19YebX _1N9Ocu" style="text-align: center">
            Uy tín tạo thương hiệu
          </h2>
          <br />    <br />
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>

