<section>
  <div class="container-fluid pb-4 pt-4">
    <div class="row">
      <div class="col-md-8">
        <div class="container">
          <div class="container-login100">
            <div class="wrap-login100 p-l-5 p-r-50 p-b-30 text-center ml-5">
              <form class="login100-form validate-form" [formGroup]="form"  (ngSubmit)="onSubmit()">
                <span class="login100-form-title p-b-20 ml-5 mt-5" style="font-family: tahoma">
                  đăng ký thành viên
                </span>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%"
                      data-validate="Không được bỏ trống">
                      <input class="input100" type="text" name="hoVaTen" id="hoVaTen" [(ngModel)]="Users.hoVaTen"  formControlName="hoVaTen"
                        placeholder="Họ tên" />
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-users"></span>
                      </span>
                      <h5 style="color: red; float: left" *ngIf="
                          form.hasError('invalidusername', ['hoVaTen']) &&
                          form.get('hoVaTen').touched
                        ">
                        Họ và tên không hợp lệ !
                      </h5>
                    </div>

                    <div formGroupName="pw">
                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="matKhau" id="matKhau" [(ngModel)]="Users.matKhau" placeholder="Mật khẩu"
                          formControlName="matKhau" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                        <!-- <h5 style="color: red; float: left" *ngIf="
                            form.hasError('invalidusername', ['matKhau']) &&
                            form.get('matKhau').touched
                          ">
                          Mật khẩu không được để trống !
                        </h5> -->

                        <h5 style="color: red; float: left" role="alert" *ngIf="
                            form.hasError('passwordnotmatch', 'pw') &&
                            form.get('pw').touched
                          ">
                          Nhập đúng mật khẩu !
                        </h5>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu"
                          formControlName="confirmPassword" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                        <!-- <h5 style="color: red; float: left" *ngIf="
                            form.hasError('invalidusername', [
                              'confirmPassword'
                            ]) && form.get('confirmPassword').touched
                          ">
                          Nhập lại mật khẩu không được để trống !
                        </h5> -->

                        <h5 style="color: red; float: left" role="alert" *ngIf="
                            form.hasError('passwordnotmatch', 'pw') &&
                            form.get('pw').touched
                          ">
                          Nhập đúng mật khẩu !
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%"
                      data-validate="Không được bỏ trống">
                      <input class="input100" type="text" name="dienthoai" id="dienThoai" [(ngModel)]="Users.dienThoai"  placeholder="Điện thoại"
                        formControlName="dienThoai" />
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-phone"></span>
                      </span>
                      <h5 style="color: red; float: left" *ngIf="
                          form.hasError('invalidusername', ['dienThoai']) &&
                          form.get('dienThoai').touched
                        ">
                        vui lòng nhập lại Số điện thoại !
                      </h5>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%"
                      data-validate="Valid email is required: ex@abc.xyz">
                      <input class="input100" type="text" name="email" id="email" placeholder="Email" [(ngModel)]="Users.email" formControlName="email" />
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                      </span>

                      <h5 style="color: red; float: left" *ngIf="
                      form.hasError('invalidusername', ['email']) &&
                      form.get('email').touched
                ">
                        Nhập lại email !
                      </h5>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%"
                      data-validate="Password is required">
                      <input class="input100" type="text" name="diaChiUser" id="diaChiUser"  [(ngModel)]="Users.diaChiUser" placeholder="Địa chỉ"
                        formControlName="diaChiUser" />
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-map"></span>
                      </span>
                      <h5 style="color: red; float: left" *ngIf="
                      form.hasError('invalidusername', ['diaChiUser']) &&
                      form.get('diaChiUser').touched
                    ">
                        Nhập lại địa chỉ !
                      </h5>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-3">
                    <div class="container-login100-form-btn p-t-22 ml-4">
                      <button  type="submit" class="login100-form-btn">đăng ký</button>
                    </div>
                  </div>
                </div>

                <div class="text-center w-full p-t-35 ml-5">
                  <span class="txt1"> Bạn đã có tài khoản? </span>

                  <a routerLink="/login" class="txt1 bo1 hov1">
                    Đăng nhập ngay
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="_3ZDC1p _19YebX _1N9Ocu">
            <img width="invalid-value" height="invalid-value" class="_3XaILN" style="object-fit: contain"
              src="{{ imageUrLogin }}" />
            <h2 class="_3ZDC1p _19YebX _1N9Ocu" style="text-align: center">
              Quyền lợi thành viên
            </h2>
            <br />
            <hr />
            <br />
            <p class="_3ZDC1p _19YebX _1N9Ocu" style="text-align: left; margin-left: 120px; font-family: tahoma">
              + Mua hàng khắp thế giới cực dễ dàng, nhanh chóng <br />
              + Theo dõi đơn hàng, hành trình đơn hàng <br />
              + Nhận nhiều ưu đãi hấp dẫn từ khắp thế giới
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
