<section>
  <div class="container-fluid pt-5 pb-5">
    <div class="row">
      <div class="col-md-8 mt-5">
        <div class="login_form mt-5">
          <h1>Đăng ký</h1>
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="" required="" placeholder="Username">
                <input type="password" name="" required="" placeholder="Password">
                <input type="password" name="" required="" placeholder="Nhập lại Password">
                <input type="text" name="" required="" placeholder="Họ và tên">
                <input type="submit" name="" value="Đăng ký">
              </div>
              <div class="col-md-6">
                <input type="text" name="" required="" placeholder="Điện thoại">
                <input type="text" name="" required="" placeholder="Email">
                <input type="date" name="" required="" placeholder="Ngày lập">
                <input type="text" name="" required="" placeholder="Ghi chú">
                <input type="submit" name="" value="Đăng nhập">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form_content">
          <!-- <img src="https://i.ytimg.com/vi/QkhE5AHLVvA/maxresdefault.jpg" alt=""> -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.962306465158!2d108.1548290146842!3d16.067445688882092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421946cc24eac7%3A0x12722925634638c9!2zODYgTmd1eeG7hW4gU2luaCBT4bqvYywgSG_DoCBNaW5oLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1601918252595!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <h2>Liên Hệ Với Chúng Tôi</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Ex qui alias assumenda officia soluta, sapiente eaque
            similique explicabo in repellat dolor incidunt consectetur
            nam temporibus culpa illo harum rem aspernatur?</p>
          <a href="#">Chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</section>
