/* .container-fluid{

} */
.form_content,
.login_form {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.form_content {
  color: #fff;
}

.form_content a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #ff0057;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.form_content a:hover {
  background: black;
  color: white;
}
.login_form {
  background: #fff;
  height: auto;
  top: -15px;
  box-shadow: -20px 0 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.login_form h1 {
  color: #262626;
}

.login_form input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 15px;
}

.login_form input:hover {
  border: 2px solid #673ab7;
}

.login_form input[type="submit"] {
  color: #fff;
  background: #673ab7;
  font-size: 16px;
  transition: 0.5s;
}

.login_form input[type="submit"]:hover {
  background: #ff0057;
  border: 2px solid #ff0057;
}

.login_form a {
  text-decoration: none;
  font-weight: bold;
}
