h2.title {
  color: green;
  font-family: tahoma;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper {
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
}

.product-image-wrapper:hover {
  margin-top: -10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: rgba(200, 200, 200, 0.1);
  transition: 0.5s;
}

.single-products {
  position: relative;
  background: white;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2 {
  color: #FE980F;
  font-family: tahoma;
  font-size: 18px;
  font-weight: 700;
}

.product-overlay h2 {
  color: rgb(248, 222, 222);
  font-family: tahoma;
  font-size: 54px;
  font-weight: 700;
}

.productinfo p {
  font-family: tahoma;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img {
  width: 100%;
  margin-top: 20px;
}

.productinfo img:hover {
  background: url(https://vcdn-sohoa.vnecdn.net/2020/01/02/637133775510221830-vsmart-acti-3743-9174-1577935136.jpg);
}

.productinfo {
  position: relative;
}

.add-to-cart {
  background: #F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: tahoma;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to {
  margin-bottom: 10px;
}

.add-to-cart i {
  margin-right: 5px;
}
.add-to-cart:hover {
  background: #FE980F;
  color: #FFFFFF;
}
/* //phan trang */
#control,#control1 {
  font-size: 20px;
  font-family: tahoma;
  height: auto;
  float: right;
}

