<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-4">
      <h2 class="title text-center">Features Items</h2>
    </div>
    <div class="col-md-5">
      <div id="control">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-9" style="padding-left: 40px;">
      <div class="features_items">
        <div class="row">
          <div class="col-sm-3" *ngFor="let product of products | paginate: { itemsPerPage: 20, currentPage: p }">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="https://image2.tin247.com/pictures/2020/02/03/zom1580720495.jpg" alt="" />
                  <h2> {{product.price}} oke</h2>
                  <p>{{ product.name}}</p>
                  <a routerLink="/proDetaill" class="btn btn-default add-to-cart"><i class="fas fa-info-circle"></i> Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="control1">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div>
    </div>
    <div class="ps-sidebar col-md  " style=" background: white; margin-right: 40px; margin-bottom: 75px; border-radius: 5px;"
    data-mh="product-listing">
      <aside class="ps-widget--sidebar ps-widget--category mt-3">
        <div class="ps-widget__header">
          <h3>Danh mục</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Đồ điện tử(521)</a></li>
            <li><a href="product-listing.html">Thời trang nữ(76)</a></li>
            <li><a href="product-listing.html">Thời trang nam(21)</a></li>
            <li><a href="product-listing.html">Đồ dân dụng(105)</a></li>
            <li><a href="product-listing.html">Ô tô - xe máy - xe đạp</a></li>
            <li><a href="product-listing.html">Sức khỏe và sắc đẹp(47)</a></li>
            <li><a href="product-listing.html">Vocher và dịch vụ</a></li>
          </ul>
        </div>
      </aside>
      <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
          <h3>Hãng giày nổi bật</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Nike(521)</a></li>
            <li><a href="product-listing.html">Adidas(76)</a></li>
            <li><a href="product-listing.html">Baseball(69)</a></li>
            <li><a href="product-listing.html">Gucci(36)</a></li>
            <li><a href="product-listing.html">Dior(108)</a></li>
            <li><a href="product-listing.html">B&G(108)</a></li>
            <li><a href="product-listing.html">Louis Vuiton(47)</a></li>
          </ul>
        </div>
      </aside>
      <div class="ps-sticky desktop">
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Size</h3>
          </div>
          <div class="ps-widget__content">
            <table class="table ps-table--size">
              <tbody>
                <tr>
                  <td class="active">3</td>
                  <td>5.5</td>
                  <td>8</td>
                  <td>10.5</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>3.5</td>
                  <td>6</td>
                  <td>8.5</td>
                  <td>11</td>
                  <td>13.5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>6.5</td>
                  <td>9</td>
                  <td>11.5</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>4.5</td>
                  <td>7</td>
                  <td>9.5</td>
                  <td>12</td>
                  <td>14.5</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>7.5</td>
                  <td>10</td>
                  <td>12.5</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </aside>
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Color</h3>
          </div>
          <div class="ps-widget__content">
            <ul class="ps-list--color">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
