h2.title {
  color: green;
  font-family: tahoma;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper {
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
}

.product-image-wrapper:hover {
  margin-top: -10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: rgba(200, 200, 200, 0.1);
  transition: 0.5s;
}

.single-products {
  position: relative;
  background: white;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2 {
  color: #FE980F;
  font-family: tahoma;
  font-size: 18px;
  font-weight: 700;
}

.product-overlay h2 {
  color: rgb(248, 222, 222);
  font-family: tahoma;
  font-size: 54px;
  font-weight: 700;
}

.productinfo p {
  font-family: tahoma;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img {
  width: 100%;
  margin-top: 20px;
}

.productinfo img:hover {
  background: url(https://vcdn-sohoa.vnecdn.net/2020/01/02/637133775510221830-vsmart-acti-3743-9174-1577935136.jpg);
}

.productinfo {
  position: relative;
}

.add-to-cart {
  background: #F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: tahoma;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to {
  margin-bottom: 10px;
}

.add-to-cart i {
  margin-right: 5px;
}
.add-to-cart:hover {
  background: #FE980F;
  color: #FFFFFF;
}
/* //phan trang */
#control,#control1 {
  font-size: 20px;
  font-family: tahoma;
  height: auto;
  float: right;
}
/* sp  */
.products {
  padding: 20px 0;
  text-align: center;
}

.products div div {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
  background-color: #fff;
}

.products div:hover div {
  margin-top: -10px;
  border: 1px solid rgba(104, 99, 99, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  transition: 0.5s;
  /* background: rgba(200, 200, 200, 0.1); */
  background-color: #fff;

}
.products .btn{
  font-family: tahoma;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color:  #2ac37d;
}

.btn-1 {
  font-weight: 100;
  transition: all .25s;
}
.btn-1  rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition-delay: none;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 2px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1.color-green:hover {
  color: black;
}
.btn-1.btn-1.color-green:hover rect {
  stroke: black;
}
.btn-1.color-blue:hover {
  color: blue;
}
.btn-1.color-blue:hover rect {
  stroke: blue;
}

.products h2{
  font-family: tahoma;
  font-size: 18px;
  font-weight: 500;
}

.dl-horizontal dt {
  margin-left: 5px;
  float: left;
  width: 60%;
  overflow: hidden;
  font-family: tahoma;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 550;
}
.dl-horizontal dd {
  margin-left: 0px;
  text-align: left;
  font-family: tahoma;
  font-size: 13px;
}
/* tieu de  */
.tittle-home {
  background-color: #fff;
  font-family: tahoma;
  font-size: 23px;
  color: black;
  padding: 15px 23px 15px 22px;
  border: dashed 0px #ffffff;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.tittle-right {
  border-bottom: solid 4px #ffffff;
}

