<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div id="control">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-9" style="padding-left: 40px;">
      <div class="row ">
        <div class="ml-4 tittle-home justify-content-center">
          {{ 'pro' | translate }}
        </div>
        <div class="col mr-4 tittle-right"></div>
        <hr />
      </div>
      <!-- <div class="features_items">
        <div class="row">
          <div class="col-sm-3" *ngFor=" let item of product ">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="{{ item.hinh0 }}" alt="" />
                  <h2> {{ item.gia }} </h2>
                  <p>{{ item.tenHang}}</p>
                  <i class="fa fa-list"></i><button (click)="productDetails(item.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div id="control1">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div> -->
      <div class="row products">
        <div class="col-sm-3 mb-4" *ngFor=" let item of product | paginate: { itemsPerPage: 20, currentPage: p }">
          <div>
            <img
              src="{{ item.hinh0 }}"
              alt="Sản phẩm 1"
              class="img-circle img-thumbnail"
            />
            <h2>{{ item.tenHang}}</h2>
            <dl class="dl-horizontal">
              <dt>{{ 'price' | translate }}</dt>
              <dd> {{ item.gia }}</dd>

              <dt>{{ 'status' | translate }}</dt>
              <dd>{{ 'stocking' | translate }}</dd>
              <dt>{{ 'manufacturer' | translate }}</dt>
              <dd>{{ 'viet' | translate }}</dd>
            </dl>
            <a routerLink="/proDetaill" (click)="productDetails(item.id)" class="btn btn-1 color-green">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              {{ 'detail' | translate }}
            </a>
          </div>
        </div>

      </div>

    </div>
    <div class="ps-sidebar col-md  " style=" background: white; margin-right: 40px; margin-bottom: 75px; border-radius: 5px;"
    data-mh="product-listing">
      <aside class="ps-widget--sidebar ps-widget--category mt-3">
        <div class="ps-widget__header">
          <h3>Danh mục</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Đồ điện tử(521)</a></li>
            <li><a href="product-listing.html">Thời trang nữ(76)</a></li>
            <li><a href="product-listing.html">Thời trang nam(21)</a></li>
            <li><a href="product-listing.html">Đồ dân dụng(105)</a></li>
            <li><a href="product-listing.html">Ô tô - xe máy - xe đạp</a></li>
            <li><a href="product-listing.html">Sức khỏe và sắc đẹp(47)</a></li>
            <li><a href="product-listing.html">Vocher và dịch vụ</a></li>
          </ul>
        </div>
      </aside>
      <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
          <h3>Giá tiền</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Dưới 100k</a></li>
            <li><a href="product-listing.html">Từ 100k đến 300k</a></li>
            <li><a href="product-listing.html">Từ 300k đến 500k</a></li>
            <li><a href="product-listing.html">Từ 500k đến 1 triệu</a></li>
            <li><a href="product-listing.html">Trên 1 triệu</a></li>
            <li><a href="product-listing.html">Trên 5 triệu</a></li>
            <li><a href="product-listing.html">Trên 10 triệu</a></li>
          </ul>
        </div>
      </aside>
      <div class="ps-sticky desktop">
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Size</h3>
          </div>
          <div class="ps-widget__content">
            <table class="table ps-table--size">
              <tbody>
                <tr>
                  <td class="active">3</td>
                  <td>5.5</td>
                  <td>8</td>
                  <td>10.5</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>3.5</td>
                  <td>6</td>
                  <td>8.5</td>
                  <td>11</td>
                  <td>13.5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>6.5</td>
                  <td>9</td>
                  <td>11.5</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>4.5</td>
                  <td>7</td>
                  <td>9.5</td>
                  <td>12</td>
                  <td>14.5</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>7.5</td>
                  <td>10</td>
                  <td>12.5</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </aside>
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Color</h3>
          </div>
          <div class="ps-widget__content">
            <ul class="ps-list--color">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
