
  <div class="ps-products-wrap inverse  pb-80" >
    <div class="ps-products" data-mh="product-listing">
      <div class="ps-product-action">
        <div class="ps-pagination">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 padding-right">
      <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Features Items</h2>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Áo thun nam</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Áo thun nam</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/31234a27876fb89cd522d7e3db1ba5ca_tn&quot" alt="" />
                <h2>$56</h2>
                <p>IPHONE 6</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>IPHONE 6</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/978b9e4cb61c611aaaf58664fae133c5_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Ti Vi</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Ti Vi</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/74ca517e1fa74dc4d974e5d03c3139de_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Giày</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Giày</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/7abfbfee3c4844652b4a8245e473d857_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/3fb459e3449905545701b418e8220334_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/48630b7c76a7b62bc070c9e227097847_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn&quot" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>

          </div>
        </div>



      </div><!--features_items-->
    </div>
    <div class="ps-sidebar" data-mh="product-listing">
      <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
          <h3>Danh mục</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Đồ điện tử(521)</a></li>
            <li><a href="product-listing.html">Thời trang nữ(76)</a></li>
            <li><a href="product-listing.html">Thời trang nam(21)</a></li>
            <li><a href="product-listing.html">Đồ dân dụng(105)</a></li>
            <li><a href="product-listing.html">Ô tô - xe máy - xe đạp</a></li>
            <li><a href="product-listing.html">Sức khỏe và sắc đẹp(47)</a></li>
            <li><a href="product-listing.html">Vocher và dịch vụ</a></li>
          </ul>
        </div>
      </aside>
      <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
          <h3>Hãng giày nổi bật</h3>
        </div>
        <div class="ps-widget__content">
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Nike(521)</a></li>
            <li><a href="product-listing.html">Adidas(76)</a></li>
            <li><a href="product-listing.html">Baseball(69)</a></li>
            <li><a href="product-listing.html">Gucci(36)</a></li>
            <li><a href="product-listing.html">Dior(108)</a></li>
            <li><a href="product-listing.html">B&G(108)</a></li>
            <li><a href="product-listing.html">Louis Vuiton(47)</a></li>
          </ul>
        </div>
      </aside>
      <div class="ps-sticky desktop">
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Size</h3>
          </div>
          <div class="ps-widget__content">
            <table class="table ps-table--size">
              <tbody>
                <tr>
                  <td class="active">3</td>
                  <td>5.5</td>
                  <td>8</td>
                  <td>10.5</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>3.5</td>
                  <td>6</td>
                  <td>8.5</td>
                  <td>11</td>
                  <td>13.5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>6.5</td>
                  <td>9</td>
                  <td>11.5</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>4.5</td>
                  <td>7</td>
                  <td>9.5</td>
                  <td>12</td>
                  <td>14.5</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>7.5</td>
                  <td>10</td>
                  <td>12.5</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </aside>
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Color</h3>
          </div>
          <div class="ps-widget__content">
            <ul class="ps-list--color">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
