a:hover {
  text-decoration: none;
}

form {
  border: dashed 0px #000000;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 11px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-left-radius: 11px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 10px;
}

.form-group input {
  font-size: 15px;
  font-family: tahoma;
  text-align: left;
  margin-bottom: auto;
}

.form-group .text {
  font-size: 16px;
  font-family: tahoma;
  text-align: left;
  margin-bottom: auto;
  padding-left: 20px;
}

#coban,
#mota,
#sanpham {
  font-size: 22px;
  font-family: tahoma;
  color: darkblue;
}

#danhmuc,
#danhmuc option {
  font-family: tahoma;
  font-size: 16px;
}

#danhmuc:hover,
#exampleFormControlFile1:hover,
.form-group textarea:hover,
.form-group input:hover,
.input-group:hover {
  -moz-box-shadow: 5px 3px 8px #000000;
  -webkit-box-shadow: 5px 3px 8px #000000;
  box-shadow: 5px 3px 8px #000000;
}
/* sp cu fa ke */
#back a {
  font-size: 25px;
  font-family: tahoma;
  text-align: center;
  color: white;
}


#back {
  text-align: center;
  border: dashed 0px #000000;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 8px 0px;
}


.animate {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.products {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  position: relative;
  font-family: tahoma;
  margin-bottom: 10px;
  overflow: hidden;
}

.products img {
  width: 100px;
}

.products .products-details {
  width: 100%;

  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.products .products-details .products-header {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 25%;
  padding: 0 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

.products .products-details .products-header {
  height: auto;
  bottom: 100%;
  padding: 10px 5px;
}

.products:hover .products-details {
  bottom: 0px;
  height: 100%;
  padding-bottom: 25px;
}

.products:hover .products-details .products-header {
  position: relative;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.products .products-details p {
  font-size: 15px;
  font-family: tahoma;
}

.products .products-details .products-header h1 {
  color: black;
  font-size: 22px;
  font-weight: 900;
  margin: 0 !important;
  padding: 0 !important;
  font-family: tahoma;
}

.products .products-details .products-header h3 {
  color: black;
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: tahoma;
  padding: 0 !important;
  margin: 0 !important;
}

.products .products-details .products-detail .social {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}

.products .products-details .products-detail .social a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 10px 10px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: tahoma;
}

#hoantat {
  float: right;
  font-size: 25px;
  font-family: tahoma;
}

#hoantat:hover {
  background-color: black;
  color: white;
}

/* //oke */
* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: tahoma;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

#container {
  position: relative;
  width: 105%;
  background: white;
  padding-right: 90px;
  padding-left: 60px;
  height: auto;
}

header {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-family: tahoma;
  color: green;
}

.input-field,
form .button {
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 110%;
}

.input-field input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: .4s;
}

input:focus {
  border: 1px solid #1DA1F2;
}

.input-field label,
span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 550;
}

.input-field label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: .4s;
}

span.show {
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
}

input:valid~span.show {
  visibility: visible;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  transform: translateY(-38px);
  background: white;
  font-size: 16px;
  color: #1DA1F2;
}

form .button {
  margin-top: 30px;
  overflow: hidden;
  z-index: 111;
  width: 30%;
  float: right;
}

.button .inner {
  position: absolute;
  height: 100%;
  width: 300%;
  right: -100%;
  z-index: -1;
  transition: all .4s;
  background: -webkit-linear-gradient(right, #00dbde, #1ff792, #00dbde, #1ff792);
}

.button:hover .inner {
  left: 0;
}

.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: tahoma;
}

.container .auth {
  margin: 35px 0 20px 0;
  font-size: 19px;
  color: grey;
}

.signup {
  margin-top: 50px;
  font-family: tahoma;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

#trangsp {
  margin-left: -30px;
}

/* ?? */
div.ex3 {
  width: 100%;
  height: 637px;
  overflow: auto;
}
/* anh */
#c_anh{
  margin: 0px;
  padding: 0px;
  width: 110%;

}
.wrapperzzz {
  width: 110%;
  margin-top: 25px;
  height: auto;
}
.wrapperzzz input{
  margin-top: 5px;
}
.wrapperzzz p {
  font-size: 14px;
  font-family: tahoma;
  font-weight: 600;
}


