<div class="container-fluid">
  <div class="row pb-5 pt-5" id="me">
    <!-- form -->
    <div class="col-md-9" style="padding-left: 50px ;">
      <div class="container">
        <!-- thong tin co ban -->
        <form #coban>
          <h3 id="coban" class="pl-3 pt-2">Thông tin cơ bản</h3>
          <div class="form-group row pb-5">
            <label for="manguoidung" class="col-md-3 col-form-label">
              <a class="text">Mã người dùng</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="manguoidung" readonly />
            </div>
            <div class="col-md-3">
              <p class="text">Mã duy nhất</p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="masanpham" class="col-md-3 col-form-label">
              <a class="text">Mã sản phẩm</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="masanpham" readonly />
            </div>
            <div class="col-md-3">
              <p class="text">Mã duy nhất</p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="maloaihang" class="col-md-3 col-form-label">
              <a class="text">Mã loại hàng</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="maloaihang" readonly />
            </div>
          </div>
        </form>
        <!-- thong tin co ban -->
        <hr />

        <!-- thong tin san pham -->
        <form #sanpham>
          <h3 id="sanpham" class="pl-3 pt-2">Thông tin sản phẩm</h3>
          <div class="form-group row pt-5 pb-5">
            <label for="tensanpham" class="col-md-3 col-form-label">
              <a class="text">Tên sản phẩm</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="tensanpham" required />
            </div>
            <div class="col-md-3">
              <p class="text">Tên nhận diện</p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="danhmuc" class="col-md-3 col-form-label">
              <a class="text">Danh mục ngành hàng</a>
            </label>
            <div class="col-md-6">
              <select id="danhmuc" class="form-control">
                <option selected>Điện dân dụng</option>
                <option>Xe cộ</option>
                <option>Áo quần</option>
                <option>Phụ kiện điện tử</option>
                <option>Đồ nghề</option>
              </select>
            </div>
            <div class="col-md-3">
              <p class="text">Lựa chọn danh mục hiện có</p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="ngaydang" class="col-md-3 col-form-label">
              <a class="text">Ngày đăng bán</a>
            </label>
            <div class="col-md-6">
              <input type="date" id="ngaydang" class="form-control-file" required />
            </div>
          </div>
        </form>
        <!-- thong tin san pham -->
        <hr />

        <!-- mo ta chi tiet -->
        <form #mota>
          <h3 id="mota" class="pl-3 pt-2">Mô tả chi tiết</h3>
          <div class="form-group row pt-5 pb-5">
            <label for="motasp" class="col-md-3 col-form-label">
              <a class="text">Mô tả sản phẩm</a>
            </label>
            <div class="col-md-6">
              <textarea class="form-control" rows="7" id="motasp" required></textarea>
            </div>
            <div class="col-md-3">
              <p class="text">Chi tiết mẫu mã,...</p>
            </div>
          </div>

          <div class="form-group row pb-5">
            <label for="gia" class="col-md-3 col-form-label">
              <a class="text">Giá thành</a>
            </label>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="gia"
                  aria-label="Dollar amount (with dot and two decimal places)"  required/>
                <div class="input-group-prepend">
                  <span class="input-group-text">VND</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <p class="text">Giá sản phẩm bao gồm thuế</p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="soluong" class="col-md-3 col-form-label">
              <a class="text">Số lượng</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="soluong"  required/>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="hinhanh" class="col-md-3 col-form-label">
              <a class="text">Hình ảnh</a>
            </label>
            <div class="col-md-6">
              <input type="file" class="form-control-file" id="hinhanh" required/>
            </div>
            <div class="col-md-3">
              <p class="text">
                Hình ảnh yêu cầu
                <span style="color: chocolate">300X300</span> hoặc
                <span style="color: chocolate">500X500</span>
              </p>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="thuonghieu" class="col-md-3 col-form-label">
              <a class="text">Thương hiệu sản phẩm</a>
            </label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="thuonghieu" required/>
            </div>
            <div class="col-md-3">
              <p class="text">Ghi rõ thương hiệu sản phẩm</p>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-9">
            <button id="hoantat" type="button" class="btn btn-success">HOÀN TẤT</button>
          </div>
        </div>
        <!-- mo ta chi tiet -->
      </div>
    </div>
    <!-- form -->

    <!-- sp cu -->
    <div class="col-md-3">
      <div class="container">
        <div class="row"><a id="gianhang" href="#">Sản phẩm có trong gian của bạn</a></div>
        <div class="col-md-12">
          <div class="products"> <img style="width: 100%"
              src="https://i.pinimg.com/564x/d9/41/83/d94183dab3243608e581887c3bc63444.jpg" alt="">
            <div class="products-details animate">
              <div class="products-header">
                <h1> Sản phẩm 1 </h1>
                <h3> Giá: 600.000 đ </h3>
              </div>
              <div class="products-detail">
                <p style="color: white;">Sản phẩm trong gian hàng của chủ shop</p>
                <div class="social">
                  <button type="button" class="btn btn-outline-success"> <a href="#">Chi tiết sản phẩm</a> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="products"> <img style="width: 100%"
              src="https://i.pinimg.com/564x/d9/41/83/d94183dab3243608e581887c3bc63444.jpg" alt="">
            <div class="products-details animate">
              <div class="products-header">
                <h1> Sản phẩm 1 </h1>
                <h3> Giá: 600.000 đ </h3>
              </div>
              <div class="products-detail">
                <p style="color: white;">Sản phẩm trong gian hàng của chủ shop</p>
                <div class="social">
                  <button type="button" class="btn btn-outline-success"> <a href="#">Chi tiết sản phẩm</a> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="products"> <img style="width: 100%"
              src="https://i.pinimg.com/564x/d9/41/83/d94183dab3243608e581887c3bc63444.jpg" alt="">
            <div class="products-details animate">
              <div class="products-header">
                <h1> Sản phẩm 1 </h1>
                <h3> Giá: 600.000 đ </h3>
              </div>
              <div class="products-detail">
                <p style="color: white;">Sản phẩm trong gian hàng của chủ shop</p>
                <div class="social">
                  <button type="button" class="btn btn-outline-success"> <a href="#">Chi tiết sản phẩm</a> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="products"> <img style="width: 100%"
              src="https://i.pinimg.com/564x/d9/41/83/d94183dab3243608e581887c3bc63444.jpg" alt="">
            <div class="products-details animate">
              <div class="products-header">
                <h1> Sản phẩm 1 </h1>
                <h3> Giá: 600.000 đ </h3>
              </div>
              <div class="products-detail">
                <p style="color: white;">Sản phẩm trong gian hàng của chủ shop</p>
                <div class="social">
                  <button type="button" class="btn btn-outline-success"> <a href="#">Chi tiết sản phẩm</a> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- sp cu -->
  </div>
</div>

<div class="left">
  <div class="item">
    <i class="fas fa-fw fa-bars"></i>
  </div>
  <div class="item" (click)="scroll(coban)">
    <i class="fas fa-fw fa-map-marked-alt"></i> Thông tin cơ bản
  </div>
  <div class="item" (click)="scroll(sanpham)">
    <i class="fas fa-fw fa-columns"></i> Thông tin sản phẩm
  </div>
  <div class="item" (click)="scroll(mota)">
    <i class="fas fa-fw fa-th"></i> Mô tả chi tiết
  </div>
  <!-- <div class="item">
    <i class="fas fa-fw fa-user-circle"></i> Dash
</div> -->
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("[rel='tooltip']").tooltip();
    $('.thumbnail').hover(
      function () {
        $(this).find('.caption').slideDown(250); //.fadeIn(250)
      },
      function () {
        $(this).find('.caption').slideUp(250); //.fadeOut(205)
      }
    );
  });

</script>
