<h1 mat-dialog-title class="text-center"><i class="fas fa-list-ul"></i> &nbsp; {{data.title}}</h1>
<div mat-dialog-content>
  <h4>Bản Cập Nhật Ngày 13 tháng 10 năm 2020</h4>

  <p class="text-justify">Phiên bản này có hiệu lực vào ngày 19 tháng 10 năm 2020. Để tham khảo phiên bản trước của Điều Khoản Sử Dụng, vui
    lòng bấm vào ĐÂY .

    Chào mừng quý bạn đến với trang web greenmarket.vn và / hoặc ứng dụng greenmarket trên thiết bị di động. Vui lòng
    đọc kỹ nội dung của Điều Khoản Sử Dụng này. Điều Khoản Sử Dụng điều chỉnh việc bạn sử dụng và truy cập Nền Tảng (như
    được định nghĩa dưới đây) và việc sử dụng bất kỳ phần nào của Dịch Vụ (như được định nghĩa dưới đây). Bằng cách truy
    cập vào Nền Tảng và / hoặc sử dụng Dịch Vụ, bạn đồng ý rằng bạn đã đọc, hiểu và chịu sự ràng buộc bởi các quy định
    của Điều Khoản Sử Dụng này, qua đó cấu thành một thỏa thuận pháp lý giữa bạn và greenmarket (như được định nghĩa
    dưới đây). Nếu bạn không đồng ý với các Điều Khoản Sử Dụng này, vui lòng không truy cập và / hoặc sử dụng Nền Tảng
    này hoặc sử dụng bất kỳ phần nào của Dịch Vụ. Nếu bạn sử dụng các công cụ tương tác greenmarket cung cấp trên Nền
    Tảng, thì Điều Kiện Và Điều Khoản Công Cụ Tương Tác Trên Nền Tảng sẽ được áp dụng.<br><br>

    Bạn phải có tài khoản greenmarket và phải từ 18 tuổi trở lên mới được truy cập và sử dụng các chức năng được bảo vệ
    bằng mật khẩu và / hoặc các chức năng được bảo mật trên Nền Tảng và / hoặc sử dụng Dịch Vụ. Bạn không được cố tình
    truy cập trái phép vào các chức năng này, hoặc vào bất kỳ phần thông tin được bảo vệ khác trên Nền Tảng và / hoặc
    Dịch Vụ này thông qua bất kỳ hình thức nào mà không được greenmarket cho phép.<br><br>

    Nếu bạn dưới 18 tuổi, bạn phải được sự đồng ý của cha mẹ hoặc người giám hộ hợp pháp, được sự đồng ý của họ đối với
    các quy định của Điều Khoản Sử Dụng này và đồng ý chịu trách nhiệm đối với: (i) hành động của bạn; (ii) bất kỳ khoản
    phí nào liên quan đến việc bạn sử dụng Dịch Vụ hoặc mua Sản Phẩm; và (iii) bạn chấp nhận và tuân thủ Điều Khoản Sử
    Dụng này. Nếu bạn không có sự đồng ý của cha mẹ hoặc người giám hộ hợp pháp và / hoặc truy cập Nền Tảng và / hoặc sử
    dụng Dịch Vụ này và / hoặc mua Sản Phẩm mà không có sự giám sát của cha mẹ hoặc người giám hộ hợp pháp, bạn phải
    dừng những hành động này ngay lập tức.</p>

<h4>  1. ĐỊNH NGHĨA VÀ GIẢI THÍCH</h4>

<p class="text-justify">  Trừ khi được định nghĩa khác đi, các định nghĩa và diễn giải được nêu trong Phụ Đính 1 sẽ được áp dụng cho Điều Khoản
  Sử Dụng này.</p>

 <h4> 2. ĐIỀU KHOẢN CHUNG VỀ SỬ DỤNG DỊCH VỤ VÀ / HOẶC TRUY CẬP NỀN TẢNG</h4>

  <h4>2.1 Hướng dẫn sử dụng Nền Tảng và/ hoặc Dịch Vụ</h4>

  <p class="text-justify">   • greenmarket cấp quyền cho bạn sử dụng và truy cập vào Nền Tảng để mua sắm trên Nền Tảng theo các điều khoản và điều
  kiện cụ thể.</p>
  <p class="text-justify">
  • Bạn đồng ý tuân thủ bất kỳ và tất cả các hướng dẫn, thông báo, quy chế hoạt động và chính sách cũng như hướng dẫn
  liên quan đến việc sử dụng Dịch Vụ và / hoặc truy cập vào Nền Tảng, cũng như bất kỳ điều chỉnh nào đối với những quy
  định đề cập trên đây do greenmarket ban hành vào từng thời điểm. greenmarket có quyền sửa đổi các hướng dẫn, thông
  báo, quy chế và chính sách hoạt động và hướng dẫn này vào bất kỳ lúc nào với thông báo trước phù hợp với quy định pháp
  luật và bạn được xem là đã biết và chịu sự ràng buộc bởi bất kỳ thay đổi nào như vậy kể từ khi những thông báo thay
  đổi, bổ sung được đăng tải trên Nền Tảng.</p>

  <h4>2.2 Các Hoạt Động Bị Giới Hạn</h4>

  <h4>Bạn đồng ý và cam kết KHÔNG:</h4>

  <p class="text-justify">  a) mạo danh bất kỳ cá nhân hoặc tổ chức nào hoặc tuyên bố không đúng sự thật hoặc gây nhầm lẫn về mối quan hệ của bạn
  với bất kỳ cá nhân hoặc tổ chức nào;</p>

  <p class="text-justify"> (b) sử dụng Nền Tảng hoặc Dịch Vụ cho các mục đích bất hợp pháp;</p>

  <p class="text-justify">  (c) cố tình truy cập trái phép hoặc can thiệp hoặc làm gián đoạn hệ thống máy tính hoặc hệ thống mạng được kết nối với
  Nền Tảng hoặc Dịch Vụ;</p>

  <p class="text-justify">  (d) đăng tải, quảng cáo hoặc truyền tải qua Nền Tảng hoặc Dịch Vụ bất kỳ Tài liệu Bị Cấm nào;</p>

  <p class="text-justify"> (e) can thiệp vào việc sử dụng Nền tảng hoặc Dịch Vụ của người khác;</p>

  <p class="text-justify"> (f) sử dụng hoặc đăng tải bất kỳ phần mềm hoặc tài liệu, theo bất kỳ cách thức nào mà bạn có lý do để nghi ngờ rằng
  những phần mềm hoặc tài liệu này có chứa vi rút, các yếu tố gây hỏng hóc, mã độc hại hoặc các thành phần có hại khác
  mà có thể làm suy yếu hoặc làm hỏng dữ liệu trên Nền Tảng hoặc làm hỏng hoặc can thiệp vào máy tính hoặc thiết bị di
  động của Khách Hàng khác hoặc Nền Tảng hoặc Dịch Vụ; </p>

  <p class="text-justify"> (g) sử dụng Nền Tảng hoặc Dịch Vụ không tuân theo chính sách sử dụng được cho phép của bất kỳ mạng máy tính có kết
  nối, bất kỳ tiêu chuẩn sử dụng mạng Internet nào và bất kỳ quy định pháp luật hiện hành nào được áp dụng.</p>

  <h4>2.3 Tính Sẵn Có Của Nền Tảng và Dịch Vụ</h4>

  <p class="text-justify"> greenmarket có thể, tùy từng thời điểm và không cần đưa ra bất kỳ lý do nào hoặc đưa ra thông báo trước, tiến hành
  nâng cấp, sửa đổi, tạm ngưng hoặc ngừng cung cấp hoặc xóa bỏ, toàn bộ hoặc một phần Nền Tảng hoặc bất kỳ Dịch Vụ nào
  và sẽ không chịu trách nhiệm nếu bất kỳ hoạt động nâng cấp, sửa đổi, tạm ngưng hoặc ngừng cung cấp hoặc xóa bỏ này có
  thể ngăn cản bạn truy cập vào Nền Tảng hoặc bất kỳ phần nào của Dịch Vụ.</p>

 <h4> 2.4 Khả năng Tương Thích trên Nền Tảng</h4>

 <p class="text-justify">  Các phiên bản định tuyến, trình duyệt và thiết bị có thể có phần cứng hoặc chế độ cài đặt không tương thích với Nền
  Tảng. Mặc dù greenmarket liên tục phát triển Nền Tảng trong phạm vi tối đa có thể nhằm hỗ trợ tất cả các thiết bị và
  phiên bản được sử dụng phổ biến trên thị trường và tất cả các trình duyệt mà có thể truy cập được vào Nền Tảng, nhưng
  greenmarket không đảm bảo khả năng tương thích của các thiết bị di động chuyên biệt hoặc phần cứng chuyên biệt khác
  trên Nền Tảng.</p>

  <h4>2.5 Quyền, Nhưng Không Phải Nghĩa Vụ Về Điều Chỉnh Nội Dung</h4>

  <p class="text-justify"> greenmarket bảo lưu quyền, nhưng không có nghĩa vụ phải thực hiện:</p>

  <p class="text-justify"> (a) giám sát, sàng lọc hoặc kiểm soát bất kỳ hoạt động, nội dung hoặc tài liệu nào trên Nền Tảng và / hoặc Dịch Vụ.
  greenmarket có toàn quyền quyết định về việc tiến hành điều tra bất kỳ vi phạm nào đối với Điều Khoản Sử Dụng và có
  quyền thực hiện bất kỳ hành động nào mà greenmarket cho là phù hợp;</p>

  <p class="text-justify"> (b) ngăn chặn hoặc hạn chế quyền truy cập của bất kỳ Người Sử Dụng nào không tuân thủ (theo toàn quyền quyết định của
  greenmarket) đối với Nền Tảng và / hoặc Dịch Vụ;</p>

  <p class="text-justify"> (c) báo cáo bất kỳ hoạt động nào mà greenmarket có cơ sở để nghi ngờ là vi phạm quy định pháp luật hoặc theo quy định
  của cơ quan chức năng và để hợp tác với cơ quan chức năng; và / hoặc;</p>

  <p class="text-justify"> (d) yêu cầu bạn cung cấp bất kỳ thông tin và dữ liệu nào có liên quan đến việc bạn sử dụng Dịch Vụ và / hoặc truy cập
  vào Nền Tảng vào bất kỳ thời gian nào; và để thực hiện quyền của greenmarket theo điều khoản này nếu bạn từ chối tiết
  lộ thông tin và / hoặc dữ liệu đó; hoặc nếu greenmarket có cơ sở hợp lý để nghi ngờ bạn đã cung cấp thông tin và /
  hoặc dữ liệu không chính xác, gây hiểu nhầm hoặc gian lận.</p>

  <h4>2.6 Chính Sách Bảo Mật</h4>

  <p class="text-justify"> Việc bạn sử dụng Dịch Vụ và / hoặc truy cập vào Nền Tảng greenmarket của chúng tôi phải tuân theo Chính Sách Bảo Mật của chúng tôi được quy định tại
  https://www.greenmarket.vn/privacy/ .</p>

  <h4>3. SỬ DỤNG DỊCH VỤ</h4>

  <h4>3.1 Hạn Chế: Khách Hàng đã vi phạm hoặc có hành vi vi phạm các điều khoản và điều kiện quy định tại Điều Khoản Sử Dụng
  này và Khách Hàng đã bị tạm thời hoặc vĩnh viễn đình chỉ việc sử dụng bất kỳ phần nào của Dịch Vụ sẽ không được sử
  dụng Dịch Vụ ngay cả khi đã đáp ứng các yêu cầu của Điều khoản</h4>

  <h4>3.2 Điều Khoản Sử Dụng Chung: Bạn đồng ý:</h4>

  <p class="text-justify"> (a) thực hiện bất kỳ hoạt động liên quan đến việc sử dụng Dịch Vụ một cách trung thực và hợp pháp; </p>

  <p class="text-justify"> (b) đảm bảo rằng bất kỳ thông tin hoặc dữ liệu được bạn đăng tải hoặc tạo ra trên Nền Tảng hoặc liên quan đến việc sử
  dụng Dịch Vụ là chính xác và bạn đồng ý chịu toàn bộ trách nhiệm về thông tin và dữ liệu đó.</p>

  <p class="text-justify">  greenmarket có thể hủy bỏ hoặc từ chối cho phép bạn sử dụng bất kỳ phần nào của Dịch Vụ khi greenmarket cho rằng hoặc
  có cơ sở để nghi ngờ rằng bạn đã sử dụng Dịch Vụ hoặc thực hiện giao dịch theo cách thức không phù hợp hoặc gian lận.
  Để tránh nhầm lẫn, việc sử dụng Dịch Vụ một cách không phù hợp hoặc gian lận bao gồm hành vi lạm dụng khuyến mại và /
  hoặc hoạt động gian lận trên hệ thống của chúng tôi.</p>

 <h4> 4. KHÁCH HÀNG SỞ HỮU TÀI KHOẢN greenmarket.</h4>

  <h4>4.1 Tên Người Dùng / Mật Khẩu: Một số Dịch Vụ nhất định được cung cấp trên Nền Tảng có thể yêu cầu bạn phải tạo Tài
    Khoản Người Dùng greenmarket hoặc yêu cầu bạn cung cấp Dữ Liệu Cá Nhân. Nếu bạn yêu cầu để tạo Tài Khoản Người Dùng
    greenmarket, Tên Người Dùng và Mật Khẩu có thể là:</h4>

  <p class="text-justify">(a) do greenmarket xác định và cấp cho bạn; hoặc</p>

  <p class="text-justify">(b) do bạn cung cấp và được greenmarket chấp nhận theo toàn quyền quyết định của greenmarket về việc sử dụng Dịch Vụ
    và / hoặc truy cập vào Nền Tảng. greenmarket có quyền, vào bất kỳ thời điểm nào, yêu cầu bạn cập nhật Dữ Liệu Cá Nhân
    hoặc hủy bỏ ngay lập tức hiệu lực của Tên Người Dùng và / hoặc Mật Khẩu và sẽ không chịu trách nhiệm pháp lý đối với
    bất kỳ Tổn Thất nào mà bạn phải chịu hoặc do bạn gây ra hoặc vì bất kỳ lý do nào liên quan đến yêu cầu hoặc sự hủy bỏ
    của greenmarket. Bạn đồng ý thay đổi Mật Khẩu vào từng thời điểm và giữ bí mật Tên Người Dùng và Mật Khẩu, cũng như
    bảo mật tài khoản của bạn và tự chịu trách nhiệm về việc tiết lộ hoặc sử dụng Tên Người Dùng và / hoặc Mật Khẩu (cho
    dù việc sử dụng đó có được phép hay không). Bạn phải thông báo ngay lập tức cho greenmarket nếu bạn biết rằng hoặc có
    lý do để nghi ngờ tính bảo mật của Tên Người Dùng và / hoặc Mật Khẩu đã bị xâm phạm hoặc Tên Người Dùng và / hoặc Mật
    Khẩu đã bị sử dụng trái phép hoặc nếu có yêu cầu cập nhập Dữ Liệu Cá Nhân của bạn.</p>

<p class="text-justify">  (c) Khách Hàng có thể nhận thư điện tử khuyến mại, tin nhắn văn bản SMS và / hoặc tin nhắn tại ứng dụng hoặc thông báo
  từ greenmarket theo cách thức phù hợp với chính sách của greenmarket và quy định pháp luật áp dụng. Trong trường hợp
  Khách Hàng không muốn tiếp tục nhận các thông báo như vậy, Khách Hàng có quyền từ chối bằng cách nhấp vào liên kết
  hiển thị ở cuối thông báo hoặc thiết lập lại Tài Khoản Người Dùng greenmarket.</p>

<h4>  4.2 Mục Đích Sử Dụng / Truy Cập: Bạn đồng ý và thừa nhận rằng việc sử dụng Dịch Vụ và / hoặc truy cập vào Nền Tảng và
  mọi thông tin, dữ liệu hoặc thông tin liên lạc được khởi tạo từ Tài Khoản Người Dùng greenmarket của bạn được xem là,
  theo từng trường hợp:</h4>

<p class="text-justify">  (a) bạn truy cập vào Nền Tảng và / hoặc bạn sử dụng Dịch Vụ; hoặc</p>

 <p class="text-justify"> (b) bạn đăng tải, truyền gửi và công bố thông tin, dữ liệu hoặc thông tin liên lạc một cách hợp lệ.</p>

<p class="text-justify">  Bạn sẽ chịu sự ràng buộc khi truy cập vào Nền Tảng và / hoặc sử dụng bất kỳ Dịch Vụ nào từ Tài Khoản Người Dùng
  greenmarket của bạn (cho dù lượt truy cập hoặc sử dụng Dịch Vụ đó có được bạn cho phép hay không) và greenmarket có
  quyền (nhưng không có nghĩa vụ) hành động, phản hồi hoặc giữ cho bạn chịu toàn bộ trách nhiệm đối với những hành động
  đăng tải, chuyển phát và công bố thông tin, dữ liệu hoặc thông tin liên lạc như thể những hành động này do chính bạn
  thực hiện. Bạn sẽ bồi thường bất kỳ và toàn bộ TổnThất cho greenmarket nếu greenmarket có bất kỳ Tổn Thất nào phát
  sinh liên quan đến việc Tài Khoản Người Dùng greenmarket của bạn.</p>

 <h4> 5. QUYỀN SỞ HỮU TRÍ TUỆ</h4>

<h4>  5.1 Quyền Sở Hữu: greenmarket, bên cấp phép cho greenmarket hoặc nhà cung cấp Dịch Vụ của greenmarket sở hữu, cấp phép
  và kiểm soát toàn bộ Quyền Sở Hữu Trí Tuệ trên Nền Tảng và đối với các Tài Liệu trên Nền Tảng. greenmarket bảo lưu
  quyền thực thi Quyền Sở Hữu Trí Tuệ của chúng tôi trong phạm vi tối đa pháp luật cho phép.</h4>

 <h4> 5.2 Hạn Chế Sử Dụng: Không có bất kỳ nội dung nào trên Nền Tảng, hoặc bất kỳ Tài Liệu nào được làm lại, thiết kế lại,
  tách rời, thay đổi, phân phối, tái xuất bản, hiển thị lại, phát sóng, sao chép, làm mẫu, chuyển giao hoặc truyền tải
  lại theo bất kỳ cách thức nào hoặc bằng bất kỳ phương tiện nào hoặc được lưu trữ trong hệ thống thông tin hoặc được
  cài đặt trên bất kỳ hệ thống máy chủ, hệ thống hoặc thiết bị nào mà không được sự cho phép trước bằng văn bản của
  greenmarket hoặc của chủ sở hữu bản quyền có liên quan. Phụ thuộc vào Điều 5.3, bạn chỉ được chúng tôi cho phép tải
  xuống, in hoặc sử dụng Tài Liệu cho mục đích cá nhân và phi thương mại, với điều kiện bạn không được sửa đổi nội dung
  Tài Liệu và greenmarket hoặc các chủ sở hữu bản quyền có liên quan vẫn giữ tất cả bản quyền và các thông báo của chủ
  sở hữu quy định trong Tài Liệu.</h4>

<h4>  5.3 Nhãn Hiệu: Nhãn Hiệu đã được đăng ký và chưa được đăng ký của greenmarket hoặc các bên thứ ba. Không có bất kỳ
  thông tin nào trên Nền Tảng và trong Điều Khoản Sử Dụng này sẽ được hiểu là cho phép, dù rõ ràng hoặc ngụ ý, ám chỉ
  hoặc được hiểu theo bất kỳ cách nào khác rằng bạn có quyền sử dụng bất kỳ giấy phép hoặc có quyền sử dụng (bao gồm
  dưới dạng thẻ meta hoặc đường dẫn liên kết đến một trang web khác) bất kỳ Nhãn Hiệu nào được hiển thị trên Dịch Vụ mà
  không có sự cho phép bằng văn bản của greenmarket hoặc bất kỳ chủ sở hữu nhãn hiệu nào khác.</h4>

<h4>  6. THÔNG TIN NGƯỜI SỬ DỤNG CUNG CẤP CHO greenmarket</h4>

<h4>  6.1 Thông Tin Người Sử Dụng Cung Cấp cho greenmarket: Bạn cấp cho greenmarket quyền trên cơ sở không độc quyền để sử
  dụng các tài liệu hoặc thông tin mà bạn cung cấp trên Nền Tảng và / hoặc cung cấp cho greenmarket, bao gồm nhưng không
  giới hạn các câu hỏi, đánh giá, nhận xét và đề xuất (gọi chung là “Thông Tin Người Sử Dụng Cung Cấp”). Khi bạn đăng
  nhận xét hoặc đánh giá lên Nền Tảng, bạn cũng cấp cho greenmarket quyền được sử dụng tên mà bạn sử dụng hoặc Tên Người
  Dùng của bạn đã đưa ra đánh giá, nhận xét hoặc nội dung khác. Bạn không được sử dụng thư điện tử giả, giả mạo danh
  tính của người khác hoặc sử dụng địa chỉ thư điện tử gây hiểu lầm cho greenmarket hoặc các bên thứ ba về Thông Tin
  Người Sử Dụng Cung Cấp. Chúng tôi có thể, nhưng không có nghĩa vụ phải công bố, xóa bỏ hoặc chỉnh sửa Thông Tin Người
  Sử Dụng Cung Cấp.</h4>

<h4>  7. CHẤM DỨT</h4>

<h4>  7.1 Chấm dứt bởi greenmarket: greenmarket có quyền đình chỉ hoặc chấm dứt quyền truy cập của bạn vào Nền Tảng hoặc sử
  dụng bất kỳ phần nào của Dịch Vụ hoặc xóa Tài Khoản Người Dùng greenmarket của bạn trong các trường hợp sau:</h4>

<p class="text-justify">  (a) bạn vi phạm các quy định tại Điều Khoản Sử Dụng này, các điều khoản hoặc chính sách bổ sung dành riêng cho Dịch
  Vụ;</p>

<p class="text-justify">  (b) greenmarket thực hiện theo yêu cầu của pháp luật, hoặc do cơ quan có thẩm quyền yêu cầu hoặc theo lệnh của tòa án;
  và</p>

 <p class="text-justify"> (c) greenmarket có cơ sở để tin rằng hành vi của bạn đã gây ra tổn hại hoặc tổn thất cho người dùng, bên thứ ba hoặc
  Google - ví dụ: tấn công, lừa đảo, quấy rối, gửi thư rác, lừa dối người khác hoặc sao chép nội dung không thuộc về
  bạn.</p>

  <p class="text-justify">  Nếu bạn cho rằng Tài Khoản Người Dùng greenmarket của mình đã bị tạm ngưng hoặc chấm dứt do lỗi, bạn có thể khiếu nại
    tại ĐÂY .</p>

<h4>  7.2 Chấm Dứt bởi Bạn: bạn có toàn quyền ngừng truy cập Nền Tảng hoặc sử dụng Dịch Vụ theo ý muốn của mình. Bạn có thể
  ngừng sử dụng Dịch Vụ bằng cách hủy kích hoạt Tài Khoản Người Dùng greenmarket, xóa ứng dụng di động greenmarket và
  ngừng truy cập vào Nền Tảng bất kỳ lúc nào.</h4>
<h4>
  8. THÔNG BÁO</h4>

  <h4>8.1 Thông Báo từ greenmarket: Tất cả các thông báo hoặc thông tin liên lạc khác được xem là đã gửi cho bạn nếu:
  </h4>
 <p class="text-justify">  (a) được gửi cho bạn qua bất kỳ phương thức in ấn hoặc điện tử mà greenmarket lựa chọn, sẽ được coi là đã được thông
  báo đến bạn vào ngày thông báo được công bố hoặc phát sóng; hoặc</p>

  <p class="text-justify">(b) được gửi qua đường bưu điện hoặc gửi đến địa chỉ của bạn, sẽ được xem là bạn đã nhận được vào ngày ký nhận thông
  báo.</p>

 <h4> 8.2 Thông Báo Từ bạn: bạn chỉ có thể thông báo cho greenmarket bằng văn bản được gửi đến địa chỉ văn phòng đăng ký của
  chúng tôi hoặc địa chỉ thư điện tử được chỉ định của greenmarket hoặc liên lạc với chúng tôi thông qua Bộ Phận Chăm
  Sóc Khách Hàng tại ĐÂY , và greenmarket chỉ được xem là đã nhận được thông báo sau khi ký nhận thông báo đó. Mặc dù
  greenmarket cố gắng phản hồi nhanh chóng các thông báo từ bạn, nhưng greenmarket không thể đảm bảo rằng greenmarket sẽ
  luôn phản hồi nhanh nhất.</h4>

<h4>  8.3 Các Phương Thức Khác: Không ảnh hưởng đến Điều Khoản 8.1 và 8.2 trên đây, greenmarket có quyền thay đổi các phương
  thức thông báo thông tin vào từng thời điểm (bao gồm nhưng không giới hạn đối với thư điện tử, tin nhắn văn bản SMS
  hoặc các hình thức liên lạc điện tử khác) vào thời gian hoặc thời điểm mà thông báo được gửi.</h4>

<h4>  9. ĐIỀU KHOẢN CHUNG</h4>
<h4>
  9.1 Quyền Và Yêu Cầu Bồi Thường: Trừ khi được quy định khác đi trong Điều Khoản Sử Dụng này, quyền và yêu cầu bồi
  thường của greenmarket theo Điều Khoản Sử Dụng này sẽ được tích lũy và không ảnh hưởng đến và thêm vào bất kỳ quyền
  hoặc yêu cầu bồi thường nào khác của greenmarket theo quy định của pháp luật. Việc greenmarket không thực hiện bất kỳ
  quyền hoặc yêu cầu bồi thường nào theo Điều Khoản Sử Dụng này, hoặc theo pháp luật (trừ trường hợp được quy định rõ
  trong Điều Khoản Sử Dụng này hoặc theo pháp luật nếu có) sẽ không được xem là cản trở hoặc ngăn cản việc greenmarket
  thực hiện bất kỳ quyền hoặc biện pháp khắc phục nào khác theo quy định của pháp luật.</h4>

<h4>  9.2 Không Từ bỏ: Việc greenmarket không thực thi Điều Khoản Sử Dụng này sẽ không được xem là greenmarket đã từ bỏ
  quyền được thực hiện các điều khoản đó và việc không thực thi này sẽ không ảnh hưởng đến quyền được thực thi Điều
  Khoản Sử Dụng trong tương lai. greenmarket vẫn có quyền thực hiện các quyền và yêu cầu bồi thường của mình trong bất
  kỳ trường hợp khi bạn vi phạm Điều Khoản Sử Dụng này.</h4>
<h4>
  9.3 Hiệu Lực Từng Phần: Nếu bất kỳ điều khoản nào của Điều Khoản Sử Dụng được coi là bất hợp pháp, không hợp lệ hoặc
  không thể thực thi ở bất kỳ khía cạnh nào, thì tính pháp lý, tính hợp lệ và tính thực thi của những điều khoản khác
  trong Điều Khoản Sử Dụng này và phần còn lại của điều khoản bị ảnh hưởng trong Điều Khoản Sử Dụng này vẫn tiếp tục có
  hiệu lực; và có hiệu lực như thể những nội dung bất hợp pháp, không hợp lệ hoặc không thể thực thi đã bị xóa bỏ khỏi
  Điều Khoản Sử Dụng này.</h4>

<h4>  9.4 Luật Điều Chỉnh Và Giải Quyết Tranh Chấp: Việc sử dụng Nền Tảng và / hoặc Dịch Vụ và các Điều Khoản Sử Dụng này sẽ
  được điều chỉnh và giải thích theo pháp luật Việt Nam. Bất kỳ tranh chấp phát sinh hoặc liên quan đến các Điều Khoản
  Sử Dụng này, bao gồm sự tồn tại, hiệu lực, cách giải thích, cách thực hiện, vi phạm hoặc chấm dứt các Điều Khoản Sử
  Dụng này; hoặc bất kỳ tranh chấp nào liên quan đến các nghĩa vụ ngoài hợp đồng phát sinh hoặc liên quan đến Điều Khoản
  Sử Dụng này thì vụ việc tranh chấp đó sẽ được đưa ra xét xử và giải quyết cuối cùng bởi Trung tâm Trọng Tài Quốc tế
  Việt Nam (VIAC) thuộc Phòng Thương Mại Và Công Nghiệp Việt Nam phù hợp với các Quy Tắc Trọng Tài của Trung Tâm Trọng
  Tài Quốc Tế Việt Nam ( "Quy tắc VIAC"), các quy tắc trọng tài này được xem như là dẫn chiếu đến tại đây. Hội đồng
  trọng tài sẽ bao gồm 3 trọng tài. Ngôn ngữ của trọng tài sẽ là tiếng Việt.</h4>

<h4>  9.5 Sửa Lỗi: Mọi lỗi về đánh máy, văn thư, hoặc các lỗi hoặc thiếu sót khác trong bất kỳ chấp thuận, hóa đơn hoặc tài
  liệu nào khác từ phía greenmarket sẽ có thể được greenmarket đính chính lại mà không làm phát sinh bất kỳ trách nhiệm
  nào đối với greenmarket.</h4>

<h4>  9.6 Sự Ràng Buộc và Đồng Bộ: bạn thừa nhận và đồng ý rằng bất kỳ tài liệu lưu trữ nào (bao gồm tài liệu về bất kỳ cuộc
  trò chuyện qua điện thoại liên quan đến Nền Tảng và Dịch Vụ, nếu có) do greenmarket hoặc các nhà cung cấp Dịch Vụ của
  greenmarket lưu giữ liên quan đến Nền Tảng và Dịch Vụ sẽ là cơ sở có giá trị ràng buộc và là bằng chứng sau cùng về
  bất kỳ thông tin và / hoặc dữ liệu nào được chuyển giao giữa greenmarket và bạn. Bạn theo đây đồng ý rằng tất cả các
  tài liệu như vậy đều có thể được xem là bằng chứng và bạn sẽ không phản đối hoặc tranh chấp về khả năng chấp nhận, độ
  tin cậy, độ chính xác hoặc tính xác thực của các tài liệu này chỉ vì lý do các tài liệu này ở dạng điện tử hoặc trích
  xuất từ hệ thống máy tính và bạn từ bỏ bất kỳ quyền của mình, nếu có, để phản đối theo đó</h4>

<h4>  9.7 Giao Thầu Phụ và Chỉ Định: greenmarket có quyền chỉ định hoặc giao nhà thầu phụ thực hiện bất kỳ phần nội dung
  công việc nào của greenmarket liên quan đến Nền Tảng và / hoặc Dịch Vụ và greenmarket có quyền sử dụng bất kỳ nhà cung
  cấp dịch vụ, nhà thầu phụ và / hoặc đại lý ủy quyền theo các điều khoản và điều kiện mà greenmarket cho là phù hợp.</h4>

<h4>  9.8 Chuyển Nhượng: bạn không được chuyển nhượng các quyền và nghĩa vụ của mình theo Điều Khoản Sử Dụng này mà không
  được sự đồng ý trước bằng văn bản của greenmarket. greenmarket có quyền chuyển nhượng các quyền và nghĩa vụ của mình
  theo Điều Khoản Sử Dụng này cho bất kỳ bên thứ ba nào.</h4>

<h4>  9.9 Trường Hợp Bất Khả Kháng: greenmarket sẽ không chịu trách nhiệm về việc không thực hiện, lỗi, gián đoạn hoặc chậm
  trễ trong việc thực hiện các nghĩa vụ của mình theo Điều Khoản Sử Dụng này (hoặc bất kỳ phần nào trong đó) hoặc bất kỳ
  sự không chính xác, không đáng tin cậy hoặc không phù hợp nào trên Nền Tảng và / hoặc nội dung của Dịch Vụ nếu điều
  này là do, toàn bộ hoặc một phần, trực tiếp hoặc gián tiếp phát sinh từ một sự kiện hoặc lỗi nằm ngoài tầm kiểm soát
  hợp lý của greenmarket.</h4>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="status=!status"  >
    <label class="form-check-label ml-4 pl-2" for="defaultCheck1">
      Tôi đồng ý với điều khoản và chính sách
    </label>
  </div>
</div>

<div style="float:right;margin:20px;">
  <input *ngIf="status" class="btn-configg " type="button" value="Yes" [mat-dialog-close]="true">
  <input class="btn-cancel" type="button" value="Cancel" [mat-dialog-close]="false" >
</div>
