
<div class="header--sidebar"></div>
<header class="header" style="background-color: #ffffff">

  <div class="header__top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
          <p>
            460 Lí Thường Kiệt, Liên Chiểu, Đà Nẵng - Hotline: 804-377-3580 -
            804-399-3580
          </p>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
          <div class="header__actions">
            <a  *ngIf="!login" routerLink="/login">Đăng nhập <i class="fas fa-sign-in-alt"></i></a>
            <a href="#"> Ứng dụng <i class="fas fa-long-arrow-alt-down"></i></a>
            <a href="#">Thông báo <i class="far fa-bell"></i></a>
            <div class="btn-group ps-dropdown" style="z-index: 9999999999">
              <a
                class="dropdown-toggle"
                *ngIf="login"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Tài khoản <i class="fas fa-user-cog"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" ><img src="../assets/images/images/flag/usa.svg" alt="" *ngIf="role == 1">
                    Quản lý sản phẩm</a>
                </li>
                <li>
                  <a href="#"><img src="../assets/images/images/flag/singapore.svg"alt="" *ngIf="role == 1">Điểm</a>
                </li>
                <li>
                  <a href="#"><img src="../assets/images/images/flag/japan.svg" alt="" /> Thông tin</a>
                </li>
                <li>
                  <a href="#"><img src="../assets/images/images/flag/japan.svg" alt="" /> Đăng xuất</a>
                </li>

              </ul>

            </div>
            <div class="btn-group ps-dropdown" style="z-index: 9999999999">
              <a
                class="dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Ngôn ngữ <i class="fas fa-globe-americas"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
                <li><a href="#">Japanese</a></li>
                <li><a href="#">Chinese</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navigation navbar-menu">
    <div class="container-fluid">
      <div class="navigation__column left">
        <div class="header__logo">
          <a class="ps-logo" href="index.html"
            ><img src="{{ imageUrlLogoo }}"
          /></a>
        </div>
      </div>
      <div class="navigation__column center">
        <ul class="main-menu menu">
          <li class="menu-item menu-item-has-children dropdown">
            <a href="index.html">Trang chủ</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="index.html">Homepage #1</a></li>
              <li class="menu-item"><a href="#">Homepage #2</a></li>
              <li class="menu-item"><a href="#">Homepage #3</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children has-mega-menu">
            <a href="#">Danh mục</a>
            <div class="mega-menu">
              <div class="mega-wrap">
                <div class="mega-column">
                  <ul class="mega-item">
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl6 }}" style="height: 35px" />Thiết
                        bị điện gia dụng</a
                      >
                    </li>
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl7 }}" style="height: 35px" /> Thể
                        thao & du lịch</a
                      >
                    </li>
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl7 }}" style="height: 35px" />Ô tô
                        & xe máy-xe đạp</a
                      >
                    </li>
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl8 }}" style="height: 35px" />Thời
                        trang nữ</a
                      >
                    </li>
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl9 }}" style="height: 35px" />Giày
                        dép nữ</a
                      >
                    </li>
                    <li>
                      <a href="product-listing.html"
                        ><img src="{{ imageUrl9 }}" style="height: 35px" />Mẹ &
                        bé</a
                      >
                    </li>
                  </ul>
                </div>

                <div class="mega-column">
                  <h4 class="mega-heading">CLOTHING</h4>
                  <ul class="mega-item">
                    <li>
                      <a href="product-listing.html">Compression & Nike Pro</a>
                    </li>
                    <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                    <li><a href="product-listing.html">Polos</a></li>
                    <li>
                      <a href="product-listing.html">Hoodies & Sweatshirts</a>
                    </li>
                    <li><a href="product-listing.html">Jackets & Vests</a></li>
                    <li><a href="product-listing.html">Pants & Tights</a></li>
                    <li><a href="product-listing.html">Shorts</a></li>
                  </ul>
                </div>
                <div class="mega-column">
                  <h4 class="mega-heading">Accessories</h4>
                  <ul class="mega-item">
                    <li>
                      <a href="product-listing.html">Compression & Nike Pro</a>
                    </li>
                    <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                    <li><a href="product-listing.html">Polos</a></li>
                    <li>
                      <a href="product-listing.html">Hoodies & Sweatshirts</a>
                    </li>
                    <li><a href="product-listing.html">Jackets & Vests</a></li>
                    <li><a href="product-listing.html">Pants & Tights</a></li>
                    <li><a href="product-listing.html">Shorts</a></li>
                  </ul>
                </div>
                <div class="mega-column">
                  <h4 class="mega-heading">BRAND</h4>
                  <ul class="mega-item">
                    <li><a href="product-listing.html">NIKE</a></li>
                    <li><a href="product-listing.html">Adidas</a></li>
                    <li><a href="product-listing.html">Dior</a></li>
                    <li><a href="product-listing.html">B&G</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item"><a routerLink="/product">Bán hàng</a></li>
          <li class="menu-item menu-item-has-children dropdown">
            <a href="#">News</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-has-children dropdown">
                <a href="blog-grid.html">Blog-grid</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="blog-grid.html">Blog Grid 1</a>
                  </li>
                  <li class="menu-item">
                    <a href="blog-grid-2.html">Blog Grid 2</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children dropdown">
            <a href="#">Contact</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="contact-us.html">Contact Us #1</a>
              </li>
              <li class="menu-item">
                <a href="contact-us.html">Contact Us #2</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navigation__column right">
        <form class="ps-search--header" action="do_action" method="post">
          <input
            class="form-control"
            type="text"
            placeholder="Search Product…"
          />
          <button><i class="ps-icon-search"></i></button>
        </form>
        <div class="ps-cart">
          <a class="ps-cart__toggle" href="#"
            ><span><i>20</i></span
            ><i class="ps-icon-shopping-cart"></i
          ></a>
          <div class="ps-cart__listing">
            <div class="ps-cart__content">
              <div class="ps-cart-item">
                <a class="ps-cart-item__close" href="#"></a>
                <div class="ps-cart-item__thumbnail">
                  <a href="product-detail.html"></a
                  ><img
                    src="../assets/images/images/cart-preview/1.jpg"
                    alt=""
                  />
                </div>
                <div class="ps-cart-item__content">
                  <a class="ps-cart-item__title" href="product-detail.html"
                    >Amazin’ Glazin’</a
                  >
                  <p>
                    <span>Quantity:<i>12</i></span
                    ><span>Total:<i>£176</i></span>
                  </p>
                </div>
              </div>
              <div class="ps-cart-item">
                <a class="ps-cart-item__close" href="#"></a>
                <div class="ps-cart-item__thumbnail">
                  <a href="product-detail.html"></a
                  ><img
                    src="../assets/images/images/cart-preview/2.jpg"
                    alt=""
                  />
                </div>
                <div class="ps-cart-item__content">
                  <a class="ps-cart-item__title" href="product-detail.html"
                    >The Crusty Croissant</a
                  >
                  <p>
                    <span>Quantity:<i>12</i></span
                    ><span>Total:<i>£176</i></span>
                  </p>
                </div>
              </div>
              <div class="ps-cart-item">
                <a class="ps-cart-item__close" href="#"></a>
                <div class="ps-cart-item__thumbnail">
                  <a href="product-detail.html"></a
                  ><img
                    src="../assets/images/images/cart-preview/3.jpg"
                    alt=""
                  />
                </div>
                <div class="ps-cart-item__content">
                  <a class="ps-cart-item__title" href="product-detail.html"
                    >The Rolling Pin</a
                  >
                  <p>
                    <span>Quantity:<i>12</i></span
                    ><span>Total:<i>£176</i></span>
                  </p>
                </div>
              </div>
            </div>

            <div class="ps-cart__footer">
              <a class="ps-btn" href="cart.html"
                >Xem thêm<i class="ps-icon-arrow-left"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="menu-toggle"><span></span></div>
      </div>
    </div>
  </nav>
</header>
