<nav
  class="navbar navbar-expand-md fixed-top navbar-dark navbar-menu"
  style="margin-top: 0px;"
>
  <div style="width: 130px; margin-top: -15px;">
    <img src="{{ imageUrlLogoo }}" class="navbar-menu__img" />
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav justify-content-end" id="collapsibleNavbar">
    <div>
      <div class="row mb-3" style="color: #fff;">
          <div class="col">
            <a class="float-right a-link">Thông báo <i class="far fa-bell"></i></a>
            <a class="float-right mr-3 a-link">Trợ giúp <i class="far fa-question-circle"></i></a>
            <a class="float-right mr-3 ml-1 a-link">
              Ứng dụng <i class="fas fa-long-arrow-alt-down"></i></a>
          </div>

      </div>
      <div class="row">
        <ul class="navbar-menu__list">
          <li class="navbar-menu__item">
            <a routerLink="/" class="navbar-menu__link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Trang Chủ
            </a>
          </li>
          <li class="navbar-menu__item">
            <a routerLink="/listNew" class="navbar-menu__link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Mới
            </a>
          </li>

          <li class="navbar-menu__item">
            <a href="#" class="navbar-menu__link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Đã xem
            </a>
          </li>

          <li class="navbar-menu__item">
            <a
              routerLink="#"


              class="nav-link dropdown-toggle navbar-menu__link"

              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Danh mục </a>
            <div class="navvcontent dropdown-menu"  aria-labelledby="navbarDropdown">
              <div class="row mt-3" style="width: 100%; margin-left: 2%;">
                <div class="col-sm-2">
                  <img src="{{ imageUrl6 }}" style="height: 150px;" />
                  <br />
                  <li>Thiết Bị Điện Gia Dụng</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl7 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Thể Thao & Du Lịch</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl7 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Ô Tô & Xe Máy - Xe Đạp</li>
                </div>

                <div class="col-sm-2">
                  <img src="{{ imageUrl8 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Thời Trang Nữ</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl9 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Giày Dép Nữ</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl9 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Mẹ & Bé</li>
                </div>
              </div>

              <div class="row mt-3 pb-4" style="width: 100%; margin-left: 2%;">
                <div class="col-sm-2">
                  <img src="{{ imagerUrl }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Thời Trang Nam</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl1 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Điện Thoại & Phụ kiện</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl2 }}" alt="" style="height: 150px;" />
                  <li>Máy tính & Laptop</li>
                  <br />
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl3 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Máy ảnh, Máy Quay Phim</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl4 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Đồng Hồ</li>
                </div>
                <div class="col-sm-2">
                  <img src="{{ imageUrl5 }}" alt="" style="height: 150px;" />
                  <br />
                  <li>Giày Dép Nam</li>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown navbar-menu__item" *ngIf="role == 0">
            <a
              class="nav-link dropdown-toggle navbar-menu__link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Quản lý
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Doanh thu</a>
              <a class="dropdown-item" href="#">Sản phẩm</a>
              <a class="dropdown-item" href="#">Người dùng</a>
              <a class="dropdown-item" href="#">Phản hồi</a>
            </div>
          </li>

          <li class="navbar-menu__item" *ngIf="role == 1">
            <a href="#" class="navbar-menu__link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Bán hàng
            </a>
          </li>

          <li class="nav-item dropdown navbar-menu__item">
            <a
              class="nav-link dropdown-toggle navbar-menu__link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Tài khoản
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" *ngIf="role == 1"
                >Quản lý sản phẩm</a
              >
              <a class="dropdown-item" href="#" *ngIf="role == 1">Điểm</a>
              <a class="dropdown-item" href="#">Thông tin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/login">Đăng nhập</a>
              <a class="dropdown-item" href="#">Đăng xuất</a>
              <a class="dropdown-item" href="#">Đăng kí</a>
            </div>
          </li>
          <li class="navbar-menu__item">
            <span class="navbar-menu__cart">
              <i class="fas fa-globe"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div class="search-box hide-on-moblie">
  <input type="text" placeholder="Tìm kiếm...." class="search-txt">
  <a href="" class="btn-search">
      <i class="fas fa-search"></i>
  </a>
</div>
