.formcontroll {
   margin-left: 200px;
   
}
nav li {
    display: inline-block;
    padding: 3px;
  
}
.search {
   margin-left: 60px;
}

nav {
    margin-top: 10px;
}
.dropdown-menu{
    width: 2000px;
    padding:0px;
    margin-left: -860px; width: 1350px;
    margin-top: 50px;
}
.dropdown:hover .dropdown-menu {display: block;}


.dropdown-menu img {
    object-fit: contain;
    width: 200px; height: 100px;
}
.dropdown-menu li {
    margin-left: 50px;
    font-size: small;
}
