
.navbar-menu {
  background-color: #2f3535;
  /* background-color: #81F581; */
  opacity: 0.1;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px 0 60px;

  visibility: hidden;
  transition: 0.8s;
  animation: fadeInTop 0.8s forwards;

  -moz-box-shadow: 0px 5px 17px #000000;
  -webkit-box-shadow: 0px 5px 17px #000000;
  box-shadow: 0px 5px 17px #000000;
}

.navbar-menu__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navbar-menu__list {
  /* padding: 0 0; */
  list-style: none;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.navbar-menu__item {
  padding: 0 10px;
}
.navbar-menu__link {
  /* font-family: Zapf Chancery, cursive; */
  position: relative;
  display: inline-block;
  text-decoration: none;
  /* color: #b9b8b8;
   */
  color: #fff;
  /* color: #000; */
  overflow: hidden;
  padding: 3px 5px;
  font-size: 18px;
  transition: 0.3s;
}

.navbar-menu__link:hover {
  color: #ffff;
  /* color: #000; */
  transition-delay: 1s;
  text-decoration: none;
  box-shadow: 1px 1px 15px #5dd0cb;
}

.navbar-menu__cart {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  margin-bottom: -10px;
  transition: 0.3;
}

.navvcontent {
  position: fixed;
  top: 111px;
  width: 100%;
  background-color: rgba(67, 76, 76, 0.8);
  color: white;
}
.a-link{
  /* color: #82e445; */
  color: greenyellow;
  /* color: red; */
  font-size: 14px;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}


/* search */

.search-box {
  position: fixed;
  top: 50px;
  left: 20%;
  /* background: #2f3640; */
  background-color: #fff;
  /* height: 50px; */
  border-radius: 40px;
  padding: 2px;
  z-index: 999999;
}
.btn-search {
  text-decoration: none;
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  /* color: white; */
  color: #000;
  cursor: pointer;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  /* color: white; */
  color: #000;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .btn-search {
  background: white;
  color: black;
}
.search__icon{
  color: rgb(183, 250, 82);
}
.search__icon:hover{
  color: #000;
}
