<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{{ imageUrlLogoo }}" alt="" style="object-fit: contain;
  width: 200px; height: 100px; margin-left: -40px;" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;"> 
        <div class="search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    <div class ="formcontroll" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Trang Chủ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mới</a>
        </li>
        <li class="nav-item dropdown mega-dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink3" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" >Danh Mục</a>
            <div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-5 px-3"
              aria-labelledby="navbarDropdownMenuLink3" >
              <div class="row">
                <div class="col">
                  <img src="{{imagerUrl}}" alt="">
                  <br>
                  <li>Thời Trang Nam</li>
                </div>
                <div class="col">
                  <img src="{{ imageUrl1 }}" alt="" >
                  <br>
                  <li>Điện Thoại & Phụ kiện</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl2}}" alt="">
                  <li>Máy tính & Laptop</li>
                  <br>
                </div>
                <div class="col">
                  <img src="{{imageUrl3}}" alt="" >
                  <br>
                  <li>Máy ảnh -Máy Quay Phim</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl4}}" alt="" >
                  <br>
                  <li style="margin-left: 70px;">Đồng Hồ</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl5}}" alt="" >
                  <br>
                  <li>Giày Dép Nam</li>
                </div>
                
              </div>
              <div class="row">
                <div class="col">
                  <img src="{{imageUrl6}}" alt="" >
                  <br>
                  <li>Thiết Bị Điện Gia Dụng</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl7}}" alt="" >
                  <br>
                  <li>Thể Thao & Du Lịch</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl7}}" alt="" >
                  <br>
                  <li>Ô Tô & Xe Máy - Xe Đạp</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl8}}" alt="">
                  <br>
                  <li>Thời Trang Nữ</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl9}}" alt="" >
                  <br>
                  <li>Giày Dép Nữ</li>
                </div>
                <div class="col">
                  <img src="{{imageUrl9}}" alt="" >
                  <br>
                  <li>Mẹ & Bé</li>
                </div>
                
              </div>
            </div>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Đã Xem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bán Hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tài Khoản</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ngôn Ngữ</a>
          </li>
      </ul>
      </div>

    </div>
  </nav>