<div class="container-fluid" style="background: rgba(150, 238, 161, 0.4);">

    <div class="container mt-5 mb-5">
      <!-- header  -->
      <div class="dis_header row">
        <!-- <img src="//gcp-img.slatic.net/1a1e4b9f-bc91-42c6-9612-18c228340259_VN-1188-400.jpg" alt=""> -->
        <img src="../../../assets/images/imgSL/sl01.png" alt="">
      </div>
      <!-- header  -->

      <!-- card 1  -->
      <div class="row dis_title mt-5">
        <h1>Thu Thập & Thanh Toán Ngay!</h1>
      </div>
      <div class="row">
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                FreeshipMax x3 lượt
              </div>
              <div class="price mt-5 mb-5">
                20.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  30K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                Sản phẩm Sale Địa Chấn
              </div>
              <div class="price mt-5 mb-5">
                35.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  350K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                Sản phẩm Sale Địa Chấn
              </div>
              <div class="price mt-5 mb-5">
                80.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  799K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
      </div>
      <!-- card 1  -->

      <!-- card 2  -->
      <div class="row mt-5">
        <div class="row" style="width: 100%;">
            <div class="col-md-11">
              <h1>Voucher siêu hot</h1>
            </div>
            <div class="col-md-1">
                <!-- Controls -->
                <div class="controls float-xs-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                    <div class="col-sm-3 aktheak" >
                        <div class="voucher row">
                           <div class="vc_logo col-12 mt-2 mb-4">
                             <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                           </div>
                           <div class="vc_name col-12 mb-4">
                              AKTHEAK
                           </div>
                           <div class="vc_price col-12 mb-5">
                             8.000 đ
                           </div>
                           <div class="vc_desc col-12 mb-5">
                            Đơn hàng tối thiểu <br><br> ₫200.000
                           </div>
                           <div class="vc_but col-12 mb-3">
                            <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                           </div>
                        </div>
                    </div>
                    <div class="col-sm-3 aktheak" >
                      <div class="voucher row">
                         <div class="vc_logo col-12 mt-2 mb-4">
                           <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                         </div>
                         <div class="vc_name col-12 mb-4">
                            DuBai
                         </div>
                         <div class="vc_price col-12 mb-5">
                           10.000 đ
                         </div>
                         <div class="vc_desc col-12 mb-5">
                          Đơn hàng tối thiểu <br><br> ₫300.000
                         </div>
                         <div class="vc_but col-12 mb-3">
                           <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-3 aktheak" >
                      <div class="voucher row">
                        <div class="vc_logo col-12 mt-2 mb-4">
                          <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                        </div>
                        <div class="vc_name col-12 mb-4">
                            XAOLIMAK
                        </div>
                        <div class="vc_price col-12 mb-5">
                          15.000 đ
                        </div>
                        <div class="vc_desc col-12 mb-5">
                          Đơn hàng tối thiểu <br><br> ₫300.000
                        </div>
                        <div class="vc_but col-12 mb-3">
                           <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 aktheak" >
                      <div class="voucher row">
                        <div class="vc_logo col-12 mt-2 mb-4">
                          <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                        </div>
                        <div class="vc_name col-12 mb-4">
                            LAMSAO
                        </div>
                        <div class="vc_price col-12 mb-5">
                          20.000 đ
                        </div>
                        <div class="vc_desc col-12 mb-5">
                          Đơn hàng tối thiểu <br><br> ₫400.000
                        </div>
                        <div class="vc_but col-12 mb-3">
                           <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3 aktheak" >
                            <div class="voucher row">
                               <div class="vc_logo col-12 mt-2 mb-4">
                                 <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                               </div>
                               <div class="vc_name col-12 mb-4">
                                  AKTHEAK
                               </div>
                               <div class="vc_price col-12 mb-5">
                                 8.000 đ
                               </div>
                               <div class="vc_desc col-12 mb-5">
                                Đơn hàng tối thiểu <br><br> ₫200.000
                               </div>
                               <div class="vc_but col-12 mb-3">
                                 <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                               </div>
                            </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                             <div class="vc_logo col-12 mt-2 mb-4">
                               <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                             </div>
                             <div class="vc_name col-12 mb-4">
                                DuBai
                             </div>
                             <div class="vc_price col-12 mb-5">
                               10.000 đ
                             </div>
                             <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫300.000
                             </div>
                             <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                             </div>
                          </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                            <div class="vc_logo col-12 mt-2 mb-4">
                              <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                            </div>
                            <div class="vc_name col-12 mb-4">
                                XAOLIMAK
                            </div>
                            <div class="vc_price col-12 mb-5">
                              15.000 đ
                            </div>
                            <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫300.000
                            </div>
                            <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                            <div class="vc_logo col-12 mt-2 mb-4">
                              <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                            </div>
                            <div class="vc_name col-12 mb-4">
                                LAMSAO
                            </div>
                            <div class="vc_price col-12 mb-5">
                              20.000 đ
                            </div>
                            <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫400.000
                            </div>
                            <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- card 2  -->

      <!-- card 3  -->
      <div class="row mt-5">
        <div class="row" style="width: 100%;">
            <div class="col-md-11">
              <h1>Voucher từ Ngân hàng</h1>
            </div>
            <div class="col-md-1">
                <!-- Controls -->
                <div class="controls float-xs-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example2" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn" href="#carousel-example2" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example2" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-3 aktheak" >
                      <div class="voucher row">
                         <div class="vc_logo col-12 mt-2 mb-4">
                           <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                         </div>
                         <div class="vc_name col-12 mb-4">
                            AKTHEAK
                         </div>
                         <div class="vc_price col-12 mb-5">
                           8.000 đ
                         </div>
                         <div class="vc_desc col-12 mb-5">
                          Đơn hàng tối thiểu <br><br> ₫200.000
                         </div>
                         <div class="vc_but col-12 mb-3">
                           <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                         </div>
                      </div>
                  </div>
                  <div class="col-sm-3 aktheak" >
                    <div class="voucher row">
                       <div class="vc_logo col-12 mt-2 mb-4">
                         <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                       </div>
                       <div class="vc_name col-12 mb-4">
                          DuBai
                       </div>
                       <div class="vc_price col-12 mb-5">
                         10.000 đ
                       </div>
                       <div class="vc_desc col-12 mb-5">
                        Đơn hàng tối thiểu <br><br> ₫300.000
                       </div>
                       <div class="vc_but col-12 mb-3">
                         <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-3 aktheak" >
                    <div class="voucher row">
                      <div class="vc_logo col-12 mt-2 mb-4">
                        <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                      </div>
                      <div class="vc_name col-12 mb-4">
                          XAOLIMAK
                      </div>
                      <div class="vc_price col-12 mb-5">
                        15.000 đ
                      </div>
                      <div class="vc_desc col-12 mb-5">
                        Đơn hàng tối thiểu <br><br> ₫300.000
                      </div>
                      <div class="vc_but col-12 mb-3">
                         <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 aktheak" >
                    <div class="voucher row">
                      <div class="vc_logo col-12 mt-2 mb-4">
                        <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                      </div>
                      <div class="vc_name col-12 mb-4">
                          LAMSAO
                      </div>
                      <div class="vc_price col-12 mb-5">
                        20.000 đ
                      </div>
                      <div class="vc_desc col-12 mb-5">
                        Đơn hàng tối thiểu <br><br> ₫400.000
                      </div>
                      <div class="vc_but col-12 mb-3">
                         <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3 aktheak" >
                            <div class="voucher row">
                               <div class="vc_logo col-12 mt-2 mb-4">
                                 <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                               </div>
                               <div class="vc_name col-12 mb-4">
                                  AKTHEAK
                               </div>
                               <div class="vc_price col-12 mb-5">
                                 8.000 đ
                               </div>
                               <div class="vc_desc col-12 mb-5">
                                Đơn hàng tối thiểu <br><br> ₫200.000
                               </div>
                               <div class="vc_but col-12 mb-3">
                                 <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                               </div>
                            </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                             <div class="vc_logo col-12 mt-2 mb-4">
                               <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                             </div>
                             <div class="vc_name col-12 mb-4">
                                DuBai
                             </div>
                             <div class="vc_price col-12 mb-5">
                               10.000 đ
                             </div>
                             <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫300.000
                             </div>
                             <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                             </div>
                          </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                            <div class="vc_logo col-12 mt-2 mb-4">
                              <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                            </div>
                            <div class="vc_name col-12 mb-4">
                                XAOLIMAK
                            </div>
                            <div class="vc_price col-12 mb-5">
                              15.000 đ
                            </div>
                            <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫300.000
                            </div>
                            <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 aktheak" >
                          <div class="voucher row">
                            <div class="vc_logo col-12 mt-2 mb-4">
                              <img src="https://vn-test-11.slatic.net/shop/666006152b6338b267b60f31ef33a488.png_2200x2200q75.jpg_.webp" width="50px" height="50px" alt="">
                            </div>
                            <div class="vc_name col-12 mb-4">
                                LAMSAO
                            </div>
                            <div class="vc_price col-12 mb-5">
                              20.000 đ
                            </div>
                            <div class="vc_desc col-12 mb-5">
                              Đơn hàng tối thiểu <br><br> ₫400.000
                            </div>
                            <div class="vc_but col-12 mb-3">
                               <button class="custom-btn btn-11">Thu thập<div class="dot"></div></button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- card 3  -->

      <!-- card 4  -->
      <div class="row mt-5">
        <div class="row" style="width: 100%;">
            <div class="col-md-11">
              <h1>Mã cửa hàng giảm giá</h1>
            </div>
            <div class="col-md-1">
                <!-- Controls -->
                <div class="controls float-xs-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example3" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn" href="#carousel-example3" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example3" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                      <div class="cardhalf row">
                         <div class=" row mt-3 mb-5">
                          <div class="col-9">
                            <div class="row mb-2 mt-2">
                              <div class="left_img col-5 text-center">
                                <img src="https://vn-live.slatic.net/v2/resize/page_decoration/756b1272373a1ce0cca0ea1809649b50.jpg"
                                style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                              </div>
                              <div class="left_desc col-7">
                                Green Market
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-5 text-center">
                                <img src="https://vn-live-01.slatic.net/p/2ff8d0dd96acb1803170335aa28e32f1.jpg_2200x2200q75.jpg_.webp"
                                style="width: 88px; height: 88px;" alt="">
                              </div>
                              <div class="ch_text col-7 mt-3">
                                <a style="font-size: 48px;">50%</a> <a style="font-size: 28px;">Giảm</a> <br><br>
                                <a style="font-size: 20px;">Đơn hàng tối thiểu  20.000₫</a>
                              </div>
                            </div>
                          </div>
                          <div class="vc_but col-3 mt-5 text-center">
                             <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                          </div>
                         </div>
                         <div class=" ch_desc row">
                          <div class="col-12 mb-3">
                            <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.10.08-2020.11.30</a>
                          </div>
                         </div>
                      </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/b07608fd4b8ae24b0c609ed249569a06.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Siêu thị Lemart
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/67eb956069742d40cc0d55dc86f9bcd1.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">50%</a> <a style="font-size: 28px;">Giảm</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  99.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.17-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/6ee86786872f7eef5257eedff01a38b5.jpeg"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Luxury Storee
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/4eeac8a14854206fce5263a4a00f59be.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">2.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  149.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.09.23-2021.01.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/b9f09c1fcdd4e35f56b1c2cd3b5319df.jpeg"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Hàng Cực Rẻ
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/12daa52ec8beb775d317fe11a070e688.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">20%</a> <a style="font-size: 28px;">Giảm</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  50.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.10.23-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/1a68ea976861b6d917b85408904c4fe0.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              TCL Flagship
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/a7c9bd35b3d296a0d6e7d492ce27eb3a.png_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">1.300.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  8.000.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.26-2020.11.27</a>
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/cc8272ff9f3a25510ca4e2738e6785fc.jpeg"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              N end K
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/e00efe4271dd29e977db23e3e3d1f66b.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">40%</a> <a style="font-size: 28px;">Giảm</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  150.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.05-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/4ed5cac91b90a9cc9e0166987c10ccaf.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Jellyshop2000
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/2652c01cad66a344fc8cfe22e8e8ca78.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">25.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  300.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.26-2020.11.27</a>
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/e763db1c3c6644d24be35c1500b76417.jpeg"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              PARIS.SHOP
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/d560b9efaaf0ed7cd036a2f2c59de6e7.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">50%</a> <a style="font-size: 28px;">Giảm</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  399.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.10.23-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/760a37969640ba1a203ff232832cab46.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Amandad Store
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://my-live-02.slatic.net/p/04fc6410fefd3f6cea260ae26286d2c5.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">20.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  650.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.26-2020.11.27</a>
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/9c7f52694d9a4fb5c8627bb9a9f6cffb.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              TRÙM JEAN
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/9a586e81e6aa6824cd30e733fa16b2f7.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">20.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  199.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.10.23-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/8a9bfce17066381cbc2fdbb1b8bb48fe.png"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              Vayal Cao Cấp
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/e0c61655829d16ff474e718963e12982.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3">
                              <a style="font-size: 48px;">15.000</a> <a style="font-size: 28px;">₫</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  269.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.11.26-2020.11.27</a>
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5 endcard" >
                    <div class="cardhalf row">
                       <div class=" row mt-3 mb-5">
                        <div class="col-9">
                          <div class="row mb-2 mt-2">
                            <div class="left_img col-5 text-center">
                              <img src="https://vn-test-11.slatic.net/shop/37d101a2202647230e6cc50ab765ee9b.jpeg"
                              style="width: 36px; height: 36px; border-radius: 36px;" alt="">
                            </div>
                            <div class="left_desc col-7">
                              LK-(Tp.HCM)
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-5 text-center">
                              <img src="https://vn-live-01.slatic.net/p/7b9bc0d92585e1c11d12b8d9e9d4fa1c.jpg_2200x2200q75.jpg_.webp"
                              style="width: 88px; height: 88px;" alt="">
                            </div>
                            <div class="ch_text col-7 mt-3 ">
                              <a style="font-size: 48px;">40% </a> <a style="font-size: 28px;">Giảm</a> <br><br>
                              <a style="font-size: 20px;">Đơn hàng tối thiểu  499.000₫</a>
                            </div>
                          </div>
                        </div>
                        <div class="vc_but col-3 mt-5 text-center">
                          <button style="width: 100%;" class="custom-btn btn-11 mt-5">Thu thập<div class="dot"></div></button>
                        </div>
                       </div>
                       <div class=" ch_desc row">
                        <div class="col-12 mb-3">
                          <a class="desc_text">Cho toàn gian hàng Áp dụng: 2020.10.23-2020.12.31</a>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- card 4  -->

    </div>

</div>

