<div class="container-fluid" style="background: rgb(255, 150, 2);">

    <div class="container mt-5 mb-5">
      <div class="dis_header row">
        <img src="//gcp-img.slatic.net/1a1e4b9f-bc91-42c6-9612-18c228340259_VN-1188-400.jpg" alt="">
        <!-- <img src="../../../assets/images/brg.png" alt=""> -->
      </div>
      <div class="row dis_title">
        <h1>Thu Thập & Thanh Toán Ngay!</h1>
      </div>
      <div class="row">
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                FreeshipMax x3 lượt
              </div>
              <div class="price mt-5 mb-5">
                20.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  30K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                Sản phẩm Sale Địa Chấn
              </div>
              <div class="price mt-5 mb-5">
                35.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  350K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
        <div class="col-4 bgr">
          <div class="row dis_content">
            <div class="col-12">
              <div class="name mt-4">
                Sản phẩm Sale Địa Chấn
              </div>
              <div class="price mt-5 mb-5">
                80.000 đ
              </div>
            </div>
            <div class="desc col-8 mt-5 mb-4">
              Đơn hàng tối thiểu  799K
            </div>
            <div class="col-4 mt-5 mb-4">
              <button type="button" class="btn btn-light">Thu thập</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="row">
          <div class="col-md-9">
              <h3>Products Showcase using carousel and Bootstrap</h3>
          </div>
          <div class="col-md-3">
              <!-- Controls -->
              <div class="controls float-xs-right hidden-xs">
                  <a class="left fa fa-chevron-left btn btn" href="#carousel-example"
                      data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                          data-slide="next"></a>
              </div>
          </div>
      </div>
      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item  active">
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product A</h5>
                                          <h5 class="price-text-color">$7.99</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product B</h5>
                                          <h5 class="price-text-color">$9.99</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_002.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product C</h5>
                                          <h5 class="price-text-color">$7.58</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_003.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Another product</h5>
                                          <h5 class="price-text-color">$3.75</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product</h5>
                                          <h5 class="price-text-color">$7.17</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product</h5>
                                          <h5 class="price-text-color">$19.99</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_002.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product</h5>
                                          <h5 class="price-text-color">$1.99</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_003.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="col-item">
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-6">
                                          <h5>Product</h5>
                                          <h5 class="price-text-color">$1.09</h5>
                                      </div>
                                      <div class="rating hidden-sm col-md-6">
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                          <i class="price-text-color fa fa-star"></i>
                                      </div>
                                  </div>
                              </div>

                              <div class="photo">
                                  <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-fluid" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                      </p>
                                      <p class="btn-details">
                                          <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                      </p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


