<div class="container-fluid pt-5">

  <div class="row">
    <div class="col-md-9" style="padding-left: 40px;">

      <div class="titlenew row mb-2 ml-1">
        <div class="col-4 tittle-home text-center">
          {{ 'pro10' | translate }}
        </div>
        <div class="col-8 mt-4">
          <div class="controls pull-right hidden-xs">
            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
          </div>
        </div>
        <hr>
      </div>

      <div class="row products">
        <div class="col-sm-3 mb-4" *ngFor=" let item of productFavourite | paginate: { itemsPerPage: 20, currentPage: p }">
          <div>
            <img
              src="{{ item.matHang.hinh0 }}"
              alt="Sản phẩm 1"
              class="img-circle img-thumbnail"
            />
            <h2>{{item.matHang.tenHang}}</h2>
            <dl class="dl-horizontal">
              <dt>{{ 'price' | translate }}</dt>
              <dd> {{ item.matHang.gia }}</dd>

              <dt>{{ 'status' | translate }}</dt>
              <dd>{{ 'stocking' | translate }}</dd>
              <dt>{{ 'manufacturer' | translate }}</dt>
              <dd>{{ 'viet' | translate }}</dd>
            </dl>
            <a routerLink="/proDetaill" (click)="productDetails(item.matHang.id)" class="btn btn-1 color-green">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              {{ 'detail' | translate }}
            </a>
          </div>
        </div>

      </div>

    </div>
    <div class="ps-sidebar col-md  " style=" background: white; margin-right: 40px; margin-bottom: 75px; border-radius: 5px;"
    data-mh="product-listing">
      <aside class="ps-widget--sidebar ps-widget--category mt-3">
        <div class="ps-widget__header">
          <h3>Danh mục</h3>
        </div>
        <div class="ps-widget__content">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let item of category" [value]="item.id" (click)="getProduct(item.id)" >
              {{item.tenLoaiHang}}
            </mat-radio-button>
          </mat-radio-group>
          </div>
        </aside>
        <aside class="ps-widget--sidebar ps-widget--category">
          <div class="ps-widget__header">
            <h3>Giá tiền</h3>
          </div>
          <div class="ps-widget__content">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button" [value]="100" (click)="getPrice(100)" >
                Dưới 100k
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="1000" (click)="getPrice300(100)" >
                Từ 100k đến 300k
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="300" (click)="getPrice1000(300)" >
                Từ 300k đến 1000k
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </aside>
      <div class="ps-sticky desktop">
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Size</h3>
          </div>
          <div class="ps-widget__content">
            <table class="table ps-table--size">
              <tbody>
                <tr>
                  <td class="active">3</td>
                  <td>5.5</td>
                  <td>8</td>
                  <td>10.5</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>3.5</td>
                  <td>6</td>
                  <td>8.5</td>
                  <td>11</td>
                  <td>13.5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>6.5</td>
                  <td>9</td>
                  <td>11.5</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>4.5</td>
                  <td>7</td>
                  <td>9.5</td>
                  <td>12</td>
                  <td>14.5</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>7.5</td>
                  <td>10</td>
                  <td>12.5</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </aside>
        <aside class="ps-widget--sidebar">
          <div class="ps-widget__header">
            <h3>Color</h3>
          </div>
          <div class="ps-widget__content">
            <ul class="ps-list--color">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
