
<div class="header--sidebar"></div>


<main class="ps-main" >
  <div *ngIf="product">
  <div class="test">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

        </div>
      </div>
    </div>
  </div>
  <div class="ps-product--detail pt-50" >
    <div class="ps-container">
      <div class="row" style="background: white; padding-top: 50px; margin-bottom: 50px;">
        <div class="col-lg-10 col-md-12 col-lg-offset-1">

          <div class="ps-product__thumbnail">

            <div class="ps-product__preview">
              <div class="ps-product__variants">
                <div  class="item">
                  <img src="{{product.hinh0}}" (mouseover)="img_zoom = img_0; myFullresImage = img_0" alt="" />
                </div>
                <div class="item">
                  <img src="{{product.hinh1}}" (mouseover)="img_zoom = img_1; myFullresImage = img_1"  alt="" />
                </div>
                <div class="item">
                  <img src="{{product.hinh2}}" (mouseover)="img_zoom = img_2; myFullresImage = img_2"  alt="" />
                </div>
                <div class="item">
                  <img src="{{product.hinh3}}" (mouseover)="img_zoom = img_3; myFullresImage = img_3" alt="" />
                </div>
                <div class="item">
                  <a class="popup-youtube ps-product__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                    <img src="../assets/images/1.jpg" alt="" />
                    <i class="fa fa-play"></i >
                  </a>
                </div>
              </div>

            </div>

            <div class="ps-product__image">
              <lib-ngx-image-zoom
              [thumbImage]=img_zoom
              [fullImage]=myFullresImage
              [magnification]="4"
              [enableScrollZoom]="true"
            ></lib-ngx-image-zoom>
            </div>

          </div>

          <div id="oke" class="ps-product__info">
            <!-- <div class="ps-product__rating">
              <select class="ps-rating">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option></select
              ><a href="#">(Read all 8 reviews)</a>
            </div> -->
            <h1>{{ product.tenHang }}</h1>
            <p class="ps-product__category">
              <a href="#"> {{ product.xuatXu }} </a> |
              <!-- <a href="#" (click)="infomationShop(product.users.id)"> {{ product.users.hoVaTen }} </a> -->
              <a (click)="infomationShop(product.users.id)"> {{ product.users.hoVaTen }} </a>
            </p>
            <h3 class="ps-product__price">500 VNĐ <del>330 VNĐ</del></h3>
            <div class="ps-product__block ps-product__quickview">
              <h4>Thông tin tham khảo</h4>
              <p>
                {{ product.moTa }}
              </p>
            </div>
            <hr> <br>
            <!-- <div class="ps-product__block ps-product__style">
              <h4>CHOOSE YOUR STYLE</h4>
              <ul>
                <li>
                  <a class="item" href="product-detail.html"
                    ><img  src="../assets/images/images/shoe/sidebar/1.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a class="item" href="product-detail.html"
                    ><img src="../assets/images/images/shoe/sidebar/2.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a class="item" href="product-detail.html"
                    ><img src="../assets/images/images/shoe/sidebar/3.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a class="item" href="product-detail.html"
                    ><img src="../assets/images/images/shoe/sidebar/2.jpg" alt=""
                  /></a>
                </li>
              </ul>
            </div> -->

            <!-- <div class="ps-product__block ps-product__size">
              <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>
              <select class="ps-select selectpicker mt-5">
                <option value="1">Select Size</option>
                <option value="2">4</option>
                <option value="3">4.5</option>
                <option value="3">5</option>
                <option value="3">6</option>
                <option value="3">6.5</option>
                <option value="3">7</option>
                <option value="3">7.5</option>
                <option value="3">8</option>
                <option value="3">8.5</option>
                <option value="3">9</option>
                <option value="3">9.5</option>
                <option value="3">10</option>
              </select>
              <div class="form-group">
                <input style="font-family: tahoma;font-size: 15px;color: brown;" class="form-control" type="number" value="1" />
              </div>
            </div> -->

            <div class="div mb-5">
              <!-- <div class="sc-gZMcBi cRIaeY"><span><img src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png" class="sc-gqjmRU hDIvun"></span><span>CHAT VỚI NHÀ TUYỂN DỤNG</span></div> -->

              <a  href="" class="ps-btn">
                <!-- <img style="width: 40px; color: white;" src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png" alt=""> -->
                <img style="width: 40px;" src="https://drive.google.com/uc?export=download&id=1vdzV_8oaOj0ZU3siHGgQ0I13ixK4CtEg" alt="">
                  &nbsp; Chat với người bán
              </a>
            </div>

            <div class="ml-2 row ps-product__shopping">
              <a  class="ps-btn mb-10" style="color: white;" *ngIf="lienhe" (click)="lienhe = false" >Liên hệ</a>
              <a  class="ps-btn mb-10" style="color: white;" *ngIf="!lienhe">{{product.dienThoai}}</a>
              <div class="ps-product__actions">
                <a class="mr-10" style="color: white;" (click)="favourite()" [class.favourite]="true">
                  <i class="fas fa-heart mt-1"></i></a>
                <a  style="color: white;"><i class="fas fa-share-alt"></i></a>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-10 col-md-12 col-lg-offset-1">
          <div class="clearfix"></div>
          <div class="ps-product__content mt-50">
            <ul class="tab-list" role="tablist">
              <li class="active">
                <a
                  href="#tab_01"
                  aria-controls="tab_01"
                  role="tab"
                  data-toggle="tab"
                  >Tổng quan</a
                >
              </li>
              <li>
                <a
                  href="#tab_02"
                  aria-controls="tab_02"
                  role="tab"
                  data-toggle="tab"
                  >Đánh giá</a
                >
              </li>
              <li>
                <a
                  href="#tab_03"
                  aria-controls="tab_03"
                  role="tab"
                  data-toggle="tab"
                  >Sản phẩm</a
                >
              </li>
              <li>
                <a
                  href="#tab_04"
                  aria-controls="tab_04"
                  role="tab"
                  data-toggle="tab"
                  >Bình luận</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-content mb-60">
            <div class="tab-pane active" role="tabpanel" id="tab_01">
              <p>
                Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly
                bear claw liquorice. Gingerbread lollipop dragée cake. Pie
                topping jelly-o. Fruitcake dragée candy canes tootsie roll.
                Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.
              </p>
              <p>
                Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears
                jujubes cake lemon drops gummi bears croissant macaroon pie.
                Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw
                jujubes topping cake apple pie. Jujubes gummi bears soufflé
                candy canes topping gummi bears cake soufflé cake. Cotton candy
                soufflé sugar plum pastry sweet roll..
              </p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_02">
              <p class="mb-20">
                1 đánh giá:  <strong>{{ product.tenHang }}</strong>
              </p>
              <div class="ps-review">
                <div class="ps-review__thumbnail">
                  <img src="../assets/images/images/user/1.jpg" alt="" />
                </div>
                <div class="ps-review__content">
                  <header>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                    <p>Đánh giá của<a href="">Nguyen Ba Tuong</a> - 22/10/2020</p>
                  </header>
                  <p>
                    Sản phẩm dùng được, phù hợp với giá. Giao hàng nhanh chóng
                  </p>
                </div>
              </div>
              <form class="ps-product__review" action="_action" method="post">
                <h4 style="color: #2AC37D;">Thêm đánh giá của bạn</h4>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Họ Tên:<span>*</span></label>
                      <input class="form-control" type="text" placeholder="" />
                    </div>
                    <div class="form-group">
                      <label>Email:<span>*</span></label>
                      <input class="form-control" type="email" placeholder="" />
                    </div>
                    <div class="form-group">
                      <label>Đánh giá số sao<span></span></label>
                      <select style="margin-left: 10px;">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Đánh giá:</label>
                      <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                      <button class="ps-btn ps-btn--sm">
                        Thêm đánh giá<i class="ps-icon-next"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_03">
              <p style="font-size: 18px; font-family: tahoma; color: #2AC37D; margin-left: 20px;">Thêm thẻ của bạn <span> *</span></p>
              <form class="ps-product__tags" action="_action" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="" />
                </div>
                <button style="margin-left: 20px; font-size: 15px; font-family: tahoma;" class="ps-btn ps-btn--sm">Thêm thẻ</button>
              </form>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_04">
              <!-- <h3>Bình Luận</h3> -->
              <div style="width: 800px;">

                <div style="background-color: #F1F1F1; padding: 20px; border: 5px; margin-bottom: 20px;" *ngFor="let cm of comments" >
                  <div class="commentid">
                    <p>Bình luận của <label style="color: #2AC37D;" for="name">{{cm.users.hoVaTen}} </label> | {{cm.ngayLap | date: 'dd/MM/yyyy'}} </p>

                  </div>
                  <div class="comment">
                   <p>{{cm.noiDungBinhLuan}}</p>
                  </div>
               </div>
                <form (ngSubmit)="save()" >
                  <div class="form-group">
                    <label for="name">Viết bình luận </label>
                    <input type="text" class="form-control" id="noiDungBinhLuan" required [(ngModel)]="comments.noiDungBinhLuan" name="noiDungBinhLuan">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
