<div class="tab-pane" role="tabpanel" id="tab_04">
  <!-- <h3>Bình Luận</h3> -->
  <div style="width: 800px;">
    <div action="comment" >
       <div class="commentid">
        <label for="name">Trần Văn A </label>
       </div>
       <div class="comment">
        <p>hihihih</p>
       </div>
    </div>
    <form>
      <div class="form-group">
        <label for="name">Viết bình luận </label>
        <textarea class="form-control" rows="8ng "></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
