<!-- slide -->
<div id="carousel-simple" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-simple" data-slide-to="1"></li>
    <li data-target="#carousel-simple" data-slide-to="2"></li>
    <li data-target="#carousel-simple" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img
        src="../../../assets/images/imgSL/sl01.png"
        alt=""
        class="d-block w-100"
      />
    </div>
    <div class="item">
      <img
        src="../../../assets/images/imgSL/sl02.jpg"
        alt=""
        class="d-block w-100"
      />
    </div>
    <div class="item">
      <img
        src="../../../assets/images/imgSL/sl04.jpg"
        alt=""
        class="d-block w-100"
      />
    </div>
    <div class="item">
      <img
        src="../../../assets/images/imgSL/sl05.png"
        alt=""
        class="d-block w-100"
      />
    </div>
  </div>
</div>
<!-- slide -->
<div class="container-fluid">
  <div class="row pt-3 mb-4">
    <!-- qc -->
    <div class="col-sm-2">
      <div class="box mt-2">
        <img
          src="https://kosman.vn/uploads/images/userfiles/2017/05/05/so_mi_nam_d%C3%A0i_tay_3.jpg"
          alt=""
        />
        <div class="box-heading">
          <h3 class="title">{{ 'title1' | translate }}</h3>
          <span class="post">{{ 'price1' | translate }}</span>
        </div>
        <div class="boxContent text-justify">
          <p class="description">
            {{ 'caption1' | translate }}
          </p>
          <a routerLink="/proDetaill" class="cart" >{{ 'detail' | translate }}</a>
        </div>
      </div>
      <div class="box mt-4">
        <img
          src="https://file.hstatic.net/1000043302/file/2_2d049544c7a74644b01f96f0058dc246_grande.jpg"
          alt=""
        />
        <div class="box-heading">
          <h3 class="title">{{ 'title2' | translate }}</h3>
          <span class="post">{{ 'price2' | translate }}</span>
        </div>
        <div class="boxContent text-justify">
          <p class="description">
            {{ 'caption2' | translate }}
          </p>
          <a routerLink="/proDetaill" class="cart"> {{ 'detail' | translate }}</a>
        </div>
      </div>
      <div class="box mt-4">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/61mzFEx2M7L._AC_SY500_.jpg"
          alt=""
        />
        <div class="box-heading">

          <!-- <h3 class="title">IPhone 11</h3>
          <spaUpdatedn class="post">{{ 'detail' | translate }}: 22.000.000 đ</spaUpdatedn> -->

          <h3 class="title">{{ 'title3' | translate }}</h3>
          <span class="post">{{ 'price3' | translate }}</span>

        </div>
        <div class="boxContent text-justify">
          <p class="description">
            {{ 'caption3' | translate }}
          </p>
          <a routerLink="/proDetaill" class="cart"> {{ 'detail' | translate }}</a>
        </div>
      </div>
      <div class="box mt-4">
        <img
          src="https://salt.tikicdn.com/cache/w300/ts/product/71/f2/e7/bee7f27a40f37df08c16ce95b97b310b.jpg"
          alt=""
        />
        <div class="box-heading">
          <h3 class="title">{{ 'title4' | translate }}</h3>
          <span class="post">{{ 'price4' | translate }}</span>
        </div>
        <div class="boxContent text-justify">
          <p class="description">
            {{ 'caption4' | translate }}
          </p>
          <a routerLink="/proDetaill" class="cart"> {{ 'detail' | translate }}</a>
        </div>
      </div>
      <div class="box mt-4">
        <img
          src="https://vnreview.vn/image/12/54/62/1254628.jpg?t=1407103761309"
          alt=""
        />
        <div class="box-heading">
          <h3 class="title">{{ 'title5' | translate }}</h3>
          <span class="post">{{ 'price5' | translate }}</span>
        </div>
        <div class="boxContent text-justify">
          <p class="description">
            {{ 'caption5' | translate }}
          </p>
          <a routerLink="/proDetaill" class="cart"> {{ 'detail' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- nd -->
    <div class="col-sm-8">
      <div>
        <!-- button -->
        <div class="row pt-2">
          <div class="col-sm-3">
            <!-- <button type="button" class="btn btn-outline-primary w-100"> <a style="font-size: 15px;"><i
                  class="fas fa-address-card p-2 m-2"> Mã Giảm Giá </i></a> </button> -->
            <button routerLink="/demo" class="custom-btn btn-13">{{ 'producttitle1' | translate }}</button>
          </div>
          <div class="col-sm-3">
            <!-- <button type="button" class="btn btn-outline-success w-100"> <a style="font-size: 15px;"><i
                  class="fab fa-adversal p-2 m-2"> Mã Giảm Giá </i></a> </button> -->
            <button routerLink="/discout-code" class="custom-btn btn-13">{{ 'producttitle2' | translate }}</button>
          </div>
          <div class="col-sm-3">
            <button routerLink="/git-card" class="custom-btn btn-13">{{ 'producttitle3' | translate }}</button>
            <!-- <button type="button" class="btn btn-outline-danger w-100"> <a style="font-size: 15px;"><i
                  class="fab fa-alipay p-2 m-2"> Mã Giảm Giá </i></a> </button> -->
          </div>
          <div class="col-sm-3">
            <button class="custom-btn btn-13">{{ 'producttitle4' | translate }}</button>
            <!-- <button type="button" class="btn btn-outline-warning w-100"> <a style="font-size: 15px;"><i
                  class="fas fa-anchor p-2 m-2"> Mã Giảm Giá </i></a> </button> -->
          </div>
        </div>

        <!-- tieu de cua hang -->
        <div class="row pt-5 pb-2 mb-2">
          <div class="ml-4 tittle-home justify-content-center">
            {{ 'featured' | translate }}
          </div>
          <div class="col mr-4 tittle-right"></div>
          <hr />
        </div>

        <div class="row">
          <div class="col-sm-3">
            <a routerLink="/shop">
              <div class="hover hover-2 text-white rounded">
                <img
                  src="https://i.pinimg.com/originals/db/99/f9/db99f973480432763551314af9b818a5.jpg"
                  alt=""
                />
                <div class="hover-overlay"></div>
                <div class="hover-2-noidung px-5 py-4">
                  <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                    <span class="font-weight-success"
                      >{{ 'featured1' | translate }}</span
                    >
                  </h3>
                  <div
                    class="hover-2-trichdan font-weight-light mb-5"

                  >
                    <div class="rating hidden-sm col-md-7 " style="left: 21%">
                      <i class="price-text-color fa fa-star" ></i
                      ><i class="price-text-color fa fa-star"> </i
                      ><i class="price-text-color fa fa-star"></i
                      ><i class="price-text-color fa fa-star"> </i
                      ><i class="fa fa-star"></i>
                    </div>
                    <br />
                    <p>
                      {{ 'reviews1' | translate }}

                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://sofaaroma.vn/wp-content/uploads/2020/02/32.jpg"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    > {{ 'featured2' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews2' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://cf.shopee.vn/file/de2f270d2c800f61d21b55d946e02637"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    > {{ 'featured3' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews3' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://cf.shopee.vn/file/7df31b58b42f72e5b9f4524c1dfa8119&quot"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    >{{ 'featured4' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews4' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cau hang moi -->
        <div class="row pt-5 pb-2 mb-2">
          <div class="ml-4 tittle-home justify-content-center">
            {{ 'storenew' | translate }}
          </div>
          <div class="col mr-4 tittle-right"></div>
          <hr />
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-pink-hand-painted-cosmetics-beauty-banner-image_191212.jpg"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    >{{ 'featured5' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews5' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://image.plo.vn/w653/Uploaded/2020/wsxrzreyxq/2020_08_29/hinh51_bllz.jpeg"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success" >
                    {{ 'featured6' | translate }}
                  </span>
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews6' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://media3.scdn.vn/img2/2018/9_25/qzQCLV_simg_de2fe0_500x500_maxb.jpg"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    > {{ 'featured7' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews7' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/059/078/files/phu-tung-oto-chinh-hang3.jpeg?v=1495003257616"
                alt=""
              />
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0">
                  <span class="font-weight-success"
                    >  {{ 'featured8' | translate }}</span
                  >
                </h3>
                <div
                  class="hover-2-trichdan font-weight-light mb-5"

                >
                <div class="rating hidden-sm col-md-7 " style="left: 21%">
                    <i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="price-text-color fa fa-star"></i
                    ><i class="price-text-color fa fa-star"> </i
                    ><i class="fa fa-star"></i>
                  </div>
                  <br />
                  <p>
                    {{ 'reviews8' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tieu de -->
        <div class="row pt-5 pb-2 mb-2">
          <div class="ml-4 tittle-home justify-content-center"> {{ 'collecton' | translate }}</div>
          <div class="col mr-4 tittle-right"></div>
          <hr />
        </div>
        <!-- sp -->
        <div class="row ml-2 mr-2"  >
          <div class="col-4 bst" >
            <div class="row pt-3 mb-4 justify-content-center"><h3 >{{ 'collecton1' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"><img  src="https://my-live-02.slatic.net/p/f10c890385ad74f9a5ef276becc9da51.jpg" alt=""></div>
              <div class="col-4"> <img  src="https://vn-test-11.slatic.net/original/5b0c85c5da547eb91269b1f5adf2786d.jpg_80x80q80.jpg_.webp" alt=""></div>
              <div class="col-4"> <img   src="https://my-test-11.slatic.net/p/3d1a7f6b83c1c00446d434062d3c349f.jpg_80x80q80.jpg_.webp" alt=""></div>
            </div>
          </div>
           <div class="col-4 bst">
            <div class="row pt-3 mb-4 justify-content-center"><h3 >{{ 'collecton2' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"><img src="https://vn-test-11.slatic.net/p/12308c8c5cb9c872142f8cf185cc2b44.jpg_80x80q80.jpg_.webp" alt=""></div>
              <div class="col-4"> <img  src="https://vn-test-11.slatic.net/p/facd89ca7ae5130499ed8fd55726ba63.jpg_80x80q80.jpg_.webp" alt="" ></div>
              <div class="col-4"> <img  src="https://my-test-11.slatic.net/p/4d59689bcae19b48c8563deb453f6dd3.jpg_80x80q80.jpg_.webp" alt=""></div>
            </div>
          </div>
          <div class="col-4 bst">
            <div class="row pt-3 mb-4 justify-content-center"><h3 >{{ 'collecton3' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"><img  src="https://vn-test-11.slatic.net/p/6168c093be9c86002bffbc2bb290f9d7.jpg_80x80q80.jpg_.webp" alt=""></div>
              <div class="col-4"> <img  src="https://id-live-02.slatic.net/original/5e4d1d7466a9d57e0fbef6096e302d4e.jpg" alt="" ></div>
              <div class="col-4"> <img src="https://vn-test-11.slatic.net/p/146bcb5a1285bdf9e83bf3d3b20c92de.jpg_80x80q80.jpg_.webp"  alt=""></div>
            </div>
          </div>

        </div>
        <div class="row ml-2 mr-2 mt-1 "  >
          <div class="col-4 bst">
            <div class="row pt-3 mb-4 justify-content-center"><h3 > {{ 'collecton4' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"><img  src="https://my-live-02.slatic.net/p/30b9d5966b5451570b8dd47013f11a12.jpg" alt=""></div>
              <div class="col-4"> <img  src="https://vn-test-11.slatic.net/p/651eebba08afc4c63fa66358f808b957.jpg_80x80q80.jpg_.webp" alt=""></div>
              <div class="col-4"> <img   src="https://vn-test-11.slatic.net/p/dc7e8c1c8aeea6fb0ad03da5581fe8e0.jpg_80x80q80.jpg_.webp" alt=""></div>
            </div>
          </div>
           <div class="col-4 bst">
            <div class="row pt-3 mb-4 justify-content-center"><h3 >{{ 'collecton5' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"><img  src="https://vn-test-11.slatic.net/p/a0c78db6e14fa51f3ed4c5da0328ddc0.jpg_80x80q80.jpg_.webp" alt=""></div>
              <div class="col-4"> <img  src="https://my-live-02.slatic.net/p/43676af1c78eec925c7753ca2fee7d36.jpg" alt="" ></div>
              <div class="col-4"> <img src="https://vn-test-11.slatic.net/p/7ea2f868df18cf5351d12b116d3036cf.jpg_80x80q80.jpg_.webp" alt=""></div>
            </div>
          </div>
          <div class="col-4 bst">
            <div class="row pt-3 mb-4 justify-content-center"><h3 >{{ 'collecton6' | translate }}</h3></div>
            <div class="row pb-3">
              <div class="col-4"> <img  src="https://my-live-02.slatic.net/p/6b167a1d37b0718bd056819a7b523e08.jpg" alt=""></div>
              <div class="col-4"> <img  src="https://vn-test-11.slatic.net/p/8320c3800a977a672e38508c94875c06.jpg_80x80q80.jpg_.webp" alt="" ></div>
              <div class="col-4"> <img  src="https://my-live-02.slatic.net/p/818f6f6bd68641b1c916648ecbbf6fe7.jpg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="row pt-5">
          <div class="ml-4 tittle-home justify-content-center">
            {{ 'pro' | translate }}
          </div>
          <div class="col mr-4 tittle-right"></div>
          <hr />
        </div>

        <!-- sp -->
        <div class="products row ">
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//ph-test-11.slatic.net/p/d2a5e8400b57e1e0fec2dbd0baa1cc95.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 1"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro1' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>999.000đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'viet' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/4d12133fb58cf93ef302691c6e7d5ceb.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 2"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro2' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>100.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'china' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="http://vn-test-11.slatic.net/p/66dbc9d236326be453545dbff2c5241e.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro3' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>300.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'viet' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/1a1ef634fef23de8822c844ac73befce.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro4' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>123.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'japan' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>

          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/445288dee1084c05efb711fcb8669dd3.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 1"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro5' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>20.000đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'japan' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//my-test-11.slatic.net/p/1d0372ffa54698c31a8ca5a0bdc6c63e.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 2"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro6' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>600.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'viet' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/e77331c6769e5a24fc88ff4f72a30503.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro7' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>333.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'viet' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//my-test-11.slatic.net/p/a985e8b45da0ba58c1c00808feb74985.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>{{ 'pro8' | translate }}</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>700.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>{{ 'stocking' | translate }}</dd>
                <dt> {{ 'manufacturer' | translate }}</dt>
                <dd>{{ 'china' | translate }}</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-1 color-green">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                {{ 'detail' | translate }}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mx-auto">
             <a routerLink="/all-products" class="btn3">
              Xem thêm
             </a>
          </div>
        </div>
      </div>
    </div>

    <!-- qc -->
    <div class="col-sm-2 mt-2 right-layout">
      <img class="iconHopQua" src="../../../assets/images/icons/hopqua1.png" />
      <div class="endow-t ml-1">{{ 'producttitle5' | translate }}</div>
      <ul class="nav nav-tabs ml-1" role="tablist">
        <li class="nav-item" class="active">
          <a
            class="nav-link"
            href="#tab_01"
            aria-controls="tab_01"
            role="tab"
            data-toggle="tab"
            >{{ 'all' | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#tab_02"
            aria-controls="tab_02"
            role="tab"
            data-toggle="tab"
            >{{ 'me' | translate }}</a
          >
        </li>
      </ul>

      <div class="tab-content ">
        <div class="tab-pane active" id="tab_01">
          <div style="background-color: #fff; height: 15px;"></div>

          <div class="git ">
            <img class="img-responsive" src="https://static.appotapay.com//assert/fr/2018-11-08/3ZbVGh97r9f5fWA1aDc01WyNCFHsOeQMRn0lEIIB.jpeg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro1' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://didongviet.vn/blog/wp-content/uploads/2020/08/1200x628-7.jpg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro2' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://moist-diane.com.vn/upload/images/S%C4%82N%20VOUCHER-01hhh(3).jpg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro3' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class="git">
            <img class="img-responsive" src="https://media.meete.co/cache/800x0/2020/10/14/5d986527-504e-4879-9075-a2027b32003c.jpeg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro4' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://atmilk.vn/wp-content/uploads/2018/12/ATMILK-web.png" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro5' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://bucket.nhanh.vn/store/7534/artCT/66147/img_9206.jpg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro6' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class="git">
            <img class="img-responsive" src="https://static.appotapay.com//assert/fr/2018-11-08/3ZbVGh97r9f5fWA1aDc01WyNCFHsOeQMRn0lEIIB.jpeg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro1' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://didongviet.vn/blog/wp-content/uploads/2020/08/1200x628-7.jpg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'endowpro2' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab_02">
          <div style="background-color: #fff; height: 15px;"></div>

          <div class="git">
            <img class="img-responsive" src="https://shopby.vn/wp-content/uploads/2019/04/phi-giao-hang-lazada.png" />
            <div class="row mt-2 mb-2"><h3 >{{ 'free' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://giamgiamoimua.com/wp-content/uploads/2019/04/lazada-mien-phi-van-chuyen-3.jpg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'free' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
          <div class=" git">
            <img class="img-responsive" src="https://thuvienmuasam.com/uploads/default/original/2X/f/fa6a71b50262aba764baad7e3d108638fb23a3e1.jpeg" />
            <div class="row mt-2 mb-2"><h3 >{{ 'free' | translate }}</h3></div>
            <div class="row xu">
              <a  class="btn col-6" title="100đ"
                > {{ 'Point' | translate }}</a
              >
              <button routerLink="/" class="custom-btn btn-4 col-6"><span>{{ 'change' | translate }}</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
