<div class="container-fluid">
  <!-- slide -->
  <div id="carousel-simple" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-simple" data-slide-to="1"></li>
      <li data-target="#carousel-simple" data-slide-to="2"></li>
      <li data-target="#carousel-simple" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img
          src="https://static.chotot.com.vn/storage/admin-centre/buyer_collection_y_homepage_banner/buyer_collection_y_homepage_banner_1600686253876.jpg"
          alt="" class="d-block w-100" />
      </div>
      <div class="item">
        <img
          src="https://static.chotot.com.vn/storage/admin-centre/buyer_collection_y_homepage_banner/buyer_collection_y_homepage_banner_1600686253876.jpg"
          alt="" class="d-block w-100" />
      </div>
      <div class="item">
        <img
          src="https://static.chotot.com.vn/storage/admin-centre/buyer_collection_y_homepage_banner/buyer_collection_y_homepage_banner_1600686253876.jpg"
          alt="" class="d-block w-100" />
      </div>
      <div class="item">
        <img
          src="https://static.chotot.com.vn/storage/admin-centre/buyer_collection_y_homepage_banner/buyer_collection_y_homepage_banner_1600686253876.jpg"
          alt="" class="d-block w-100" />
      </div>
    </div>
  </div>
  <!-- slide -->

  <div class="row pt-2">
    <!-- qc -->
    <div class="col-sm-2">
      oke
    </div>
    <!-- nd -->
    <div class="col-sm-8">
      <div class="container">
        <!-- button -->
        <div class="row pt-2">
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary w-100"> <a style="font-size: 15px;"><i
                  class="fas fa-address-card p-2 m-2"> Mã Giảm Giá </i></a> </button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-success w-100"> <a style="font-size: 15px;"><i
                  class="fab fa-adversal p-2 m-2"> Mã Giảm Giá </i></a> </button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger w-100"> <a style="font-size: 15px;"><i
                  class="fab fa-alipay p-2 m-2"> Mã Giảm Giá </i></a> </button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-warning w-100"> <a style="font-size: 15px;"><i
                  class="fas fa-anchor p-2 m-2"> Mã Giảm Giá </i></a> </button>
          </div>
        </div>
        <!-- button -->
        <!-- gioi thieu -->
        <div class="row text-justify">
          <a style="
              color: darkblue;
              font-size: 15px;
              font-family: Arial, Helvetica, sans-serif;
            "><br />
            Green Market chính thức gia nhập thị trường Việt Nam vào đầu năm
            2020, với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết
            nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ
            đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.
            <br />

            Đến nay, Green Market tự hào là Website rao vặt được ưa chuộng hàng
            đầu Việt Nam. Hàng ngàn món hời từ Bất động sản, Nhà cửa, Xe cộ, Đồ
            điện tử, Thú cưng, Vật dụng cá nhân... đến tìm việc làm, thông tin
            tuyển dụng, các dịch vụ - du lịch được đăng tin, rao bán trên Green
            Market. <br />

            Với Green Market, bạn có thể dễ dàng mua bán, trao đổi bất cứ một
            loại mặt hàng nào, dù đó là đồ cũ hay đồ mới với nhiều lĩnh vực:<br />

            Bất động sản: Cho thuê, Mua bán nhà đất, căn hộ chung cư, văn phòng
            mặt bằng kinh doanh, phòng trọ đa dạng về diện tích, vị trí<br />

            Phương tiện đi lại: xe ô tô, xe máy có độ bền cao, giá cả hợp lý.<br />

            Đồ dùng cá nhân: quần áo, giày dép, túi xách, đồng hồ... đa phong
            cách, hợp thời trang.<br />

            Đồ điện tử: điện thoại di động, máy tính bảng, laptop, tivi, loa,
            amply...; đồ điện gia dụng: máy giặt, tủ lạnh, máy lạnh... với rất
            nhiều nhãn hiệu, kích thước khác nhau.<br />

            ﻿Vật nuôi, thú cưng đa chủng loại: gà, chó, chim, mèo, cá, hamster
            giá cực tốt.<br />

            Tuyển dụng, việc làm với hàng triệu công việc hấp dẫn, phù hợp.<br />

            ﻿Dịch vụ, du lịch: khách sạn, vé máy bay, vé tàu, vé xe, tour du
            lịch và các voucher du lịch... uy tín, chất lượng.<br />

            ﻿Đồ ăn, thực phẩm: các món ăn được chế biến thơm ngon, hấp dẫn, thực
            phẩm tươi sống, an toàn & giá cả hợp lý.<br />

            Và còn rất nhiều mặt hàng khác nữa đã và đang được rao bán tại Green
            Market.<br />

            Mỗi người trong chúng ta đều có những sản phẩm đã qua sử dụng và
            không cần dùng tới nữa. Vậy còn chần chừ gì nữa mà không để nó trở
            nên giá trị hơn với người khác. Rất đơn giản, bạn chỉ cần chụp hình
            lại, mô tả cụ thể về sản phẩm và sử dụng ứng dụng Đăng tin miễn phí
            của Green Market là đã có thể đến gần hơn với người cần nó.<br />

            Không những thế, Green Market còn cung cấp cho bạn thông tin về giá
            cả các mặt hàng để bạn có thể tham khảo. Đồng thời, thông qua Blog
            kinh nghiệm, Green Market sẽ tư vấn, chia sẻ cho bạn những thông tin
            bổ ích, bí quyết, mẹo vặt giúp bạn có những giao dịch mua bán an
            toàn, đảm bảo. Green Market cũng sẵn sàng hỗ trợ bạn trong mọi
            trường hợp cần thiết.<br />

            Chúc các bạn có những trải nghiệm mua bán tuyệt vời trên Green
            Market.
          </a>
        </div>
        <!-- tieu de cua hang -->
        <div class="row pt-5 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>CỬA HÀNG NỔI BẬT</u> </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded "><img
                src="https://i.pinimg.com/564x/5b/91/5f/5b915f302433d0bc5913de0c3d929fb0.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0"> <span class="font-weight-success"
                    style="color: white;">Rồng đen</span></h3>
                <p class="hover-2-trichdan font-weight-light mb-0 " style="color: white;">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded"><img
                src="https://i.pinimg.com/564x/5b/91/5f/5b915f302433d0bc5913de0c3d929fb0.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0"> <span class="font-weight-success"
                    style="color: white;">Rồng đen</span></h3>
                <p class="hover-2-trichdan font-weight-light mb-0 " style="color: white;">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded"><img
                src="https://i.pinimg.com/564x/5b/91/5f/5b915f302433d0bc5913de0c3d929fb0.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0"> <span class="font-weight-success"
                    style="color: white;">Rồng đen</span></h3>
                <p class="hover-2-trichdan font-weight-light mb-0 " style="color: white;">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hover hover-2 text-white rounded"><img
                src="https://i.pinimg.com/564x/5b/91/5f/5b915f302433d0bc5913de0c3d929fb0.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-2-noidung px-5 py-4">
                <h3 class="hover-2-tieude text-uppercase font-weight-bold mb-0"> <span class="font-weight-success"
                    style="color: white;">Rồng đen</span></h3>
                <p class="hover-2-trichdan font-weight-light mb-0 " style="color: white;">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- tieu de cua hang -->
        <!-- tieu de cua hang-->
        <div class="row pt-5 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>DANH MỤC SẢN PHẨM</u> </h1>
          </div>
        </div>
        <!-- tieu de cua hang-->
        <!-- show -->
        <div class="row pt-2 pb-5">
          <div class="well">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://canthoplus.com/wp-content/uploads/2020/03/dung-cu-the-thao-can-tho.jpg"
                          alt="Sản phẩm 1" />
                        <div class="caption">
                          <h3>Điện dân dụng</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://canthoplus.com/wp-content/uploads/2020/03/dung-cu-the-thao-can-tho.jpg"
                          alt="Sản phẩm 2" />
                        <div class="caption">
                          <h3>Thể Thao</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://phuquoctrip.com/files/product/trip2/21d06bda810f9ff07a7ddf6e558f93fe.jpg"
                          alt="Sản phẩm 3" />
                        <div class="caption">
                          <h3>Du Lịch</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img
                          src="https://img.websosanh.vn/v2/users/review/images/9-mau-xe-may-dien-yen-thap/kmumb5wfgmdr8.jpg"
                          alt="Sản phẩm 4" />
                        <div class="caption">
                          <h3>Xe cộ</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img
                          src="https://storage.googleapis.com/cdn.nhanh.vn/store/11237/artCT/53831/article_1569036243_237.png"
                          alt="Sản phẩm 5" />
                        <div class="caption">
                          <h3>Thời Trang Nữ</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://cdn.voh.com.vn/voh/Image/2020/08/27/1min_20200827141201.jpg"
                          alt="Sản phẩm 6" />
                        <div class="caption">
                          <h3>Thời Trang Nam</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img
                          src="https://cdn-gd-v1.webbnc.net/useruploads/userfiles//510509/images/giay-dep-gia-si-o-ha-noi-1.jpg.jpg"
                          alt="Sản phẩm 7" />
                        <div class="caption">
                          <h3>Giày Dép</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img
                          src="https://file.hstatic.net/1000387570/article/bi-do-truoc-khi-sinh-cho-me-va-be_a43842f9f27947e482db33ce46714a18_90a45bc6367f44feb509e206a765f9c8_1024x1024.jpg"
                          alt="Sản phẩm 8" />
                        <div class="caption">
                          <h3>Mẹ Và Bé</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://noithatmanhphat.vn/hm_content/uploads//361.jpg" alt="Sản phẩm 9" />
                        <div class="caption">
                          <h3>Văn Phòng</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://canthoplus.com/wp-content/uploads/2019/08/dich-vu-thu-cung-can-tho.jpg"
                          alt="Sản phẩm 10" />
                        <div class="caption">
                          <h3>Thú Cưng</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://gocnhin.com.vn/cdn1/2020/07/20170905075842-a131.jpg" alt="Sản phẩm 11" />
                        <div class="caption">
                          <h3>Bất Động Sản</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="https://kingbbq.com.vn/wp-content/uploads/2014/09/am-thuc-han-quoc-0.jpg"
                          alt="Sản phẩm 12" />
                        <div class="caption">
                          <h3>Đồ Ăn</h3>
                          <p>
                            <a href="#" class="btn btn-success" role="button">Đi đến</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
                  class="fa fa-chevron-left fa-2x"></i></a>
              <a class="right carousel-control" href="#cpadmin/#myCarousel" data-slide="next"><i
                  class="fa fa-chevron-right fa-2x"></i></a>
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
        <!-- tieu de -->
        <div class="row pt-5 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>SẢN PHẨM NỔI BẬT</u> </h1>
          </div>
        </div>
        <!-- sp -->
        <div class="row">
          <div class="col-sm-3" id="transition">
            <a href="#">
              <img src="https://i.pinimg.com/564x/32/4e/fa/324efa3f132e222749b48b80a7e27442.jpg"/></a>
          </div>
          <div class="col-sm-3" id="transition">
            <a href="#">
              <img src="https://i.pinimg.com/564x/32/4e/fa/324efa3f132e222749b48b80a7e27442.jpg"  /></a>
          </div>
          <div class="col-sm-3" id="transition">
            <a href="#">
              <img src="https://i.pinimg.com/564x/32/4e/fa/324efa3f132e222749b48b80a7e27442.jpg"  /></a>
          </div>
          <div class="col-sm-3" id="transition">
            <a href="#">
              <img src="https://i.pinimg.com/564x/32/4e/fa/324efa3f132e222749b48b80a7e27442.jpg"  /></a>
          </div>
        </div>
        <!-- tieu de -->
        <div class="row pt-5 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>SẢN PHẨM NỔI BẬT</u> </h1>
          </div>
        </div>
        <!-- sp -->
        <div class="row products">
          <div class="col-sm-3">
            <div> <img src="https://i.pinimg.com/564x/28/e8/f0/28e8f01ebb3a01379833c56b39a38ef1.jpg" alt="Sản phẩm 1"
                class="img-circle img-thumbnail">
              <h2>Sản phẩm 1</h2>
              <dl class="dl-horizontal">
                <dt>Giá:</dt>
                <dd> 500.000 đ</dd>
                <dt>Bảo hành:</dt>
                <dd> 12 tháng</dd>
                <dt>Tình trạng:</dt>
                <dd> Còn hàng</dd>
                <dt>Hãng sản xuất: </dt>
                <dd>Japan</dd>
              </dl> <a href="#" class="btn btn-primary" title="Chi tiết">Chi tiết »</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div> <img src="https://i.pinimg.com/564x/37/73/63/377363bb703833538ad0a2194a1d5146.jpg" alt="Sản phẩm 2"
                class="img-circle img-thumbnail">
              <h2>Sản phẩm 2</h2>
              <dl class="dl-horizontal">
                <dt>Giá:</dt>
                <dd> 600.000 đ</dd>
                <dt>Bảo hành:</dt>
                <dd> 12 tháng</dd>
                <dt>Tình trạng:</dt>
                <dd> Còn hàng</dd>
                <dt>Hãng sản xuất: </dt>
                <dd>Japan</dd>
              </dl> <a href="#" class="btn btn-primary" title="Chi tiết">Chi tiết »</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div> <img src="https://i.pinimg.com/564x/55/a1/b2/55a1b2e288ce260ff225b0c4d3226698.jpg" alt="Sản phẩm 3"
                class="img-circle img-thumbnail">
              <h2>Sản phẩm 3</h2>
              <dl class="dl-horizontal">
                <dt>Giá:</dt>
                <dd> 700.000 đ</dd>
                <dt>Bảo hành:</dt>
                <dd> 12 tháng</dd>
                <dt>Tình trạng:</dt>
                <dd> Còn hàng</dd>
                <dt>Hãng sản xuất: </dt>
                <dd>Japan</dd>
              </dl> <a href="#" class="btn btn-primary" title="Chi tiết">Chi tiết »</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div> <img src="https://i.pinimg.com/564x/55/a1/b2/55a1b2e288ce260ff225b0c4d3226698.jpg" alt="Sản phẩm 3"
                class="img-circle img-thumbnail">
              <h2>Sản phẩm 3</h2>
              <dl class="dl-horizontal">
                <dt>Giá:</dt>
                <dd> 700.000 đ</dd>
                <dt>Bảo hành:</dt>
                <dd> 12 tháng</dd>
                <dt>Tình trạng:</dt>
                <dd> Còn hàng</dd>
                <dt>Hãng sản xuất: </dt>
                <dd>Japan</dd>
              </dl> <a href="#" class="btn btn-primary" title="Chi tiết">Chi tiết »</a>
            </div>
          </div>
        </div>
        <!-- story -->
        <!-- tieu de -->
        <div class="row pt-3 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>SẢN PHẨM NỔI BẬT</u> </h1>
          </div>
        </div>
        <!-- sp -->
        <div class="row pb-5">
          <div class="col-sm-3">
           <div class="box"> <img src="https://i.pinimg.com/236x/cb/c3/e5/cbc3e5c2ee417651aa551a85f2aa2ad7.jpg" alt="">
            <div class="box-heading">
             <h3 class="title">Mẫu thiết kế 1</h3><span class="post">Giá: 200.000 đ</span>
            </div>
            <div class="boxContent">
             <p class="description"> Chúc con yêu của bạn có thêm những bộ đồ thời trang cho bé trai theo phong cách đa màu sắc cực xinh xắn và đáng yêu! </p><a href="#" class="cart"><i class="fas fa-arrow-alt-circle-right"></i> Đặt hàng</a>
            </div>
           </div>
          </div>
          <div class="col-sm-3">
           <div class="box"> <img src="https://i.pinimg.com/236x/cb/c3/e5/cbc3e5c2ee417651aa551a85f2aa2ad7.jpg" alt="">
            <div class="box-heading">
             <h3 class="title">Mẫu thiết kế 2</h3><span class="post">Giá: 200.000 đ</span>
            </div>
            <div class="boxContent">
             <p class="description"> Chúc con yêu của bạn có thêm những bộ đồ thời trang cho bé trai theo phong cách đa màu sắc cực xinh xắn và đáng yêu! </p><a href="#" class="cart"><i class="fas fa-arrow-alt-circle-right"></i> Đặt hàng</a>
            </div>
           </div>
          </div>
          <div class="col-sm-3">
            <div class="box"> <img src="https://i.pinimg.com/236x/cb/c3/e5/cbc3e5c2ee417651aa551a85f2aa2ad7.jpg" alt="">
             <div class="box-heading">
              <h3 class="title">Mẫu thiết kế 2</h3><span class="post">Giá: 200.000 đ</span>
             </div>
             <div class="boxContent">
              <p class="description"> Chúc con yêu của bạn có thêm những bộ đồ thời trang cho bé trai theo phong cách đa màu sắc cực xinh xắn và đáng yêu! </p><a href="#" class="cart"><i class="fas fa-arrow-alt-circle-right"></i> Đặt hàng</a>
             </div>
            </div>
           </div>
          <div class="col-sm-3">
           <div class="box"> <img src="https://i.pinimg.com/236x/cb/c3/e5/cbc3e5c2ee417651aa551a85f2aa2ad7.jpg" alt="">
            <div class="box-heading">
             <h3 class="title">Mẫu thiết kế 3</h3><span class="post">Giá: 200.000 đ</span>
            </div>
            <div class="boxContent">
             <p class="description"> Chúc con yêu của bạn có thêm những bộ đồ thời trang cho bé trai theo phong cách đa màu sắc cực xinh xắn và đáng yêu! </p><a href="#" class="cart"><i class="fas fa-arrow-alt-circle-right"></i> Đặt hàng</a>
            </div>
           </div>
          </div>
        </div>
        <!-- tieu de -->
        <div class="row pt-3 pb-2">
          <div class="col-sm-12">
            <h1 style="color:green;"><i class="fab fa-adversal mr-2"></i><u>SẢN PHẨM NỔI BẬT</u> </h1>
          </div>
        </div>
        <!-- sp -->
        <div class="row">

        </div>
      </div>
    </div>
    <!-- qc -->
    <div class="col-sm-2">
      <div class="vertical-nav" style="background-color: teal; " id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
          <div class="media d-flex align-items-center"><img
              src="https://i.pinimg.com/564x/8b/f5/68/8bf5689456b68cd8af836c943c3754f2.jpg" alt="..." width="65"
              class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
              <p class="font-weight-light text-muted mb-0">Green Market</p>
            </div>
          </div>
        </div>
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
        <ul class="nav flex-column mb-0" style="background-color: thistle;">
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
              Services
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
              Gallery
            </a>
          </li>
        </ul>
        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
        <ul class="nav flex-column mb-0" style="background-color: thistle;">
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
              Area charts
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
              Bar charts
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
              Pie charts
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
              <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
              Line charts
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- silde -->
<script>
  $("#myCarousel").carousel({
    interval: 4000,
  });

</script>
<!-- menucon -->
<script>
  $(function () {
    // Sidebar toggle behavior
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar, #content').toggleClass('active');
    });
  });

</script>
<!-- lll -->
<script type="text/javascript">
  $(document).ready(function () {

    $('#itemslider').carousel({
      interval: 3000
    });

    $('.carousel-showmanymoveone .item').each(function () {
      var itemToClone = $(this);

      for (var i = 1; i < 6; i++) {
        itemToClone = itemToClone.next();

        if (!itemToClone.length) {
          itemToClone = $(this).siblings(':first');
        }

        itemToClone.children(':first-child').clone()
          .addClass("cloneditem-" + (i))
          .appendTo($(this));
      }
    });
  });

</script>
<!-- trsi -->

