<div class="container">

  <div class="tophead"> <a href="tel:19002628" title="Hotline mua hàng giải phóng hàng tồn"> <img class=" lazyloaded"
        style="cursor:pointer" data-src="/public/dienmaycholon/general/img/2020091702.png"
        src="../../../assets/images/images/pronews/top.PNG" alt="Hotline giải phóng hàng tồn"> </a></div>

  &nbsp;&nbsp;&nbsp;&nbsp;


  <div class="row">
    <div class="row">
      <div class="col-md-9">

        <h2 class="title_category title_promohome"> <span class="floor"> CÁC SẢN PHẦM MỚI </span> </h2>

      </div>
      <div class="col-md-3">
        <!-- Controls -->
        <div class="controls pull-right hidden-xs">
          <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a
            class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
        </div>
      </div>
    </div>
    <hr>
    <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-3" *ngFor="let product of products">
              <div class="col-item">
                <i class="iconsprites_payment_0d">Trả góp 0% - Trả trước 0Đ</i>
                <div class="photo">
                  <img src="{{ product.image }}" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6">
                      <h5>
                        {{ product.name }} </h5>
                      <h5 class="price-text-color">
                        {{ product.price }} <sup>đ</sup> </h5>
                      <span class="price_market"> {{ product.price2 }}<sup>đ</sup> </span>
                    </div>
                    <div class="rating hidden-sm col-md-6">
                      <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Thêm
                        Vào Giỏ</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Chi Tiết</a>
                    </p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3" *ngFor="let product2 of products2">
              <div class="col-item">
                <i class="iconsprites_payment_0d">Trả góp 0% - Trả trước 0Đ</i>
                <div class="photo">
                  <img src="{{ product2.image }}" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6">
                      <h5>
                        {{ product2.name }}</h5>
                      <h5 class="price-text-color">
                        {{ product2.price }} <sup>đ</sup></h5>
                      <span class="price_market"> {{ product2.price2 }}<sup>đ</sup> </span>
                    </div>
                    <div class="rating hidden-sm col-md-6">
                      <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Thêm
                        Vào Giỏ</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Chi Tiết</a>
                    </p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-9">

        <h2 class="title_category title_promohome"> <span class="floor"> CÁC SẢN PHẦM MỚI </span> </h2>

      </div>
      <div class="col-md-3">
        <!-- Controls -->
        <div class="controls pull-right hidden-xs">
          <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a
            class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
        </div>
      </div>
    </div>
    <hr>
    <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-3" *ngFor="let product of products">
              <div class="col-item">
                <i class="iconsprites_payment_0d">Trả góp 0% - Trả trước 0Đ</i>
                <div class="photo">
                  <img src="{{ product.image }}" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6">
                      <h5>
                        {{ product.name }} </h5>
                      <h5 class="price-text-color">
                        {{ product.price }} <sup>đ</sup> </h5>
                      <span class="price_market"> {{ product.price2 }}<sup>đ</sup> </span>
                    </div>
                    <div class="rating hidden-sm col-md-6">
                      <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Thêm
                        Vào Giỏ</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Chi Tiết</a>
                    </p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3" *ngFor="let product2 of products2">
              <div class="col-item">
                <i class="iconsprites_payment_0d">Trả góp 0% - Trả trước 0Đ</i>
                <div class="photo">
                  <img src="{{ product2.image }}" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6">
                      <h5>
                        {{ product2.name }}</h5>
                      <h5 class="price-text-color">
                        {{ product2.price }} <sup>đ</sup></h5>
                      <span class="price_market"> {{ product2.price2 }}<sup>đ</sup> </span>
                    </div>
                    <div class="rating hidden-sm col-md-6">
                      <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                      </i><i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Thêm
                        Vào Giỏ</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Chi Tiết</a>
                    </p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
