
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
img {
  border-style: none;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
p {
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
}
p span {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #2ac37d;
}
a,input,textarea,
button,select {
  outline: none;
}
a:hover,h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,h6:focus {
  text-decoration: none;
}
a:focus,button:focus,select:focus,input:focus,textarea:focus {
  outline: none;
  text-decoration: none;
}
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*2. ELEMENTS*/
@media (min-width: 320px) {
  .ps-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .ps-container {
    width: 1170px;
  }
  .container-fluid {
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .ps-container {
    width: 1440px;
  }
}

/* khac  */
@keyframes animLoader {
  to {
    transform: rotate(360deg);
  }
}
/*3.COMPONENTS menu*/
.itemTop{
  position: relative;
}
.mega-menu {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #d8d8d8;
}
.mega-menu .mega-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  text-align: left;
}
.mega-menu .mega-heading {
  margin-bottom: 15px;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8em;
  color: #1d1d1d;
  text-transform: uppercase;
}
.mega-menu .mega-column {
  width: 25%;
  padding: 0 30px;
  border-right: 1px solid #d8d8d8;
}
.mega-menu .mega-column:last-child {
  border-right: 0;
}
.mega-menu .mega-item a {
  display: block;
  padding: 5px 0;
  position: relative;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 400;
}
.mega-menu .mega-item a:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #2ac37d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mega-menu .mega-item a:hover {
  padding-left: 25px;
  color: #2ac37d;
  text-decoration:none;
}
.mega-menu .mega-item a:hover:before {
  width: 20px;
}
.mega-menu .mega-item.mega-features li {
  margin-bottom: 0;
}
.mega-menu .mega-item.mega-features a {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8em;
  color: #1d1d1d;
  text-transform: uppercase;
}
.mega-menu .mega-item.mega-features a:hover {
  color: #2ac37d;
}
@media (max-width: 1199px) {
  .mega-menu {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .mega-menu .mega-wrap {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 15px;
    border-top: 1px solid #eee;
  }
  .mega-menu .mega-column {
    width: 100%;
    margin-bottom: 15px;
    padding: 0 0 15px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
  .mega-menu .mega-column:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .mega-menu .mega-item li a {
    font-size: 13px;
  }
  .mega-menu .mega-item.mega-features li > a {
    font-size: 13px;
  }
}
.menu {
  display: inline-block;
  vertical-align: top;
}
.menu::after {
  clear: both;
  content: "";
  display: table;
}
.menu > li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.menu > li > a {
  position: relative;
  z-index: 10;
  display: inline-block;
  font-family: "Archivo Narrow", sans-serif;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  color: #000;
}
.menu > li > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 30px;
  width: 100%;
  background-color: #2ac37d;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5);
  -moz-transform: translate(-50%, -50%) scale(0.5, 0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5, 0.5);
  -o-transform: translate(-50%, -50%) scale(0.5, 0.5);
  transform: translate(-50%, -50%) scale(0.5, 0.5);
  visibility: hidden;
  opacity: 0;
}
.menu > li > a:hover {
  color: #fff;
}
.menu > li > a:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
}
.menu > li > .sub-menu {
  visibility: hidden;
  opacity: 0;
}
.menu > li.has-mega-menu {
  position: static;
}
.menu > li.dropdown {
  position: relative;
}
.menu > li.dropdown:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(1) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(2) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(3) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(4) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(5) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(6) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(7) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(8) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(9) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(10) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(11) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(12) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(13) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(14) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.dropdown:hover > .sub-menu li:nth-child(15) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li.current-menu-item > a {
  color: #fff;
}
.menu > li.current-menu-item > a:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
}
.menu > li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.menu > li:hover .mega-menu {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1199px) {
  .menu {
    display: block;
  }
  .menu > li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .menu > li > a {
    display: block;
    line-height: 30px;
    font-weight: 600;
    font-size: 13px;
  }
  .menu > li > a:before {
    display: none;
  }
  .menu > li:hover > a,
  .menu > li.current > a {
    background-color: #e5e5e5;
    color: #303030;
  }
  .menu > li.menu-item-has-children > a:after {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
  }
  .menu .sub-menu {
    padding: 0;
    position: relative;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }
  .menu .sub-menu > li {
    border-bottom: 1px solid #eee;
  }
  .menu .sub-menu > li > a {
    padding: 10px 15px;
  }
  .menu .sub-menu > li:last-child {
    border-bottom: 0;
  }
  .menu .sub-menu > li.menu-item-has-children > .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .menu .sub-menu > li.menu-item-has-children > .sub-menu li a {
    padding-left: 30px;
  }
}

.navigation {
  position: relative;
  color: #fff;
}
.navigation .navigation__column {
  float: left;
}
.navigation .navigation__column.left {
  width: 25%;
}
.navigation .navigation__column.center {
  width: 50%;
}
.navigation .navigation__column.right {
  width: 25%;
}
.navigation .center {
  text-align: center;
}
.navigation .navigation__column.right {
  text-align: right;
}
.navigation .navigation__column.right .ps-cart__toggle {
  top: 15px;
}
.navigation .navigation__column.right .ps-search--header {
  top: 25px;
}
.navigation .ps-search--header {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 1199px) {
  .navigation .navigation__column {
    width: 100%;
  }
  .navigation .navigation__column.left {
    width: 50%;
  }
  .navigation .navigation__column.center {
    width: 0;
  }
  .navigation .navigation__column.right {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .navigation .navigation__column {
    width: 100%;
  }
  .navigation .navigation__column.left {
    width: 35%;
  }
  .navigation .navigation__column.center {
    width: 0;
  }
  .navigation .navigation__column.right {
    width: 65%;
  }
}
@media (max-width: 767px) {
  .navigation .navigation__column {
    width: 100%;
  }
  .navigation .navigation__column.left {
    width: 30%;
  }
  .navigation .navigation__column.right {
    width: 70%;
  }
}


