
<div class="container-fluid pb-4 mt-5">
  <div class="col-md-1"></div>
  <div class="col-md-10" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">

            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <div id="tieude1" style="margin-right: 30px;">
                  <span>Thông tin tài khoản</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered" style="background: white;">
                  <tr>
                    <th>Username:</th>
                    <td>TuongXl</td>
                  </tr>
                  <tr>
                    <th scope="row">Mật khẩu:</th>
                    <td>********</td>
                  </tr>
                  <tr>
                    <th scope="row">Họ và tên: </th>
                    <td>Nguyễn Bá Tương</td>
                  </tr>
                  <tr>
                    <th scope="row">Địa chỉ:</th>
                    <td colspan="2"> 86 Nguyễn Sinh Sắc-Hòa Minh-Liên Chiểu-TP Đà Nẵng
                      <p> * Cung cấp địa chỉ sẽ giúp thuận tiện mua bán. Cập nhật địa chỉ ngay khi bạn thay đến địa chỉ mới *</p>
                    </td>
                  </tr>

                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered" style="background: white;">
                  <tr>
                    <th>Điện thoại:</th>
                    <td>0845220400</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>vansong2204@gmail.com</td>
                  </tr>
                  <tr>
                    <th> Ngày sinh:</th>
                    <td>99/99/9999</td>
                  </tr>
                  <tr>
                    <td>
                      <a (click)="isShowFormUser = true" *ngIf="!isShowFormUser" ><i class="fas fa-edit">Chỉnh sửa</i></a>
                      <p>*Điều chỉnh thông tin cá nhân*</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="col-md-3 mt-4">

            <div class="card poly-cart" data-toggle="collapse">
              <div class="card-header" >
                <!-- <span class="glyphicon glyphicon-th-list"></span> -->
                <div class="row">
                  <div class="col-md-5">
                    <img src="https://drive.google.com/uc?export=download&id=1WhbvBn4dpZSRFfKvcVozP3WlbM06WnXd" alt="">
                  </div>
                  <div class="col-md-7 mt-4" >
                    <strong> Xu Green</strong> <br>
                    <strong>9.999.999đ</strong>
                  </div>
                </div>
              </div>
              <div class="card-header">
                <span class="lnr lnr-gift"></span>
                <strong> Xu Green Market</strong>
              </div>
              <div class="list-group" id="">
                <div ng-repeat="sub in list_subject">


                  <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 1.500.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 1.000.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 500.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 100.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 50.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 20.000 xu</a>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-success">NẠP NGAY</button>
              </div>
            </div>

          </div>
        </div>
      </div>



      <!-- form sua tt  -->
      <div *ngIf="isShowFormUser">
        <div class="row">
          <div class="col-md-12 ml-4">
            <div id="tieude2">
              <span>Chỉnh sửa thông tin</span>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-12 ml-4">
            <div class="container-login100">
              <div class="wrap-login100  p-r-50  p-b-30 text-center ">
                <form class="login100-form validate-form">
                  <span class="login100-form-title p-b-20 ml-5 mt-5" style="font-family: sans-serif">

                  </span>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-users"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="name" placeholder="Họ và tên">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-license"></span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="dienthoai" placeholder="Điện thoại">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-phone"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email/Tên đăng nhập">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-envelope"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Password is required">
                        <input class="input100" type="date" name="date" placeholder="Ngày sinh">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-calendar-full"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Password is required">
                        <input class="input100" type="text" name="diachi" placeholder="Địa chỉ">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-map"></span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <div class="container-login100-form-btn p-t-22 ml-4">
                        <button class="login100-form-btn" onclick="hoantat()">
                          hoàn thành
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form sua tt  -->
      <div class="row">
      <!-- them  -->
        <div class="bieutuong mt-5">
          <div class="row">
            <div class="col-md-2">
              <img src="https://brasol.vn/public/uploads/1521190030-brasol.vn-logo-vietcombank-logo-vietcombank.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://luzuu.com/wp-content/uploads/2020/09/MOMO.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://ccshop.live/wp-content/uploads/2020/04/unnamed-1.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://luatvietan.vn/wp-content/uploads/2014/07/dich-vu-visa.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3hC64q8xQC4diaQ7G5vM9KSM8AvmFdkkUpQ&usqp=CAU" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://storage.googleapis.com/reward/userfiles/backend/reward/detail/1448856376_4f1bda18726739c4a9385714e9c758e7617a422b.jpg?v=1601536523" alt="">
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-2">
              <img src="https://seeklogo.com/images/A/agribank-logo-1CEEE70C76-seeklogo.com.png" >
            </div>
            <div class="col-md-2">
              <img src="https://profinefilter.com/wp-content/uploads/2018/06/MOCA-1.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/b1/8c/b18cd405-3927-460f-a03c-5229199add79/logo-apa_400x400.png__300x300_q95_crop_subsampling-2.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://lh3.googleusercontent.com/lV3APm1GNftfThy3Jr_P5_gMbtOQ64BJTC3Qja1JY43tDAGR-kIe1JygCWY8ggbpYVc" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://pbs.twimg.com/profile_images/1148276766160670720/aZ37u8P-_400x400.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://lh3.googleusercontent.com/proxy/POE-Zn882eRGWiCj2ttAG543JAZTY1tHTMgggPmdE0GVUrJ9SPCnTHcVS4LGzobIeTLFH4ZGNUVa34c2s3cZ3e6zXB5xUHKF5l8quT6shAGf5uY" alt="">
            </div>
          </div>
        </div>
      <!-- them  -->
      </div>
  </div>
  <div class="col-md-1"></div>
</div>
