
<div class="container-fluid pb-4 mt-5">
  <div class="col-md-1"></div>
  <div class="col-md-10" >
      <div class="container-fluid">
        <div class="row pt-3 pb-2 mb-2">
          <div class="ml-1  tittle-home justify-content-center">
            Thông tin cá nhân
          </div>
          <div class=" tittle-right"></div>
          <hr />
        </div>
        <div class="row" style="display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;">
          <div class="col-md-8" style="display: flex;
          flex-direction: column;" >

            <!-- <div class="row mt-3 mb-2">
              <div class="col-md-12">
                <div id="tieude1" style="margin-left: -15px;">
                  <span>Thông tin tài khoản</span>
                </div>
              </div>
            </div> -->


            <div class="row">
              <div class="col-md-12 col-sm-6 pt-4 pb-2" style="background: white;border-radius: 5px; ">
                <table class="table table-bordered">
                  <tr>
                    <th>Username:</th>
                    <td>TuongXl</td>
                    <td class="anhdd" rowspan="6" colspan="1" >
                      <img src="https://upload.wikimedia.org/wikipedia/vi/archive/f/fe/20201011055543%21MoMo_Logo.png" alt="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Mật khẩu:</th>
                    <td>********</td>
                  </tr>
                  <tr>
                    <th scope="row">Họ và tên: </th>
                    <td>Nguyễn Bá Tương</td>
                  </tr>
                  <tr>
                    <th> Ngày sinh:</th>
                    <td>99/99/9999</td>
                  </tr>
                  <tr>
                    <th>Điện thoại:</th>
                    <td>0845220400</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>vansong2204@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">Địa chỉ:</th>
                    <td colspan="3"> 86 Nguyễn Sinh Sắc-Hòa Minh-Liên Chiểu-TP Đà Nẵng
                      <p> * Cung cấp địa chỉ sẽ giúp thuận tiện mua bán. Cập nhật địa chỉ ngay khi bạn thay đến địa chỉ mới *</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="min-height: 22px;" class="div"><a (click)="isShowFormUser = true" *ngIf="!isShowFormUser" ><i class="fas fa-edit">Chỉnh sửa</i></a></div>
                      <p>*Điều chỉnh thông tin cá nhân*</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="col-md-4 col-sm-4" style="display: flex;
          flex-direction: column;">
            <div class="card poly-cart " data-toggle="collapse">
              <div class="card-header" >
                <!-- <span class="glyphicon glyphicon-th-list"></span> -->
                <div class="row pt-4 pb-4">
                  <div class="col-md-5 col-sm-6">
                    <img style="width: 70px;height: 70px;" src="https://drive.google.com/uc?export=download&id=1ALOnxfEtxHvBG4ZjmwBGGlx3DqJn8TId" alt="">
                  </div>
                  <div class="col-md-7 mt-4 col-sm-6" >
                    <strong> Xu Green</strong> <br>
                    <strong>9.999.999đ</strong>
                  </div>
                </div>
              </div>
              <div class="card-header pt-4 pb-4">
                <span class="lnr lnr-gift"></span>
                <strong> Các gói nạp</strong>
              </div>
              <div class="list-group pt-1 pb-2">
                <div>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 500.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 100.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 50.000 xu</a>
                    <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 20.000 xu</a>
                </div>
              </div>
              <div class="card-footer pt-4 pb-4" >
                <button type="button" class="btn btn-success">NẠP NGAY</button>
              </div>
            </div>

          </div>
        </div>
      </div>



      <!-- form sua tt  -->
      <div *ngIf="isShowFormUser">
        <!-- <div class="row">
          <div class="col-md-12 ml-1 mt-5">
            <div id="tieude2">
              <span>Chỉnh sửa thông tin</span>
            </div>
          </div>
        </div> -->

        <div class="row pt-5 pb-1 mb-1" style="padding-left: 3px;">
          <div class="ml-4 tittle-home justify-content-center">
            Chỉnh sửa thông tin
          </div>
          <div class="col mr-5 tittle-right" ></div>
          <hr />
        </div>

        <div class="row" >
          <div class="col-md-12 ml-1">
            <div class="container-login100">
              <div class="wrap-login100  p-r-50  p-b-30 text-center ">
                <form class="login100-form validate-form pr-5">
                  <span class="login100-form-title p-b-20 ml-5 mt-5" style="font-family: sans-serif">

                  </span>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <!-- <span class="lnr lnr-users"></span> -->
                          <img src="https://img.icons8.com/cute-clipart/64/000000/name.png"/>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                      </div>

                      <!-- <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-lock"></span>
                        </span>
                      </div> -->

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="name" placeholder="Họ và tên">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-license"></span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Không được bỏ trống">
                        <input class="input100" type="text" name="dienthoai" placeholder="Điện thoại">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-phone"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email/Tên đăng nhập">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-envelope"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Password is required">
                        <input class="input100" type="date" name="date" placeholder="Ngày sinh">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-calendar-full"></span>
                        </span>
                      </div>

                      <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                        data-validate="Password is required">
                        <input class="input100" type="text" name="diachi" placeholder="Địa chỉ">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <span class="lnr lnr-map"></span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <div class="container-login100-form-btn p-t-22 ml-4">
                        <button class="login100-form-btn" (click)="isShowFormUser = false" >
                          hoàn thành
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form sua tt  -->
      <div class="row">
      <!-- them  -->
        <div class="bieutuong mt-5 mr-5 ml-3 mb-5">
          <div class="row">
            <div class="col-md-2">
              <img src="https://bachbao.com/wp-content/uploads/2020/07/y-nghia-logo-ngan-hang-vietcombank.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://khuyenmaiviet.vn/wp-content/uploads/2020/06/logo-momo.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://static.wixstatic.com/media/9d8ed5_fcec0317a8bb4557bd4bffb3dffa3194~mv2.jpg/v1/fill/w_800,h_400,al_c,q_90/9d8ed5_fcec0317a8bb4557bd4bffb3dffa3194~mv2.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://luatvietan.vn/wp-content/uploads/2014/07/dich-vu-visa.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://img.topbank.vn/2019/12/24/b8awMTJx/bao-kim-la-gi-aac6.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://4.bp.blogspot.com/-39D2ehYaVAQ/WMO3Wvs4kKI/AAAAAAAAAFE/VvRTPY-YmMcJ05n6IdtNaj5Yo-4Tlr4MQCLcB/s1600/dang-ky-tk-ngan-luong-to.png" alt="">
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-2">
              <img src="https://static.ybox.vn/2019/10/6/1572025513859-1571463337209-1570763569837-1568950907085-1.png" >
            </div>
            <div class="col-md-2">
              <img src="https://static.ybox.vn/2018/3/6/0799dfd8-210f-11e8-87aa-cac091044fd5.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://infofinance.vn/wp-content/uploads/2020/09/chuyen-tien-qua-airpay-co-mat-phi-khong1.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://www.msb.com.vn:8080/razuna/assets/1/EA65B322B235464E98A7D4A148BE9E0C/img/378B4FB6BDF743CBB9C68FDC8C248DB4/deal_1.jpg" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://stewpot.org/wp-content/uploads/2013/10/BankPlus-2019.png" alt="">
            </div>
            <div class="col-md-2">
              <img src="https://coin68.com/wp-content/uploads/2019/11/zalopay.png" alt="">
            </div>
          </div>
        </div>
      <!-- them  -->
      </div>
  </div>
  <div class="col-md-1"></div>
</div>


