<section>
  <div class="container-fluid pb-4 pt-4">
    <div class="row">

      <div class="col-md-8">
        <div class="row" >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               <div id="tieude">
                 <span>Thông tin tài khoản</span>
               </div>
              </div>
             </div>
            <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" style="background: white;">
                <tr>
                  <th >Username:</th>
                  <td>TuongXl</td>
                  <th >Điện thoại:</th>
                  <td >0845220400</td>
                </tr>
                <tr>
                  <th scope="row">Mật khẩu:</th>
                  <td>********</td>
                  <th>Email:</th>
                  <td>vansong2204@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">Họ và tên: </th>
                  <td>Nguyễn Bá Tương</td>
                  <th> Ngày sinh:</th>
                  <td>99/99/9999</td>
                </tr>
                <tr>
                  <th  scope="row">Địa chỉ:</th>
                  <td colspan="3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat omnis ad excepturi similique dolor, quam rem temporibus provident officia recusandae amet est quae modi unde iure sequi beatae perferendis qui.</td>
                </tr>

              </table>
              <button type="button" id="chinh" class="btn btn-outline-primary" style="margin-left: 30px;">Chỉnh sửa</button>
            </div>
            </div>

          </div>
        </div>
       <div class="row" >
        <div class="container">
          <div class="container-login100" id="an">
            <div class="wrap-login100 p-l-5 p-r-50  p-b-30 text-center ml-5">
              <form class="login100-form validate-form">
                <span class="login100-form-title p-b-20 ml-5 mt-5" style="font-family: sans-serif;color: green;">
                  chỉnh sửa thông tin
                </span>

                <div class="row">
                  <div class="col-md-6"  >
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;" data-validate="Không được bỏ trống">
                      <input class="input100" type="text" name="username" placeholder="Username">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-users"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;" data-validate="Password is required">
                      <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;" data-validate="Password is required">
                      <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                      </span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;" data-validate="Không được bỏ trống">
                      <input class="input100" type="text" name="name" placeholder="Họ và tên">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-license"></span>
                      </span>
                    </div>


                  </div>

                  <div class="col-md-6" >
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;" data-validate="Không được bỏ trống">
                      <input class="input100" type="text" name="dienthoai" placeholder="Điện thoại">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-phone"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;" data-validate="Valid email is required: ex@abc.xyz">
                      <input class="input100" type="text" name="email" placeholder="Email/Tên đăng nhập">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;" data-validate="Password is required">
                      <input class="input100" type="date" name="date" placeholder="Ngày sinh">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-calendar-full"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;" data-validate="Password is required">
                      <input class="input100" type="text" name="diachi" placeholder="Địa chỉ">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-map"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-3" >
                    <div class="container-login100-form-btn p-t-22 ml-4">
                      <button class="login100-form-btn" >
                        Hoàn thành
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
       </div>

      </div>
      <div class="col-md-4">
        <div class="form_content" style="width: 95%;">
          <iframe id="bando" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.962306465158!2d108.1548290146842!3d16.067445688882092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421946cc24eac7%3A0x12722925634638c9!2zODYgTmd1eeG7hW4gU2luaCBT4bqvYywgSG_DoCBNaW5oLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1601918252595!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <h2>Liên Hệ Với Chúng Tôi</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Ex qui alias assumenda officia soluta, sapiente eaque
            similique explicabo in repellat dolor incidunt consectetur
            nam temporibus culpa illo harum rem aspernatur?</p>
          <a href="#">Chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</section>

