<div class="container-fluid mb-5">
  <div class="row pt-5" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4" id="card">
          <div class="container-fluid mt-4">
            <div class="row">
              <div class="col-md-4">
                <img class="img" src="https://cdn.printgo.vn/uploads/media/772948/thiet-ke-logo-noi-that-dep-doc-la-voi-nhieu-uu-dai-2_1584000050.jpg" alt="">
              </div>
              <div class="col-md-8 pt-4" >
                <h2>XƯỞNG MAY FURNITURE</h2>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <button type="button" class="btn btn-danger">Theo dõi</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-success">Chat ngay</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <table class="table table-bordered" style="background: white;border-radius: 5px;" >
              <tr>
                <th scope="col">Điện thoại: </th>
                <td scope="col">0854220400 </td>
                <th scope="col">Đánh giá: </th>
                <td scope="col">10đ </td>
              </tr>
              <tr>
                <th >Email: </th>
                <td>vansong2204@gmail.com</td>
                <th>Tham gia: </th>
                <td>17 tháng</td>
              </tr>
              <tr>
                <th >Địa chỉ:</th>
                <td>460 Lý Thường Kiệt, Liên Chiểu, Đà Nẵng </td>
                <th >Sản phẩm: </th>
                <td >123</td>
              </tr>
          </table>
        </div>
        <!-- <div class="col-md-4" style="background-color: hotpink;">

        </div>
        <div class="col-md-4" style="background-color: khaki;">

        </div> -->
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <nav id="nav-1">
      <a class="link-1" href="#">Quần Jean</a>
      <a class="link-1" href="#">Áo sơ mi</a>
      <a class="link-1" href="#">Contact</a>
      <a class="link-1" href="#">Shop</a>
    </nav>
  </div>
  <div class="row mt-5 mb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row products">
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//ph-test-11.slatic.net/p/d2a5e8400b57e1e0fec2dbd0baa1cc95.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 1"
                class="img-circle img-thumbnail"
              />
              <h2>Máy ảnh PS</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>999.000đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Nhật Bản</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/4d12133fb58cf93ef302691c6e7d5ceb.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 2"
                class="img-circle img-thumbnail"
              />
              <h2>Bộ đồ thể thao</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>100.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Nike</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="http://vn-test-11.slatic.net/p/66dbc9d236326be453545dbff2c5241e.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Chảo chống dính</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>300.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Napaco</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/1a1ef634fef23de8822c844ac73befce.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Giày thời trang</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>123.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Naixi</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>

          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/445288dee1084c05efb711fcb8669dd3.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 1"
                class="img-circle img-thumbnail"
              />
              <h2>Áo sơ mi nam</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>20.000đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Adidia</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//my-test-11.slatic.net/p/1d0372ffa54698c31a8ca5a0bdc6c63e.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 2"
                class="img-circle img-thumbnail"
              />
              <h2>Cần chỉnh VA</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>600.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Thiên Nhi</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/e77331c6769e5a24fc88ff4f72a30503.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Áo bò Nam</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>333.000 đ</dd>

                <dt> {{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Zolobo</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//my-test-11.slatic.net/p/a985e8b45da0ba58c1c00808feb74985.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Mô hình</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>700.000 đ</dd>

                <dt> {{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Nhật Bản</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>

          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//ph-test-11.slatic.net/p/d2a5e8400b57e1e0fec2dbd0baa1cc95.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 1"
                class="img-circle img-thumbnail"
              />
              <h2>Máy ảnh PS</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>999.000đ</dd>

                <dt> {{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Nhật Bản</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/4d12133fb58cf93ef302691c6e7d5ceb.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 2"
                class="img-circle img-thumbnail"
              />
              <h2>Bộ đồ thể thao</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>100.000 đ</dd>

                <dt> {{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Nike</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="http://vn-test-11.slatic.net/p/66dbc9d236326be453545dbff2c5241e.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Chảo chống dính</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>300.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Napaco</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
          <div class="col-sm-3 mb-4">
            <div>
              <img
                src="//vn-test-11.slatic.net/p/1a1ef634fef23de8822c844ac73befce.jpg_340x340q80.jpg_.webp"
                alt="Sản phẩm 3"
                class="img-circle img-thumbnail"
              />
              <h2>Giày thời trang</h2>
              <dl class="dl-horizontal">
                <dt>{{ 'price' | translate }}</dt>
                <dd>123.000 đ</dd>

                <dt>{{ 'status' | translate }}</dt>
                <dd>Còn hàng</dd>
                <dt>{{ 'manufacturer' | translate }}</dt>
                <dd>Naixi</dd>
              </dl>
              <a routerLink="/proDetaill" class="btn btn-primary" title="Chi tiết"
                >{{ 'detail' | translate }} »</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

