<app-nav></app-nav>

<div  >
  <router-outlet ></router-outlet>
</div>
<app-footer></app-footer>

<!-- Ring phone -->
<!-- <div class="wrapper">
  <div class="ring">
    <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
      <div class="coccoc-alo-ph-circle"></div>
      <div class="coccoc-alo-ph-circle-fill"></div>
      <div class="coccoc-alo-ph-img-circle"><div class="image"></div>

    </div>
    </div>
  </div>
</div> -->
<input type="checkbox" id="check"> <label class="chat-btn" for="check">   <i class="fab fa-facebook-messenger"></i> <i class="fa fa-close close"></i> </label>
<div class="wrapper">
  <div class="row pt-4">
    <div class="chat-main">
      <div class="col-md-12 chat-header rounded-top bg-primary text-white">
        <div class="row">
          <div class="col-md-6 username pl-4">
            <i class="fa fa-circle text-success" aria-hidden="true"></i>
            <h6 class="m-0">Adam Finn</h6>
          </div>
          <!-- <div class="col-md-4 options text-right pr-2">
                      <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                      <i class="fa fa-video-camera" aria-hidden="true"></i>
                      <i class="fa fa-circle text-success live-video mr-1" aria-hidden="true"></i>
                      <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                      <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                      <i class="fa fa-times hide-chat-box" aria-hidden="true"></i>
                    </div> -->
        </div>
      </div>
      <div class="chat-content">
        <div class="col-md-12 chats border">
          <ul class="p-0">
            <li
              class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1"
            >
              hiii
            </li>
            <li class="p-1 rounded mb-1">
              <div class="receive-msg">
                <img src="http://nicesnippets.com/demo/image1.jpg" />
                <div class="receive-msg-desc text-white text-center mt-1 ml-1 pl-2 pr-2">
                  <p class="pl-2 pr-2 rounded ">hello</p>
                </div>
              </div>
            </li>
            <li
              class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1"
            >
              how are you ???
            </li>
            <li class="p-1 rounded mb-1">
              <div class="receive-msg">
                <div class="receive-msg-img">
                  <img src="http://nicesnippets.com/demo/image1.jpg" />
                </div>
                <div
                  class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2"
                >
                  <p class="mb-0 mt-1 pl-2 pr-2 rounded-top rounded-right">
                    I'm fine !!!
                  </p>
                  <p class="mb-0 mt-1 pl-2 pr-2 rounded-bottom rounded-right">
                    Where are you ?
                  </p>
                </div>
              </div>
            </li>
            <li
              class="pl-2 pr-2 bg-primary text-white text-center send-msg mb-1 rounded-top rounded-left"
            >
              at california
            </li>
            <li class="pl-2 pr-2 bg-primary text-white text-center send-msg mb-1 rounded-bottom rounded-left"
            >
              and where are you ?
            </li>
            <li class="p-1 rounded mb-1">
              <div class="receive-msg">
                <img src="http://nicesnippets.com/demo/image1.jpg" />
                <div
                  class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2"
                >
                  <p class="pl-2 pr-2 rounded">now i'm at new york city</p>
                </div>
              </div>
            </li>
            <li
              class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1"
            >
              Ok
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 chat-footer rounded-top bg-primary text-white">
        <div class="row">
          <form action="#" method="post" class="col-md-pull">
            <div class="input-group">
              <input
                type="text"
                name="message"
                placeholder="Type Message ..."
                class="form-control"
              />
              <span class="input-group-btn">
                <button
                  style="background: orangered; color: silver"
                  type="submit"
                  class="btn btn-primary btn-flat"
                >
                  Send
                </button>
              </span>
            </div>
          </form>
          <div class="tools">
            <i class="fa fa-picture-o red" aria-hidden="true"></i>
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <i class="fa fa-bell" aria-hidden="true"></i>
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <i class="fa fa-gamepad" aria-hidden="true"></i>
            <i class="fa fa-camera" aria-hidden="true"></i>
            <i class="fa fa-folder" aria-hidden="true"></i>
            <i class="fa fa-thumbs-o-up m-0" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- back top -->
<div id="back-top"> <a href="#"> <img src="../assets/images/icons/icons8-up-squared-30.png" ></a> </div>

