<app-nav></app-nav>

<div  >
  <router-outlet ></router-outlet>
</div>
<app-footer></app-footer>

<!-- Ring phone -->
<div class="wrapper">
  <div class="ring">
    <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
      <div class="coccoc-alo-ph-circle"></div>
      <div class="coccoc-alo-ph-circle-fill"></div>
      <div (click)="boxchat = true" *ngIf="!boxchat" class="coccoc-alo-ph-img-circle"><div class="image"></div></div>
    </div>
  </div>
</div>

<!-- back top -->
<div id="back-top"> <a href="#"> <img src="../assets/images/icons/icons8-up-squared-30.png" ></a> </div>
<!-- boxchat  -->
<div class="boxchat container" *ngIf="boxchat"  style="width: 50%;">
  <div class=" row justify-content-center">
    <div class="col-md-4  chat">
      <div class="card mb-sm-3 mb-md-0 contacts_card">
      <div class="card-header">
        <div class="input-group">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="card-body contacts_body">
        <ul class="contacts">
        <li *ngFor=" let items of messenger" >
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img"
              (click)="messbox = true" (click)="idtouser(items.fromUser.id)" >
              <span class="online_icon offline"></span>
            </div>
            <div class="user_info">
              <span>{{items.fromUser.hoVaTen}}</span>
              <p>{{items.noiDungNhanTin}}</p>
            </div>
          </div>
        </li>
        </ul>
      </div>
      <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-md-8  chat"  *ngIf="messbox" >
      <div class="card" >
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="user_info" *ngIf="messenger1">
              <span>{{messenger1.fromUser.hoVaTen}}</span>
              <p>1767 Messages</p>
            </div>
            <div class="video_cam">
              <!-- <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span> -->
              <button style="z-index: 99999;" type="button" class="btn btn-danger"(click)="boxchat = false">Danger</button>
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v" ></i></span>
          <div class="action_menu">
            <ul>
              <li><i class="fas fa-user-circle"></i> View profile</li>
              <li><i class="fas fa-users"></i> Add to close friends</li>
              <li><i class="fas fa-plus"></i> Add to group</li>
              <li><i class="fas fa-ban"></i> Block</li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body">
          <div class="d-flex justify-content-start mb-4" *ngFor=" let messenger of messenger" >
            <div class="img_cont_msg">
              <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              {{messenger.noiDungNhanTin}}
              <span class="msg_time">8:40 AM, Today</span>
            </div>
          </div>
          <div class="d-flex justify-content-end mb-4" *ngFor=" let items of messenger">
            <div class="msg_cotainer_send">
              {{messenger3.noiDungNhanTin}}
              <span class="msg_time_send">8:55 AM, Today</span>
            </div>
            <div class="img_cont_msg">
              <img src="https://i.pinimg.com/564x/36/0d/c1/360dc143a4529ea0e174a7e6c2b9245c.jpg" class="rounded-circle user_img_msg">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
              <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

