<div class="container mt-5 mb-5">
  <div class="heder row mb-3">
    <!-- <img class="mx-auto" src="//gcp-img.slatic.net/b22baf18-2592-4b6a-8599-7b8e13a2b2c0_VN-1188-400.png" alt=""> -->
    <img  src="//gcp-img.slatic.net/2ac526c4-8f71-4c88-86f1-d9c22e5bc8b0_VN-1188-270.jpg" alt="">
    <!-- <img src="../../../assets/images/imgSL/sl01.png" alt=""> -->
  </div>
  <div class="the row">
    <div class="col-8 mb-5"  >
      <div class="title row mt-4">
        <div class="col-6">
          <h3 class="ml-1">Đẩy tin</h3>
        </div>
        <div class="col-6">
          <h3 class="ml-1">Các tiện ích nâng cao</h3>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-6">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Đẩy Tin Ngay
              </div>
              <div class="test_desc mb-2">
                2.000 xu / lần
              </div>
              <div class="test_cmt mb-2">
                Đẩy tin lên vị trí đầu tiên, 1 lần/ngày
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/chotot-icons/svg/green-up-lighting.svg" width="50px" height="25px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Tin Ưu Tiên
              </div>
              <div class="test_desc mb-2">
                2.500 xu / lần
              </div>
              <div class="test_cmt mb-2">
                Tin xuất hiện ở 1-5 vị trí đầu tiên của trang
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/chotot-icons/svg/green-medal.svg" width="50px" height="30px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-6 mt-2">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Gói đẩy tin
              </div>
              <div class="test_desc mb-2">
                2.500 xu / lần
              </div>
              <div class="test_cmt mb-2">
                Đẩy tin theo lịch hẹn, tùy chọn số lần/ngày
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/chotot-icons/svg/green-up-clock.svg" width="50px" height="30px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Nhãn Nổi Bật
              </div>
              <div class="test_desc mb-2">
                5.000 xu / lần
              </div>
              <div class="test_cmt mb-2">
                In đậm tiêu đề và gắn nhãn làm tin đăng nổi bật trên trang
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/chotot-icons/svg/green-label.svg" width="50px" height="30px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-2">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Nhãn HOT + Đẩy Tin
              </div>
              <div class="test_desc mb-2">
                2.700 xu / lần
              </div>
              <div class="test_cmt mb-2">
                Thêm Nhãn HOT + Đẩy Tin trong 24 giờ!
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/BUNDLE_IMAGES_CDN/bundles-hot.png" width="50px" height="30px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="test row">
            <div class="test_text col-9">
              <div class="test_name mt-3 mb-2">
                Sản phẩm nổi bật
              </div>
              <div class="test_desc mb-2">
                5.5000 xu / lần
              </div>
              <div class="test_cmt mb-2">
                Đẩy tin lên danh sách sản phẩm nổi bật
              </div>
            </div>
            <div class="test_no col-3">
              <img class="mt-3 mb-5" src="https://st.chotot.com/storage/BUNDLE_IMAGES_CDN/bundles-hot.png" width="50px" height="30px" alt="">
              <button class="custom-btn btn-11 mb-3">Chọn<div class="dot"></div></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="title row mt-4">
        <div class="col-12" style="padding: 0px;">
          <h3>Gói nạp xu</h3>
        </div>
      </div>
      <div class="row" >
        <div class="card poly-cart " data-toggle="collapse">
          <div class="card-header" >
            <div class="row pt-3 pb-3">
              <div class="col-md-5 col-sm-6">
                <img style="width: 70px;height: 70px;" src="https://drive.google.com/uc?export=download&id=1ALOnxfEtxHvBG4ZjmwBGGlx3DqJn8TId" alt="">
              </div>
              <div class="col-md-7 col-sm-6">
                <h3> Xu Green</h3>
                <h3>9.999.999đ</h3>
              </div>
            </div>
          </div>
          <div class="card-header pt-3 pb-3">
            <span class="lnr lnr-gift" style="color: rgb(88, 159, 57);"></span>
            <strong> Các gói nạp</strong>
          </div>
          <div class="list-group pt-2 pb-2">
            <div>
                <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 500.000 xu</a>
                <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 100.000 xu</a>
                <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 50.000 xu</a>
                <a href="#" class="list-group-item"><i class="fas fa-dollar-sign"></i> 20.000 xu</a>
            </div>
          </div>
          <div class="card-footer pt-4 pb-4" >
            <button type="button" class="btn">NẠP NGAY</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
