<div class="container mt-5 mb-5">
  <div class="heder row mb-3">
    <!-- <img class="mx-auto" src="//gcp-img.slatic.net/b22baf18-2592-4b6a-8599-7b8e13a2b2c0_VN-1188-400.png" alt=""> -->
    <!-- <img  src="//gcp-img.slatic.net/2ac526c4-8f71-4c88-86f1-d9c22e5bc8b0_VN-1188-270.jpg" alt=""> -->
    <img src="../../../assets/images/imgSL/sl01.png" alt="">
  </div>
  <div class="the row ">
    <div class="col-8"  >
      <div class="title row mt-4">
        <div class="col-6">
          <h3 class="ml-1">Đẩy tin</h3>
        </div>
        <div class="col-6">
          <h3 class="ml-1">Các tiện ích nâng cao</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                 Đẩy Tin Ngay
              </div>
                <div class="contentPriceText">
                  2.000 xu / lần
                </div>
                <div class="contentDescription  ">Đẩy tin lên vị trí đầu tiên, 1 lần/ngày</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/chotot-icons/svg/green-up-lighting.svg" width="50px" alt="">
              </div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                 Tin Ưu Tiên
              </div>
                <div class="contentPriceText">
                  2.500 xu / lần
                </div>
                <div class="contentDescription  ">Tin xuất hiện ở 1-5 vị trí đầu tiên của trang</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/chotot-icons/svg/green-medal.svg" width="30px" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-2">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                Gói Đẩy Tin
              </div>
                <div class="contentPriceText">
                  2.200 xu / lần
                </div>
                <div class="contentDescription  ">Đẩy tin theo lịch hẹn, tuỳ chọn số lần/ngày</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/chotot-icons/svg/green-up-clock.svg" width="50px" alt="">
              </div>
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                Nhãn Nổi Bật
              </div>
                <div class="contentPriceText">
                  5.000 xu / lần
                </div>
                <div class="contentDescription  ">In đậm tiêu đề và gắn nhãn làm tin đăng nổi bật trên trang</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/chotot-icons/svg/green-label.svg" width="30px" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-2">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                Nhãn HOT + Đẩy Tin
              </div>
                <div class="contentPriceText">
                  2.700 xu / lần
                </div>
                <div class="contentDescription  ">Thêm Nhãn HOT + Đẩy Tin trong 24 giờ!</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/BUNDLE_IMAGES_CDN/bundles-hot.png" width="50px" alt="">
              </div>
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="content    ">
            <div class="contentText ">
              <div class="contentName">
                 Sản phẩm nổi bật
              </div>
                <div class="contentPriceText">
                  5.5000 xu / lần
                </div>
                <div class="contentDescription  ">Đẩy tin lên danh sách sản phẩm nổi bật</div>
              </div>
              <div class="contentIcon ">
                <img src="https://st.chotot.com/storage/BUNDLE_IMAGES_CDN/bundles-hot.png" width="50px" alt="">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="title row mt-4">
        <div class="col-12 text-center">
          <h3 class="ml-1">Gói nạp xu</h3><hr style="height:1px;border:none;color:#333;background-color:#333;">
        </div>
      </div>
    </div>
  </div>
</div>
