<div style="width:500px;">
  <h1 mat-dialog-title class="text-center">{{ 'reset' | translate }}</h1>

<p class="text-center" *ngIf="!reset">
  {{ 'please' | translate }}
</p>
<p class="text-center" style="color: red;" *ngIf="reset">
  {{ 'checkemail2' | translate }}
</p>

<div class="form-group">
  <input style=" font-size: 20px;" type="email" class="form-control" placeholder="&nbsp;  {{ 'input' | translate }}" #passwordResetEmail required />
</div>


<div class="form-group">

<button style="width: 100%; height: 50px; font-size: 16px;" class=" btn btn-success" (click)="authService.ForgotPassword(passwordResetEmail.value) ">{{ 'reset' | translate }}</button>
<!-- RESET PASSWORD -->
</div>

</div>
