<div style="width:500px;">
  <h1 mat-dialog-title class="text-center">ĐẶT LẠI MẬT KHẨU</h1>

<p class="text-center" *ngIf="!reset">
  Vui lòng nhập địa chỉ email của bạn để yêu cầu đặt lại mật khẩu !!
</p>
<p class="text-center" style="color: red;" *ngIf="reset">
  kiểm tra email của bạn & làm theo hướng dẫn để đặt lại mật khẩu
</p>

<div class="form-group">
  <input style=" font-size: 20px;" type="email" class="form-control" placeholder="&nbsp; Email Address" #passwordResetEmail required />
</div>


<div class="form-group">

<button style="width: 100%; height: 50px; font-size: 16px;" class=" btn btn-success" (click)="authService.ForgotPassword(passwordResetEmail.value) ">ĐẶT LẠI MẬT KHẨU</button>
<!-- RESET PASSWORD -->
</div>

</div>
