<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      <div id="trangsp">
        <div class="row">
          <div class="col-md-12 mb-1">
            <div id="back">
              <a href="#">Săn voucher trong tháng</a>
            </div>
          </div>
        </div>
        <div class="row" id="ex3">
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://vangcuulong.vn/multidata/tin-doi-tac-01.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://anphat.com.vn/media/news/6851_z2098211543064_8cc9a9ee65141b66af30854dd372260d.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://taucaotocmailinh.vn/files/uploads/2020/06/banner5-1.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://nld.mediacdn.vn/2017/960x480-1-1503482446128.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://cdn.zenquiz.net/quizzes/2016/10/26/05/581039f257b0fa0300b05c9a-3f2b2760-9b3a-11e6-a7a3-050901070303-compressed.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://vuakhuyenmai.vn/wp-content/uploads/2020/09/alfresco-app-40-31020.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://hoanghamobile.com/tin-tuc/wp-content/uploads/2018/04/trai-nghiem-sony-xperia-xz2.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://bookto.vn/wp-content/uploads/2020/04/voucher-flamingo-%C4%91%E1%BA%A1i-l%E1%BA%A3i.png"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
          <div class="col-md-12 mb-5">
            <div class="tpk_card">
              <div class="front"><img src="https://gumnail.com/wp-content/uploads/2018/11/GUM-NAIL-KHUYE%CC%82%CC%81N-MA%CC%83I.jpg"></div>
                      <div class="back">
                          <div class="details">
                              <h2>Voucher Green Market<br><span>Sưu tầm ngay hôm nay</span></h2>
                              <div class="social-icons">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                </div>
          </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1>Sản phẩm gần  đây của bạn</h1>
        </div>
      </div>
      <div class="titlenew row mb-2 ml-1">
        <div class="col-3 tittle-home text-center">
        
        </div>
        <div class="col-9 mt-4">
          <div class="controls pull-right hidden-xs">
            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
          </div>
        </div>
        <hr>
      </div>
      <div class="row products">
        <div class="col-sm-3 mb-4" *ngFor=" let items of history | paginate: { itemsPerPage: 16, currentPage: p }" >
          <div>
            <img
              src="{{items.matHang.hinh0}}"
              alt="Sản phẩm 1"
              class="img-circle img-thumbnail"
            />
            <h2>{{items.matHang.tenHang}}</h2>
            <dl class="dl-horizontal">
              <dt>{{ 'price' | translate }}</dt>
              <dd>{{items.matHang.gia}}đ</dd>

              <dt>{{ 'status' | translate }}</dt>
              <dd>{{items.matHang.trangThai}} || </dd>
              <dt>{{ 'manufacturer' | translate }}</dt>
              <dd>{{items.matHang.xuatXu}}</dd>
            </dl>
            <a routerLink="/proDetaill" (click)="productDetails(items.matHang.id)" class="btn btn-primary" title="Chi tiết"
              >{{ 'detail' | translate }} »</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
